In [1]:
#manipulate dataframes in python
import pandas as pd
import numpy as np

#make API calls with python
import requests

#allows us to store results of API call cleanly
import json

import math
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
api_key = "a45a33bca80b5e1907adc4587be5c346b897dda7"

# Reason for choosing ACS1
The current main task is getting detailed population estimates for cities in the NYU City Health Dataset, which is the top 510 cities in the U.S. Therefore, ACS1 contains data for areas with populations of 65,000+. ACS1 will cover most cities in the NYU City Health Dataset.

# Data check up

We want to get stable data variables throughout the years, so we can rely on the data that we pull out using API. <br>
The following will be checked first.<br>
1. Do 2010-2018 ACS have same cities -using FIPS CODE
2. Stable variable for different years -  Variables and/or variable names can be changed and it can give us different metrics (for example, one year is the whole number and one year is a percentage). We want to find the most stable variables for each category, so we can use the same metrics in the final data products. The variable test will be checked on each category.

## 1. Do 2010-2018 ACS have same cities

We want to know ACS 1 year estimates of each year have the same cities. In the initial API pulls 2018, ACS1, which contains data for areas with populations of 65,000+, has 630 cities.  <br>

I will use two API data from Census 
1. ACS1 (Sex, Race, Ethnicity)
2. ACS1/subject (Age group)
<br>



ACS1 also has age, but ACS1/subject has age group. For example, ACS1 age is 1 or 5 years age groups, but the ACS1/subject age group is 15 to 44 and under 18. <br>So, we can minimize the calculation variables.

For checking number of cities in each dataset, I will check both dataset with total population and sex because these variables are present in both dataset and also variables in almost all cities, if the city has ACS dataset.

In [3]:
# For 

dic = {}
for year in range(2010,2019):
    
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,S0101_C01_001E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [4]:
cols= ['NAME', 'Pop_Total', 'fips_state', 'fips_place']

In [5]:
for year in range(2010,2019):
    print('cities_{} = pd.DataFrame(dic[{}][1:], columns=cols)'.format(year,year))

cities_2010 = pd.DataFrame(dic[2010][1:], columns=cols)
cities_2011 = pd.DataFrame(dic[2011][1:], columns=cols)
cities_2012 = pd.DataFrame(dic[2012][1:], columns=cols)
cities_2013 = pd.DataFrame(dic[2013][1:], columns=cols)
cities_2014 = pd.DataFrame(dic[2014][1:], columns=cols)
cities_2015 = pd.DataFrame(dic[2015][1:], columns=cols)
cities_2016 = pd.DataFrame(dic[2016][1:], columns=cols)
cities_2017 = pd.DataFrame(dic[2017][1:], columns=cols)
cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols)

In [6]:
for year in range(2010,2019):
    df_name = ('cities_{} = pd.DataFrame(dic[{}][1:], columns=cols)'.format(year,year))
    exec(df_name)

In [7]:
df_name

'cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols)'

In [8]:
cities_2010

,NAME,Pop_Total,fips_state,fips_place
0,"Birmingham city, Alabama",211670,01,07000
1,"Dothan city, Alabama",66121,01,21184
2,"Hoover city, Alabama",80376,01,35896
3,"Huntsville city, Alabama",181126,01,37000
4,"Mobile city, Alabama",195249,01,50000
5,"Montgomery city, Alabama",206655,01,51000
6,"Tuscaloosa city, Alabama",90637,01,77256
7,"Anchorage municipality, Alaska",293227,02,03000
8,"Avondale city, Arizona",76446,04,04720
9,"Chandler city, Arizona",236775,04,12000
10,"Flagstaff city, Arizona",65976,04,23620
11,"Gilbert town, Arizona",209007,04,27400
12,"Glendale city, Arizona",227358,04,27820
13,"Goodyear city, Arizona",65445,04,28380
14,"Mesa city, Arizona",440248,04,46000
15,"Peoria city, Arizona",154475,04,54050
16,"Phoenix city, Arizona",1449481,04,55000
17,"San Tan Valley CDP, Arizona",74977,04,64210
18,"Scottsdale city, Arizona",217977,04,65000
19,"Surprise city, Arizona",117826,04,71510
20,"Tempe city, Arizona",162123,04,73000
21,"Tucson city, Arizona",521132,04,77000
22,"Yuma city, Arizona",93409,04,85540
23,"Fayetteville city, Arkansas",73946,05,23290
24,"Fort Smith city, Arkansas",86338,05,24550
25,"Jonesboro city, Arkansas",67486,05,35710
26,"Little Rock city, Arkansas",193973,05,41000
27,"Springdale city, Arkansas",70751,05,66080
28,"Alameda city, California",73981,06,00562
29,"Alhambra city, California",83202,06,00884
30,"Anaheim city, California",337259,06,02000
31,"Antioch city, California",102745,06,02252
32,"Apple Valley town, California",69387,06,02364
33,"Arden-Arcade CDP, California",87272,06,02553
34,"Bakersfield city, California",348582,06,03526
35,"Baldwin Park city, California",75496,06,03666
36,"Bellflower city, California",76717,06,04982
37,"Berkeley city, California",112824,06,06000
38,"Buena Park city, California",80766,06,08786
39,"Burbank city, California",103472,06,08954
40,"Camarillo city, California",65406,06,10046
41,"Carlsbad city, California",105707,06,11194
42,"Carson city, California",91828,06,11530
43,"Chico city, California",86213,06,13014
44,"Chino city, California",78237,06,13210
45,"Chino Hills city, California",75070,06,13214
46,"Chula Vista city, California",244789,06,13392
47,"Citrus Heights city, California",83490,06,13588
48,"Clovis city, California",95915,06,14218
49,"Compton city, California",96558,06,15044
50,"Concord city, California",122508,06,16000
51,"Corona city, California",153335,06,16350
52,"Costa Mesa city, California",110253,06,16532
53,"Daly City city, California",101361,06,17918
54,"Davis city, California",65740,06,18100
55,"Downey city, California",111922,06,19766
56,"East Los Angeles CDP, California",127198,06,20802
57,"El Cajon city, California",99841,06,21712
58,"Elk Grove city, California",153401,06,22020
59,"El Monte city, California",113614,06,22230
60,"Escondido city, California",144402,06,22804
61,"Fairfield city, California",105580,06,23182
62,"Folsom city, California",72348,06,24638
63,"Fontana city, California",196778,06,24680
64,"Fremont city, California",214613,06,26000
65,"Fresno city, California",496147,06,27000
66,"Fullerton city, California",135541,06,28000
67,"Garden Grove city, California",171386,06,29000
68,"Glendale city, California",191954,06,30000
69,"Hawthorne city, California",84382,06,32548
70,"Hayward city, California",144549,06,33000
71,"Hemet city, California",79157,06,33182
72,"Hesperia city, California",90486,06,33434
73,"Huntington Beach city, California",190541,06,36000
74,"Indio city, California",76512,06,36448
75,"Inglewood city, California",109799,06,36546
76,"Irvine city, California",212982,06,36770
77,"Lake Forest city, California",77482,06,39496
78,"Lakewood city, California",80154,06,39892
79,"Lancaster city, California",156786,06,40130
80,"Livermore city, California",81178,06,41992
81,"Long Beach city, California",462793,06,43000
82,"Los Angeles city, California",3797144,06,44000
83,"Lynwood city, California",69863,06,44574
84,"Manteca city, California",67338,06,45484
85,"Menifee city, California",78018,06,46842
86,"Merced city, California",79254,06,46898
87,"Milpitas city, California",67011,06,47766
88,"Mission Viejo city, California",93585,06,48256
89,"Modesto city, California",201520,06,48354
90,"Moreno Valley city, California",194592,06,49270
91,"Mountain View city, California",74320,06,49670
92,"Murrieta city, California",104108,06,50076
93,"Napa city, California",77122,06,50258
94,"Newport Beach city, California",85442,06,51182
95,"Norwalk city, California",105686,06,52526
96,"Oakland city, California",391672,06,53000
97,"Oceanside city, California",167680,06,53322
98,"Ontario city, California",164517,06,53896
99,"Orange city, California",136803,06,53980
100,"Oxnard city, California",198484,06,54652
101,"Palmdale city, California",152944,06,55156
102,"Pasadena city, California",137294,06,56000
103,"Perris city, California",68816,06,56700
104,"Pittsburg city, California",63510,06,57456
105,"Pleasanton city, California",70456,06,57792
106,"Pomona city, California",149225,06,58072
107,"Rancho Cucamonga city, California",165858,06,59451
108,"Redding city, California",89901,06,59920
109,"Redlands city, California",68994,06,59962
110,"Redondo Beach city, California",66825,06,60018
111,"Redwood City city, California",77013,06,60102
112,"Rialto city, California",99530,06,60466
113,"Richmond city, California",104059,06,60620
114,"Riverside city, California",305707,06,62000
115,"Roseville city, California",119335,06,62938
116,"Sacramento city, California",467503,06,64000
117,"Salinas city, California",151031,06,64224
118,"San Bernardino city, California",210670,06,65000
119,"San Buenaventura (Ventura) city, California",106730,06,65042
120,"San Diego city, California",1311886,06,66000
121,"San Francisco city, California",805463,06,67000
122,"San Jose city, California",949197,06,68000
123,"San Leandro city, California",85159,06,68084
124,"San Marcos city, California",84079,06,68196
125,"San Mateo city, California",97461,06,68252
126,"San Ramon city, California",72404,06,68378
127,"Santa Ana city, California",325483,06,69000
128,"Santa Barbara city, California",88579,06,69070
129,"Santa Clara city, California",116864,06,69084
130,"Santa Clarita city, California",176535,06,69088
131,"Santa Maria city, California",99747,06,69196
132,"Santa Monica city, California",89861,06,70000
133,"Santa Rosa city, California",168244,06,70098
134,"Simi Valley city, California",124596,06,72016
135,"South Gate city, California",94503,06,73080
136,"Stockton city, California",292747,06,75000
137,"Sunnyvale city, California",140549,06,77000
138,"Temecula city, California",100751,06,78120
139,"Thousand Oaks city, California",127041,06,78582
140,"Torrance city, California",145618,06,80000
141,"Tracy city, California",83223,06,80238
142,"Turlock city, California",68663,06,80812
143,"Tustin city, California",75769,06,80854
144,"Union City city, California",69696,06,81204
145,"Upland city, California",73991,06,81344
146,"Vacaville city, California",92623,06,81554
147,"Vallejo city, California",116217,06,81666
148,"Victorville city, California",116305,06,82590
149,"Visalia city, California",124866,06,82954
150,"Vista city, California",94170,06,82996
151,"West Covina city, California",106221,06,84200
152,"Westminster city, California",89971,06,84550
153,"Whittier city, California",85433,06,85292
154,"Yorba Linda city, California",64414,06,86832
155,"Arvada city, Colorado",107604,08,03455
156,"Aurora city, Colorado",326719,08,04000
157,"Boulder city, Colorado",97585,08,07850
158,"Centennial city, Colorado",100909,08,12815
159,"Colorado Springs city, Colorado",419586,08,16000
160,"Denver city, Colorado",604414,08,20000
161,"Fort Collins city, Colorado",144453,08,27425
162,"Greeley city, Colorado",93389,08,32155
163,"Highlands Ranch CDP, Colorado",95503,08,36410
164,"Lakewood city, Colorado",143230,08,43000
165,"Longmont city, Colorado",86429,08,45970
166,"Loveland city, Colorado",67100,08,46465
167,"Pueblo city, Colorado",106865,08,62000
168,"Thornton city, Colorado",119324,08,77290
169,"Westminster city, Colorado",106518,08,83835
170,"Bridgeport city, Connecticut",144521,09,08000
171,"Danbury city, Connecticut",81043,09,18430
172,"Hartford city, Connecticut",124847,09,37000
173,"New Britain city, Connecticut",73247,09,50370
174,"New Haven city, Connecticut",129849,09,52000
175,"Norwalk city, Connecticut",85793,09,55990
176,"Stamford city, Connecticut",122902,09,73000
177,"Waterbury city, Connecticut",110430,09,80000
178,"Wilmington city, Delaware",70921,10,77580
179,"Washington city, District of Columbia",604453,11,50000
180,"Alafaya CDP, Florida",84809,12,00410
181,"Boca Raton city, Florida",84604,12,07300
182,"Boynton Beach city, Florida",68380,12,07875
183,"Brandon CDP, Florida",102939,12,08150
184,"Cape Coral city, Florida",154668,12,10275
185,"Clearwater city, Florida",107697,12,12875
186,"Coral Springs city, Florida",121492,12,14400
187,"Davie town, Florida",92290,12,16475
188,"Deerfield Beach city, Florida",75245,12,16725
189,"Deltona city, Florida",85183,12,17200
190,"Fort Lauderdale city, Florida",166039,12,24000
191,"Fort Myers city, Florida",62429,12,24125
192,"Gainesville city, Florida",124433,12,25175
193,"Hialeah city, Florida",225461,12,30000
194,"Hollywood city, Florida",141202,12,32000
195,"Jacksonville city, Florida",823316,12,35000
196,"Kendall CDP, Florida",82561,12,36100
197,"Lakeland city, Florida",97530,12,38250
198,"Largo city, Florida",77663,12,39425
199,"Lauderhill city, Florida",67100,12,39550
200,"Lehigh Acres CDP, Florida",88196,12,39925
201,"Melbourne city, Florida",76083,12,43975
202,"Miami city, Florida",400892,12,45000
203,"Miami Beach city, Florida",88110,12,45025
204,"Miami Gardens city, Florida",107559,12,45060
205,"Miramar city, Florida",122438,12,45975
206,"Orlando city, Florida",239037,12,53000
207,"Palm Bay city, Florida",103225,12,54000
208,"Palm Coast city, Florida",77473,12,54200
209,"Pembroke Pines city, Florida",155252,12,55775
210,"Plantation city, Florida",85217,12,57425
211,"Pompano Beach city, Florida",100154,12,58050
212,"Port St. Lucie city, Florida",165153,12,58715
213,"Riverview CDP, Florida",66415,12,60950
214,"St. Petersburg city, Florida",244818,12,63000
215,"Spring Hill CDP, Florida",97103,12,68350
216,"Sunrise city, Florida",84717,12,69700
217,"Tallahassee city, Florida",181734,12,70600
218,"Tampa city, Florida",336945,12,71000
219,"Town 'n' Country CDP, Florida",81175,12,72145
220,"Weston city, Florida",65528,12,76582
221,"West Palm Beach city, Florida",100175,12,76600
222,"Albany city, Georgia",78971,13,01052
223,Athens-Clarke County unified government (balan...,115465,13,03440
224,"Atlanta city, Georgia",422338,13,04000
225,Augusta-Richmond County consolidated governmen...,196386,13,04204
226,"Columbus city, Georgia",190417,13,19000
227,"Johns Creek city, Georgia",77207,13,42425
228,"Macon city, Georgia",91524,13,49000
229,"Roswell city, Georgia",88908,13,67284
230,"Sandy Springs city, Georgia",94441,13,68516
231,"Savannah city, Georgia",136651,13,69000
232,"Warner Robins city, Georgia",66757,13,80508
233,"Urban Honolulu CDP, Hawaii",338909,15,71550
234,"Boise City city, Idaho",206286,16,08830
235,"Meridian city, Idaho",75324,16,52120
236,"Nampa city, Idaho",81781,16,56260
237,"Arlington Heights village, Illinois",77009,17,02154
238,"Aurora city, Illinois",193582,17,03012
239,"Bloomington city, Illinois",76730,17,06613
240,"Bolingbrook village, Illinois",73027,17,07133
241,"Champaign city, Illinois",81164,17,12385
242,"Chicago city, Illinois",2698831,17,14000
243,"Cicero town, Illinois",84002,17,14351
244,"Decatur city, Illinois",76268,17,18823
245,"Elgin city, Illinois",108273,17,23074
246,"Evanston city, Illinois",74549,17,24582
247,"Joliet city, Illinois",150856,17,38570
248,"Naperville city, Illinois",141483,17,51622
249,"Palatine village, Illinois",68596,17,57225
250,"Peoria city, Illinois",114966,17,59000
251,"Rockford city, Illinois",152220,17,65000
252,"Schaumburg village, Illinois",73279,17,68003
253,"Skokie village, Illinois",64861,17,70122
254,"Springfield city, Illinois",116188,17,72000
255,"Waukegan city, Illinois",87729,17,79293
256,"Bloomington city, Indiana",81096,18,05860
257,"Carmel city, Indiana",79447,18,10342
258,"Evansville city, Indiana",115833,18,22000
259,"Fishers town, Indiana",77579,18,23278
260,"Fort Wayne city, Indiana",253696,18,25000
261,"Gary city, Indiana",80840,18,27000
262,"Hammond city, Indiana",80812,18,31000
263,"Indianapolis city (balance), Indiana",824199,18,36003
264,"Lafayette city, Indiana",65261,18,40788
265,"Muncie city, Indiana",68651,18,51876
266,"South Bend city, Indiana",107072,18,71000
267,"Cedar Rapids city, Iowa",126498,19,12000
268,"Davenport city, Iowa",100068,19,19000
269,"Des Moines city, Iowa",204196,19,21000
270,"Iowa City city, Iowa",68027,19,38595
271,"Sioux City city, Iowa",82378,19,73335
272,"Waterloo city, Iowa",68472,19,82425
273,"Kansas City city, Kansas",147798,20,36000
274,"Lawrence city, Kansas",92718,20,38900
275,"Olathe city, Kansas",126256,20,52575
276,"Overland Park city, Kansas",173909,20,53775
277,"Topeka city, Kansas",127727,20,71000
278,"Wichita city, Kansas",383142,20,79000
279,"Lexington-Fayette urban county, Kentucky",296765,21,46027
280,Louisville/Jefferson County metro government (...,598230,21,48006
281,"Baton Rouge city, Louisiana",229859,22,05000
282,"Kenner city, Louisiana",66681,22,39475
283,"Lafayette city, Louisiana",120871,22,40735
284,"Lake Charles city, Louisiana",72163,22,41155
285,"Metairie CDP, Louisiana",132938,22,50115
286,"New Orleans city, Louisiana",347858,22,55000
287,"Shreveport city, Louisiana",198934,22,70000
288,"Portland city, Maine",66150,23,60545
289,"Baltimore city, Maryland",620583,24,04000
290,"Columbia CDP, Maryland",102239,24,19125
291,"Ellicott City CDP, Maryland",67241,24,26000
292,"Frederick city, Maryland",65439,24,30325
293,"Germantown CDP, Maryland",83372,24,32025
294,"Silver Spring CDP, Maryland",76534,24,72450
295,"Waldorf CDP, Maryland",68961,24,81175
296,"Boston city, Massachusetts",621383,25,07000
297,"Brockton city, Massachusetts",93973,25,09000
298,"Cambridge city, Massachusetts",105337,25,11000
299,"Fall River city, Massachusetts",88894,25,23000
300,"Framingham CDP, Massachusetts",68461,25,24960
301,"Lawrence city, Massachusetts",76526,25,34550
302,"Lowell city, Massachusetts",106730,25,37000
303,"Lynn city, Massachusetts",90511,25,37490
304,"New Bedford city, Massachusetts",95138,25,45000
305,"Newton city, Massachusetts",85302,25,45560
306,"Quincy city, Massachusetts",92486,25,55745
307,"Somerville city, Massachusetts",75900,25,62535
308,"Springfield city, Massachusetts",153115,25,67000
309,"Worcester city, Massachusetts",181264,25,82000
310,"Ann Arbor city, Michigan",114101,26,03000
311,"Dearborn city, Michigan",97895,26,21000
312,"Detroit city, Michigan",711910,26,22000
313,"Farmington Hills city, Michigan",79768,26,27440
314,"Flint city, Michigan",102231,26,29000
315,"Grand Rapids city, Michigan",188214,26,34000
316,"Kalamazoo city, Michigan",74382,26,42160
317,"Lansing city, Michigan",114017,26,46000
318,"Livonia city, Michigan",96684,26,49000
319,"Rochester Hills city, Michigan",71022,26,69035
320,"Southfield city, Michigan",71785,26,74900
321,"Sterling Heights city, Michigan",129734,26,76460
322,"Troy city, Michigan",81037,26,80700
323,"Warren city, Michigan",134075,26,84000
324,"Westland city, Michigan",83860,26,86000
325,"Wyoming city, Michigan",72209,26,88940
326,"Bloomington city, Minnesota",83054,27,06616
327,"Brooklyn Park city, Minnesota",75936,27,07966
328,"Duluth city, Minnesota",86230,27,17000
329,"Minneapolis city, Minnesota",383280,27,43000
330,"Plymouth city, Minnesota",70710,27,51730
331,"Rochester city, Minnesota",106963,27,54880
332,"St. Cloud city, Minnesota",65885,27,56896
333,"St. Paul city, Minnesota",285439,27,58000
334,"Gulfport city, Mississippi",68042,28,29700
335,"Jackson city, Mississippi",173315,28,36000
336,"Columbia city, Missouri",108872,29,15670
337,"Independence city, Missouri",117027,29,35000
338,"Kansas City city, Missouri",460665,29,38000
339,"Lee's Summit city, Missouri",91229,29,41348
340,"O'Fallon city, Missouri",79565,29,54074
341,"St. Charles city, Missouri",65993,29,64082
342,"St. Joseph city, Missouri",74853,29,64550
343,"St. Louis city, Missouri",319156,29,65000
344,"Springfield city, Missouri",159643,29,70000
345,"Billings city, Montana",104491,30,06550
346,"Missoula city, Montana",66905,30,50200
347,"Lincoln city, Nebraska",259041,31,28000
348,"Omaha city, Nebraska",410269,31,37000
349,"Enterprise CDP, Nevada",118697,32,23770
350,"Henderson city, Nevada",258138,32,31900
351,"Las Vegas city, Nevada",584641,32,40000
352,"North Las Vegas city, Nevada",217304,32,51800
353,"Paradise CDP, Nevada",215586,32,54600
354,"Reno city, Nevada",225818,32,60600
355,"Sparks city, Nevada",90504,32,68400
356,"Spring Valley CDP, Nevada",179830,32,68585
357,"Sunrise Manor CDP, Nevada",185286,32,71400
358,"Manchester city, New Hampshire",109655,33,45140
359,"Nashua city, New Hampshire",86570,33,50260
360,"Camden city, New Jersey",77331,34,10000
361,"Clifton city, New Jersey",84249,34,13690
362,"East Orange city, New Jersey",64299,34,19390
363,"Elizabeth city, New Jersey",125222,34,21000
364,"Jersey City city, New Jersey",248005,34,36000
365,"Newark city, New Jersey",277232,34,51000
366,"Passaic city, New Jersey",69870,34,56550
367,"Paterson city, New Jersey",146377,34,57000
368,"Toms River CDP, New Jersey",89390,34,73110
369,"Trenton city, New Jersey",85015,34,74000
370,"Union City city, New Jersey",66560,34,74630
371,"Albuquerque city, New Mexico",547585,35,02000
372,"Las Cruces city, New Mexico",98239,35,39380
373,"Rio Rancho city, New Mexico",87954,35,63460
374,"Santa Fe city, New Mexico",68157,35,70500
375,"Albany city, New York",97737,36,01000
376,"Buffalo city, New York",261210,36,11000
377,"Cheektowaga CDP, New York",75018,36,15000
378,"Mount Vernon city, New York",67397,36,49121
379,"New Rochelle city, New York",77177,36,50617
380,"New York city, New York",8184899,36,51000
381,"Rochester city, New York",210595,36,63000
382,"Schenectady city, New York",66202,36,65508
383,"Syracuse city, New York",145216,36,73000
384,"Yonkers city, New York",196277,36,84000
385,"Asheville city, North Carolina",83570,37,02140
386,"Cary town, North Carolina",135418,37,10740
387,"Charlotte city, North Carolina",734418,37,12000
388,"Concord city, North Carolina",79330,37,14100
389,"Durham city, North Carolina",229029,37,19000
390,"Fayetteville city, North Carolina",201077,37,22920
391,"Gastonia city, North Carolina",71782,37,25580
392,"Greensboro city, North Carolina",270357,37,28000
393,"Greenville city, North Carolina",84879,37,28080
394,"High Point city, North Carolina",103672,37,31400
395,"Jacksonville city, North Carolina",70705,37,34200
396,"Raleigh city, North Carolina",406609,37,55000
397,"Wilmington city, North Carolina",106819,37,74440
398,"Winston-Salem city, North Carolina",230044,37,75000
399,"Fargo city, North Dakota",106600,38,25700
400,"Akron city, Ohio",199030,39,01000
401,"Canton city, Ohio",72958,39,12000
402,"Cincinnati city, Ohio",296907,39,15000
403,"Cleveland city, Ohio",396240,39,16000
404,"Columbus city, Ohio",789939,39,18000
405,"Dayton city, Ohio",141501,39,21000
406,"Lorain city, Ohio",64128,39,44856
407,"Parma city, Ohio",81481,39,61000
408,"Toledo city, Ohio",286979,39,77000
409,"Youngstown city, Ohio",66835,39,88000
410,"Broken Arrow city, Oklahoma",98523,40,09050
411,"Edmond city, Oklahoma",81696,40,23200
412,"Lawton city, Oklahoma",97832,40,41850
413,"Norman city, Oklahoma",111398,40,52500
414,"Oklahoma City city, Oklahoma",582278,40,55000
415,"Tulsa city, Oklahoma",393577,40,75000
416,"Beaverton city, Oregon",90150,41,05350
417,"Bend city, Oregon",76723,41,05800
418,"Eugene city, Oregon",156299,41,23850
419,"Gresham city, Oregon",105973,41,31250
420,"Hillsboro city, Oregon",91954,41,34100
421,"Medford city, Oregon",75007,41,47000
422,"Portland city, Oregon",585429,41,59000

In [9]:
# Set up each year's dataset

cities_2010 = pd.DataFrame(dic[2010][1:], columns=cols)
cities_2010["Year"]=2010


cities_2011 = pd.DataFrame(dic[2011][1:], columns=cols)
cities_2011["Year"]=2011


cities_2012 = pd.DataFrame(dic[2012][1:], columns=cols)
cities_2012["Year"]=2012

cities_2013 = pd.DataFrame(dic[2013][1:], columns=cols)
cities_2013["Year"]=2013


cities_2014 = pd.DataFrame(dic[2014][1:], columns=cols)
cities_2014["Year"]=2014


cities_2015 = pd.DataFrame(dic[2015][1:], columns=cols)
cities_2015["Year"]=2015

cities_2016 = pd.DataFrame(dic[2016][1:], columns=cols)
cities_2016["Year"]=2016

cities_2017 = pd.DataFrame(dic[2017][1:], columns=cols)
cities_2017["Year"]=2017

cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols)
cities_2018["Year"]=2018

In [10]:
cities_2010.head()

                       NAME Pop_Total fips_state fips_place  Year
0  Birmingham city, Alabama    211670         01      07000  2010
1      Dothan city, Alabama     66121         01      21184  2010
2      Hoover city, Alabama     80376         01      35896  2010
3  Huntsville city, Alabama    181126         01      37000  2010
4      Mobile city, Alabama    195249         01      50000  2010

In [11]:
cities_in_2010 = cities_2010['NAME'].to_list()

In [12]:
# Check 2011

cities_2011[~cities_2011['NAME'].isin(cities_in_2010)]

                                NAME Pop_Total fips_state fips_place  Year
44         Glen Burnie CDP, Maryland     69026         24      32650  2011
313        Casas Adobes CDP, Arizona     67496         04      10670  2011
367  Florence-Graham CDP, California     68626         06      24477  2011
408       Palo Alto city, California     65419         06      55282  2011
414  Rancho Cordova city, California     65614         06      59444  2011
459    Walnut Creek city, California     65232         06      83346  2011
464       Yuba City city, California     65041         06      86972  2011

In [13]:
# Check 2012

cities_2012[~cities_2012['NAME'].isin(cities_in_2010)]

,NAME,Pop_Total,fips_state,fips_place,Year
1,"Palo Alto city, California",66359,06,55282,2012
7,"Rancho Cordova city, California",66999,06,59444,2012
37,"South San Francisco city, California",65565,06,73262,2012
53,"Walnut Creek city, California",65696,06,83346,2012
58,"Yuba City city, California",65105,06,86972,2012
114,"Pine Hills CDP, Florida",69219,12,56825,2012
216,"Franklin city, Tennessee",66278,47,27740,2012
276,"Millcreek CDP, Utah",66939,49,50150,2012
306,"Pasco city, Washington",64029,53,53545,2012
395,"Glen Burnie CDP, Maryland",70285,24,32650,2012
471,"Casas Adobes CDP, Arizona",71976,04,10670,2012
525,"Florence-Graham CDP, California",63284,06,24477,2012
541,"Jurupa Valley city, California",97419,06,37692,2012

In [14]:
# Check 2013

cities_2013[~cities_2013['NAME'].isin(cities_in_2010)]

,NAME,Pop_Total,fips_state,fips_place,Year
33,"Bossier City city, Louisiana",66334,22,08920,2013
42,"Bethesda CDP, Maryland",66364,24,07125,2013
46,"Gaithersburg city, Maryland",65689,24,31175,2013
48,"Glen Burnie CDP, Maryland",66760,24,32650,2013
84,"Eagan city, Minnesota",65453,27,17288,2013
85,"Maple Grove city, Minnesota",65406,27,40166,2013
91,"Woodbury city, Minnesota",65659,27,71428,2013
118,"Bayonne city, New Jersey",65024,34,03580,2013
158,"Bismarck city, North Dakota",66063,38,07200,2013
204,"Franklin city, Tennessee",68872,47,27740,2013
206,"Johnson City city, Tennessee",65796,47,38320,2013
221,"Kirkland city, Washington",84434,53,35940,2013
222,"Pasco city, Washington",70345,53,53545,2013
295,"Victoria city, Texas",65097,48,75428,2013
327,"Casas Adobes CDP, Arizona",69653,04,10670,2013
346,"North Little Rock city, Arkansas",66086,05,50450,2013
362,"Carmichael CDP, California",66747,06,11390,2013
398,"Jurupa Valley city, California",98036,06,37692,2013
424,"Palo Alto city, California",66638,06,55282,2013
430,"Rancho Cordova city, California",67919,06,59444,2013
444,"San Clemente city, California",65021,06,65084,2013
461,"South San Francisco city, California",66174,06,73262,2013
462,"South Whittier CDP, California",65365,06,73430,2013
478,"Walnut Creek city, California",66890,06,83346,2013
483,"Yuba City city, California",65410,06,86972,2013
526,"Kissimmee city, Florida",65186,12,36950,2013
540,"Pine Hills CDP, Florida",67295,12,56825,2013

In [15]:
# Check 2015

cities_2015[~cities_2015['NAME'].isin(cities_in_2010)]

,NAME,Pop_Total,fips_state,fips_place,Year
9,"Casas Adobes CDP, Arizona",65265,04,10670,2015
28,"North Little Rock city, Arkansas",66506,05,50450,2015
44,"Carmichael CDP, California",63215,06,11390,2015
65,"Florence-Graham CDP, California",66359,06,24477,2015
81,"Jurupa Valley city, California",100314,06,37692,2015
82,"Laguna Niguel city, California",65812,06,39248,2015
108,"Palo Alto city, California",66848,06,55282,2015
114,"Rancho Cordova city, California",71026,06,59444,2015
125,"Brentwood CDP, New York",63792,36,08026,2015
149,"Bismarck city, North Dakota",70240,38,07200,2015
195,"Franklin city, Tennessee",72635,47,27740,2015
197,"Johnson City city, Tennessee",65369,47,38320,2015
213,"Cedar Park city, Texas",64837,48,13552,2015
215,"Conroe city, Texas",68592,48,16432,2015
241,"New Braunfels city, Texas",69923,48,50820,2015
256,"Victoria city, Texas",67581,48,75428,2015
266,"South Jordan city, Utah",66639,49,70850,2015
290,"Kirkland city, Washington",87267,53,35940,2015
291,"Marysville city, Washington",66773,53,43955,2015
292,"Pasco city, Washington",68097,53,53545,2015
322,"San Clemente city, California",65532,06,65084,2015
339,"South San Francisco city, California",67271,06,73262,2015
355,"Walnut Creek city, California",68906,06,83346,2015
360,"Yuba City city, California",66944,06,86972,2015
364,"Broomfield city, Colorado",65065,08,09280,2015
396,"Delray Beach city, Florida",66261,12,17100,2015
403,"Homestead city, Florida",66500,12,32275,2015
406,"Kissimmee city, Florida",69152,12,36950,2015
420,"Pine Hills CDP, Florida",76081,12,56825,2015
422,"Poinciana CDP, Florida",73943,12,57900,2015
431,"The Villages CDP, Florida",-999999999,12,71625,2015
441,"Macon-Bibb County, Georgia",153459,13,49008,2015
480,"Ames city, Iowa",65052,19,01855,2015
491,"Shawnee city, Kansas",65058,20,64500,2015
497,"Bossier City city, Louisiana",68097,22,08920,2015
509,"Gaithersburg city, Maryland",67445,24,31175,2015
511,"Glen Burnie CDP, Maryland",69859,24,32650,2015
512,"Rockville city, Maryland",66998,24,67675,2015
548,"Eagan city, Minnesota",66288,27,17288,2015
549,"Maple Grove city, Minnesota",68381,27,40166,2015
555,"Woodbury city, Minnesota",67850,27,71428,2015
582,"Bayonne city, New Jersey",66303,34,03580,2015

In [16]:
# Check 2018
cities_2018[~cities_2018['NAME'].isin(cities_in_2010)]

,NAME,Pop_Total,fips_state,fips_place,Year
12,"Palm Harbor CDP, Florida",65994,12,54350,2018
13,"Alpharetta city, Georgia",66263,13,01696,2018
24,"Conroe city, Texas",87656,48,16432,2018
25,"Marysville city, Washington",69765,53,43955,2018
32,"Delray Beach city, Florida",69356,12,17100,2018
37,"Woodbury city, Minnesota",71299,27,71428,2018
38,"Bayonne city, New Jersey",65082,34,03580,2018
45,"New Braunfels city, Texas",85566,48,50820,2018
46,"South Jordan city, Utah",74155,49,70850,2018
48,"Auburn city, Alabama",65737,01,03076,2018
53,"Florence-Graham CDP, California",63621,06,24477,2018
60,"Ames city, Iowa",67155,19,01855,2018
62,"Glen Burnie CDP, Maryland",65987,24,32650,2018
63,"Lakeville city, Minnesota",65871,27,35180,2018
91,"Casas Adobes CDP, Arizona",75694,04,10670,2018
115,"South Whittier CDP, California",65577,06,73430,2018
126,"Georgetown city, Texas",74176,48,29336,2018
131,"Castro Valley CDP, California",63226,06,11964,2018
133,"Ankeny city, Iowa",65282,19,02305,2018
143,"West Des Moines city, Iowa",67127,19,83910,2018
152,"Victoria city, Texas",67020,48,75428,2018
163,"Homestead city, Florida",70469,12,32275,2018
165,"Shawnee city, Kansas",65844,20,64500,2018
181,"Framingham city, Massachusetts",73123,25,24960,2018
186,"Lehi city, Utah",66029,49,44320,2018
190,"Conway city, Arkansas",66421,05,15190,2018
197,"Walnut Creek city, California",69814,06,83346,2018
203,"Kissimmee city, Florida",73596,12,36950,2018
204,"Poinciana CDP, Florida",71331,12,57900,2018
212,"North Little Rock city, Arkansas",66126,05,50450,2018
217,"Broomfield city, Colorado",69267,08,09280,2018
239,"South San Francisco city, California",67736,06,73262,2018
244,"Maple Grove city, Minnesota",71812,27,40166,2018
249,"Franklin city, Tennessee",80920,47,27740,2018
269,"Jurupa Valley city, California",108400,06,37692,2018
273,"The Hammocks CDP, Florida",64910,12,71569,2018
282,"Sammamish city, Washington",65726,53,61115,2018
289,"Yuba City city, California",66988,06,86972,2018
298,"Brentwood CDP, New York",64855,36,08026,2018
316,"South Fulton city, Georgia",97266,13,72122,2018
320,"Bossier City city, Louisiana",68222,22,08920,2018
325,"Bismarck city, North Dakota",71843,38,07200,2018
335,"Madera city, California",65711,06,45022,2018
339,"Jupiter town, Florida",65544,12,35875,2018
341,"Macon-Bibb County, Georgia",153095,13,49008,2018
352,"Lodi city, California",66995,06,42202,2018
370,"Kirkland city, Washington",89557,53,35940,2018
377,"Wellington village, Florida",65190,12,75812,2018
390,"Rogers city, Arkansas",67615,05,60410,2018
393,"Lake Elsinore city, California",68187,06,39486,2018
394,"Rocklin city, California",67231,06,62364,2018
398,"Tamarac city, Florida",66043,12,70675,2018
402,"Bowling Green city, Kentucky",68393,21,08902,2018
404,"Gaithersburg city, Maryland",68294,24,31175,2018
409,"Greenville city, South Carolina",68543,45,30850,2018
417,"North Port city, Florida",68637,12,49675,2018
434,"Daytona Beach city, Florida",68862,12,16525,2018
443,"Palo Alto city, California",66655,06,55282,2018
473,"Port Charlotte CDP, Florida",64815,12,58350,2018
499,"Rowlett city, Texas",66686,48,63572,2018
502,"Blaine city, Minnesota",65215,27,06382,2018
506,"Carmichael CDP, California",65328,06,11390,2018
510,"Pine Hills CDP, Florida",90070,12,56825,2018
511,"Noblesville city, Indiana",66358,18,54180,2018
520,"Johnson City city, Tennessee",68245,47,38320,2018
521,"Cedar Park city, Texas",75553,48,13552,2018
527,"Buckeye city, Arizona",74378,04,07940,2018
535,"Wesley Chapel CDP, Florida",65249,12,75875,2018
544,"Pasco city, Washington",71727,53,53545,2018
551,"Rancho Cordova city, California",74590,06,59444,2018
573,"Fishers city, Indiana",93790,18,23278,2018
575,"Rockville city, Maryland",68252,24,67675,2018
581,"Redmond city, Washington",67680,53,57535,2018
584,"Laguna Niguel city, California",66265,06,39248,2018
586,"San Clemente city, California",64850,06,65084,2018
587,"Santa Cruz city, California",64729,06,69112,2018
591,"The Villages CDP, Florida",-999999999,12,71625,2018
596,"Eagan city, Minnesota",66539,27,17288,2018
605,"Mansfield city, Texas",74786,48,46452,2018

In [17]:
# Check 2018 with 2017

cities_2018[~cities_2018['NAME'].isin(cities_2017['NAME'])]

                               NAME Pop_Total fips_state fips_place  Year
12         Palm Harbor CDP, Florida     65994         12      54350  2018
48             Auburn city, Alabama     65737         01      03076  2018
63        Lakeville city, Minnesota     65871         27      35180  2018
115  South Whittier CDP, California     65577         06      73430  2018
133               Ankeny city, Iowa     65282         19      02305  2018
143      West Des Moines city, Iowa     67127         19      83910  2018
181  Framingham city, Massachusetts     73123         25      24960  2018
186                 Lehi city, Utah     66029         49      44320  2018
282      Sammamish city, Washington     65726         53      61115  2018
316      South Fulton city, Georgia     97266         13      72122  2018
339           Jupiter town, Florida     65544         12      35875  2018
377     Wellington village, Florida     65190         12      75812  2018
394        Rocklin city, California     67231         06      62364  2018
499             Rowlett city, Texas     66686         48      63572  2018
502          Blaine city, Minnesota     65215         27      06382  2018
511       Noblesville city, Indiana     66358         18      54180  2018
535      Wesley Chapel CDP, Florida     65249         12      75875  2018
581        Redmond city, Washington     67680         53      57535  2018

In [18]:
# Check ACS1 API


dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631



The following is the chart for the number of cities in ACS1 and ACS1/Subject, which are same for both API.


Year | Number of Cities
-- | --
2010 | 556
2011 | 563
2012 | 569
2013 | 583
2014 | 592
2015 | 597
2016 | 606
2017 | 615
2018 | 631

When I checked each year's cities that are added, most of the cities' populations are around 65,000. Therefore, it is added when the population estimates as 65,000. <bR>

I will check with other variables (SEX, RACE, Ethnicity) to find out how many cities that we want to use. Yet, my minimum will 556 because it is the number of cities from 2010.  <br>

I found out that one city with -999999, which is The Villages CDP, Florida	-999999999. I look for meaning.

# Sex

For Sex, I want to find out right variable to use constantly throughout the year because in some year, it may give us proportion.<br>

For Sex, ACS has two main variables.

B01001_002E --> Estimate!!Total!!Male <Br>
B01001_026E --> Estimate!!Total!!Female
    
<br>
    These two variables that are constant throughout 2010-2018, which means that these two variables are same variables with the same label and concepts from the Census API and its format are the same.

In [19]:

dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E,B01001_002E,B01001_026E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [20]:
cols_sex= ['NAME', 'Pop_Total','Pop_Male', 'Pop_Female','Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2010 = pd.DataFrame(dic[2010][1:], columns=cols_sex)
cities_2010["Year"]=2010


cities_2011 = pd.DataFrame(dic[2011][1:], columns=cols_sex)
cities_2011["Year"]=2011


cities_2012 = pd.DataFrame(dic[2012][1:], columns=cols_sex)
cities_2012["Year"]=2012

cities_2013 = pd.DataFrame(dic[2013][1:], columns=cols_sex)
cities_2013["Year"]=2013


cities_2014 = pd.DataFrame(dic[2014][1:], columns=cols_sex)
cities_2014["Year"]=2014


cities_2015 = pd.DataFrame(dic[2015][1:], columns=cols_sex)
cities_2015["Year"]=2015

cities_2016 = pd.DataFrame(dic[2016][1:], columns=cols_sex)
cities_2016["Year"]=2016

cities_2017 = pd.DataFrame(dic[2017][1:], columns=cols_sex)
cities_2017["Year"]=2017

cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols_sex)
cities_2018["Year"]=2018

In [21]:
cities_2010.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010

## Check whether any dataset from 2010 has no-value or none on sex population.

Explanantion, as each year's database has been setup, I want to check whether any cities has no-value or none.

In [22]:

print(cities_2010.isnull().sum().sum())
print(cities_2011.isnull().sum().sum())
print(cities_2012.isnull().sum().sum())
print(cities_2013.isnull().sum().sum())
print(cities_2014.isnull().sum().sum())
print(cities_2015.isnull().sum().sum())
print(cities_2016.isnull().sum().sum())
print(cities_2017.isnull().sum().sum())
print(cities_2018.isnull().sum().sum())

0
0
0
0
3
3
3
3
3

In [23]:

def findnanrows(df):
    
    is_NaN = df.isnull()
    row_has_NaN = is_NaN.any(axis=1)
    rows_with_NaN = df[row_has_NaN]
    return rows_with_NaN

In [24]:
findnanrows(cities_2015)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
570,"The Villages CDP, Florida",None,None,None,12,71625,2015

In [25]:
findnanrows(cities_2016)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
252,"The Villages CDP, Florida",None,None,None,12,71625,2016

In [26]:
findnanrows(cities_2017)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
596,"The Villages CDP, Florida",None,None,None,12,71625,2017

In [27]:
findnanrows(cities_2018)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
404,"The Villages CDP, Florida",None,None,None,12,71625,2018

The Villages CDP, Florida is the only city with no value in the Male and Female population. Also, it is none the population as well. 
Therefore, I will check with other variables, then if this city does not have numbers from all variables, I will exclude it.

In [28]:

# Combine all SEX group
frames = [cities_2010, cities_2011, cities_2012, cities_2013,cities_2014,\
          cities_2015,cities_2016, cities_2017, cities_2018]

sex_result = pd.concat(frames)

In [29]:
sex_result.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010

In [30]:
sex_result['Fips_State_Place']=sex_result['Fips_State']+sex_result['Fips_Place']

In [31]:
sex_result.tail()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place
625,"Menifee city, California",92602,46509,46093,06,46842,2018,0646842
626,"Riverside city, California",330080,160110,169970,06,62000,2018,0662000
627,"Springfield city, Massachusetts",155029,75821,79208,25,67000,2018,2567000
628,"Dale City CDP, Virginia",68805,35840,32965,51,21088,2018,5121088
629,"South Gate city, California",94439,47917,46522,06,73080,2018,0673080

In [32]:
# Creating NYU_500_Largest to find out whether NYU dataset has this city or not.

# Pull out NYU FIPS 
# Preselect column type as object
coltype = {'fips_state':object,
          'fips_place':object,
           'fips_state_place':object}
nyu = pd.read_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/City_Health_data/nyu_fips_code.csv",\
                  dtype= coltype)

In [33]:
nyu.head()

   index state_abb fips_state fips_place fips_state_place   city_name
0      0        HI         15      00003          0015003    Honolulu
1      1        AL         01      07000          0107000  Birmingham
2      2        AL         01      35896          0135896      Hoover
3      3        AL         01      37000          0137000  Huntsville
4      4        AL         01      50000          0150000      Mobile

In [34]:
nyu_cities = list(nyu['fips_state_place'])

In [35]:
sex_result['NYU_500_Largest'] = sex_result['Fips_State_Place'].apply(lambda x:1 if x in nyu_cities else 0)

In [36]:
sex_result.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1

In [37]:
#sex_result.to_csv("wave2_first.csv", index=False)

In [38]:
len(nyu_cities)

510

In [39]:
495/len(nyu_cities)

0.9705882352941176

## Checking How many NYU cities were covered in each year

From NYu cities 510, ACS1 can cover 495-496 cities, which is around 97%

In [40]:
sex_result.groupby('Year').sum()

      NYU_500_Largest
Year
2010              496
2011              496
2012              496
2013              496
2014              495
2015              495
2016              495
2017              495
2018              495

As shown above, from 509 cities of NYU dataset, 495/ 496 cities are covered by ACS1. Most of cities are covered by ACS1.

# Race

For Race, I want to find out right variable to use constantly throughout the year because in some year, it may give us proportion.<br>

For Race, ACS B02001 Group has five main variables for race.<br>

B02001_002E	-->Estimate!!Total!!White alone<br>
B02001_003E	-->Estimate!!Total!!Black or African American alone<br>
B02001_005E	-->Estimate!!Total!!Asian alone<br>
B02001_004E	-->Estimate!!Total!!American Indian and Alaska Native alone<br>
B02001_006E -->Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone <Br>

These five variables have constant methods, which is the whole number, throughout 2010-2018

In [41]:

dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B02001_002E,B02001_003E,B02001_005E,B02001_004E,B02001_006E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [42]:
cols_race= ['NAME', 'Pop_White','Pop_Black','Pop_Asian','Pop_AIAN','Pop_NHOPI','Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2010_r = pd.DataFrame(dic[2010][1:], columns=cols_race)
cities_2010_r["Year"]=2010


cities_2011_r = pd.DataFrame(dic[2011][1:], columns=cols_race)
cities_2011_r["Year"]=2011


cities_2012_r = pd.DataFrame(dic[2012][1:], columns=cols_race)
cities_2012_r["Year"]=2012

cities_2013_r = pd.DataFrame(dic[2013][1:], columns=cols_race)
cities_2013_r["Year"]=2013


cities_2014_r = pd.DataFrame(dic[2014][1:], columns=cols_race)
cities_2014_r["Year"]=2014


cities_2015_r = pd.DataFrame(dic[2015][1:], columns=cols_race)
cities_2015_r["Year"]=2015

cities_2016_r = pd.DataFrame(dic[2016][1:], columns=cols_race)
cities_2016_r["Year"]=2016

cities_2017_r = pd.DataFrame(dic[2017][1:], columns=cols_race)
cities_2017_r["Year"]=2017

cities_2018_r = pd.DataFrame(dic[2018][1:], columns=cols_race)
cities_2018_r["Year"]=2018

In [43]:
cities_2010_r.head()

,NAME,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year
0,"Birmingham city, Alabama",47657,158193,1528,593,0,01,07000,2010
1,"Dothan city, Alabama",41867,21123,916,186,0,01,21184,2010
2,"Hoover city, Alabama",57507,11555,5345,235,0,01,35896,2010
3,"Huntsville city, Alabama",114796,53460,5734,434,161,01,37000,2010
4,"Mobile city, Alabama",89418,98746,2621,474,53,01,50000,2010

## Check whether any dataset from 2010 has no-value or none on Race population.

Explanantion, as each year's database has been setup, I want to check whether any cities has no-value or none.

In [44]:

print(cities_2010_r.isnull().sum().sum())
print(cities_2011_r.isnull().sum().sum())
print(cities_2012_r.isnull().sum().sum())
print(cities_2013_r.isnull().sum().sum())
print(cities_2014_r.isnull().sum().sum())
print(cities_2015_r.isnull().sum().sum())
print(cities_2016_r.isnull().sum().sum())
print(cities_2017_r.isnull().sum().sum())
print(cities_2018_r.isnull().sum().sum())

95
125
45
60
55
75
70
60
90

In [45]:
findnanrows(cities_2010_r)

,NAME,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year
536,"East Orange city, New Jersey",None,None,None,None,None,34,19390,2010
537,"Mission city, Texas",None,None,None,None,None,48,48768,2010
538,"Troy city, Michigan",None,None,None,None,None,26,80700,2010
539,"Ellicott City CDP, Maryland",None,None,None,None,None,24,26000,2010
540,"Meridian city, Idaho",None,None,None,None,None,16,52120,2010
541,"O'Fallon city, Missouri",None,None,None,None,None,29,54074,2010
542,"Rock Hill city, South Carolina",None,None,None,None,None,45,61405,2010
543,"Sandy city, Utah",None,None,None,None,None,49,67440,2010
544,"Mount Pleasant town, South Carolina",None,None,None,None,None,45,48535,2010
545,"Jackson city, Mississippi",None,None,None,None,None,28,36000,2010
546,"Jonesboro city, Arkansas",None,None,None,None,None,05,35710,2010
547,"Pharr city, Texas",None,None,None,None,None,48,57200,2010
548,"Lynwood city, California",None,None,None,None,None,06,44574,2010
549,"Suffolk city, Virginia",None,None,None,None,None,51,76432,2010
550,"Boynton Beach city, Florida",None,None,None,None,None,12,07875,2010
551,"Eau Claire city, Wisconsin",None,None,None,None,None,55,22300,2010
552,"Miami Gardens city, Florida",None,None,None,None,None,12,45060,2010
553,"Flower Mound town, Texas",None,None,None,None,None,48,26232,2010
554,"Fishers town, Indiana",None,None,None,None,None,18,23278,2010

In [46]:
findnanrows(cities_2011_r)

,NAME,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year
537,"Albany city, Georgia",None,None,None,None,None,13,01052,2011
538,"Mission city, Texas",None,None,None,None,None,48,48768,2011
539,"Ellicott City CDP, Maryland",None,None,None,None,None,24,26000,2011
540,"Meridian city, Idaho",None,None,None,None,None,16,52120,2011
541,"Portland city, Maine",None,None,None,None,None,23,60545,2011
542,"Lauderhill city, Florida",None,None,None,None,None,12,39550,2011
543,"Gulfport city, Mississippi",None,None,None,None,None,28,29700,2011
544,"Johns Creek city, Georgia",None,None,None,None,None,13,42425,2011
545,"O'Fallon city, Missouri",None,None,None,None,None,29,54074,2011
546,"Cicero town, Illinois",None,None,None,None,None,17,14351,2011
547,"Mount Pleasant town, South Carolina",None,None,None,None,None,45,48535,2011
548,"Jonesboro city, Arkansas",None,None,None,None,None,05,35710,2011
549,"Avondale city, Arizona",None,None,None,None,None,04,04720,2011
550,"Canton city, Ohio",None,None,None,None,None,39,12000,2011
551,"Surprise city, Arizona",None,None,None,None,None,04,71510,2011
552,"Alafaya CDP, Florida",None,None,None,None,None,12,00410,2011
553,"Pharr city, Texas",None,None,None,None,None,48,57200,2011
554,"Deerfield Beach city, Florida",None,None,None,None,None,12,16725,2011
555,"Tuscaloosa city, Alabama",None,None,None,None,None,01,77256,2011
556,"Lake Charles city, Louisiana",None,None,None,None,None,22,41155,2011
557,"Miami Gardens city, Florida",None,None,None,None,None,12,45060,2011
558,"Fort Myers city, Florida",None,None,None,None,None,12,24125,2011
559,"Flower Mound town, Texas",None,None,None,None,None,48,26232,2011
560,"Macon city, Georgia",None,None,None,None,None,13,49000,2011
561,"Kendall CDP, Florida",None,None,None,None,None,12,36100,2011

## Different Census API Groups for Race
Try to look for different variables since Census API have around 50-100 cities missing for Race.<br>
B02003 Group is also race categories. I want to check whether it has more information than B02001 Group.<Br>
    
    
B02003_003E	-->Estimate!!Total!!White alone<br>
B02003_004E	-->Estimate!!Total!!Black or African American alone<br>
B02003_006E	-->Estimate!!Total!!Asian alone<br>
B02003_005E	-->Estimate!!Total!!American Indian and Alaska Native alone<br>
B02003_007E -->Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone <Br>

In [47]:

dic_1 = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B02003_003E,B02003_004E,B02003_006E,B02003_005E,B02003_007E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_1[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [48]:


# Set up each year's dataset

cities_2010_r1 = pd.DataFrame(dic_1[2010][1:], columns=cols_race)
cities_2010_r1["Year"]=2010


cities_2011_r1 = pd.DataFrame(dic_1[2011][1:], columns=cols_race)
cities_2011_r1["Year"]=2011


cities_2012_r1 = pd.DataFrame(dic_1[2012][1:], columns=cols_race)
cities_2012_r1["Year"]=2012

cities_2013_r1 = pd.DataFrame(dic_1[2013][1:], columns=cols_race)
cities_2013_r1["Year"]=2013


cities_2014_r1 = pd.DataFrame(dic_1[2014][1:], columns=cols_race)
cities_2014_r1["Year"]=2014


cities_2015_r1 = pd.DataFrame(dic_1[2015][1:], columns=cols_race)
cities_2015_r1["Year"]=2015

cities_2016_r1 = pd.DataFrame(dic_1[2016][1:], columns=cols_race)
cities_2016_r1["Year"]=2016

cities_2017_r1 = pd.DataFrame(dic_1[2017][1:], columns=cols_race)
cities_2017_r1["Year"]=2017

cities_2018_r1 = pd.DataFrame(dic_1[2018][1:], columns=cols_race)
cities_2018_r1["Year"]=2018



print(cities_2010_r1.isnull().sum().sum())
print(cities_2011_r1.isnull().sum().sum())
print(cities_2012_r1.isnull().sum().sum())
print(cities_2013_r1.isnull().sum().sum())
print(cities_2014_r1.isnull().sum().sum())
print(cities_2015_r1.isnull().sum().sum())
print(cities_2016_r1.isnull().sum().sum())
print(cities_2017_r1.isnull().sum().sum())
print(cities_2018_r1.isnull().sum().sum())

2770
2810
2840
2910
2955
2980
3025
3070
3150

In [49]:
cities_2010_r1.head()

,NAME,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year
0,"Birmingham city, Alabama",None,None,None,None,None,01,07000,2010
1,"Dothan city, Alabama",None,None,None,None,None,01,21184,2010
2,"Hoover city, Alabama",None,None,None,None,None,01,35896,2010
3,"Huntsville city, Alabama",None,None,None,None,None,01,37000,2010
4,"Mobile city, Alabama",None,None,None,None,None,01,50000,2010

**B02003 group is uselss in here because the group is mostly with empty variables.** <Br>
So, I decide not to use this group.

There is one other group of race which are the following:<br>

B02008_001E --> Estimate!!Total!WHITE ALONE OR IN COMBINATION WITH ONE OR MORE OTHER RACES<br>
B02009_001E -->BLACK OR AFRICAN AMERICAN ALONE OR IN COMBINATION WITH ONE OR MORE OTHER RACES<br>
B02010_001E -->AMERICAN INDIAN AND ALASKA NATIVE ALONE OR IN COMBINATION WITH ONE OR MORE OTHER RACES<br>
B02011_001E --> ASIAN ALONE OR IN COMBINATION WITH ONE OR MORE OTHER RACES<br>
B02012_001E -->NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE OR IN COMBINATION WITH ONE OR MORE OTHER RACES<br>

In [50]:

dic_2 = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B02008_001E,B02009_001E,B02011_001E,B02010_001E,B02012_001E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_2[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [51]:


# Set up each year's dataset

cities_2010_r2 = pd.DataFrame(dic_2[2010][1:], columns=cols_race)
cities_2010_r2["Year"]=2010


cities_2011_r2 = pd.DataFrame(dic_2[2011][1:], columns=cols_race)
cities_2011_r2["Year"]=2011


cities_2012_r2 = pd.DataFrame(dic_2[2012][1:], columns=cols_race)
cities_2012_r2["Year"]=2012

cities_2013_r2 = pd.DataFrame(dic_2[2013][1:], columns=cols_race)
cities_2013_r2["Year"]=2013


cities_2014_r2 = pd.DataFrame(dic_2[2014][1:], columns=cols_race)
cities_2014_r2["Year"]=2014


cities_2015_r2 = pd.DataFrame(dic_2[2015][1:], columns=cols_race)
cities_2015_r2["Year"]=2015

cities_2016_r2 = pd.DataFrame(dic_2[2016][1:], columns=cols_race)
cities_2016_r2["Year"]=2016

cities_2017_r2 = pd.DataFrame(dic_2[2017][1:], columns=cols_race)
cities_2017_r2["Year"]=2017

cities_2018_r2 = pd.DataFrame(dic_2[2018][1:], columns=cols_race)
cities_2018_r2["Year"]=2018



print(cities_2010_r2.isnull().sum().sum())
print(cities_2011_r2.isnull().sum().sum())
print(cities_2012_r2.isnull().sum().sum())
print(cities_2013_r2.isnull().sum().sum())
print(cities_2014_r2.isnull().sum().sum())
print(cities_2015_r2.isnull().sum().sum())
print(cities_2016_r2.isnull().sum().sum())
print(cities_2017_r2.isnull().sum().sum())
print(cities_2018_r2.isnull().sum().sum())

479
464
415
438
411
440
450
478
499

**No value rows are less than B02003 Group, but still more than B02001 Group.**

### For Race, I decide to use B02001 group, which I picked at the first.

In [52]:

# Combine all race group
frames_r = [cities_2010_r, cities_2011_r, cities_2012_r, cities_2013_r,\
            cities_2014_r,cities_2015_r,cities_2016_r, cities_2017_r, cities_2018_r]
# Concat all years from 2010-2018
race_result = pd.concat(frames_r)
# Creating columns from fips_state_place for joining the with sex
race_result['Fips_State_Place']=race_result['Fips_State']+race_result['Fips_Place']

In [53]:
race_result.tail()

,NAME,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place
625,"Alpharetta city, Georgia",None,None,None,None,None,13,01696,2018,1301696
626,"Caguas zona urbana, Puerto Rico",None,None,None,None,None,72,10334,2018,7210334
627,"Lake Charles city, Louisiana",None,None,None,None,None,22,41155,2018,2241155
628,"Harlingen city, Texas",None,None,None,None,None,48,32372,2018,4832372
629,"Ankeny city, Iowa",None,None,None,None,None,19,02305,2018,1902305

In [54]:
wave_2_sec = pd.merge(sex_result , race_result, how='left',on=['Fips_State_Place','Year','NAME','Fips_State', 'Fips_Place'])

In [55]:
wave_2_sec.head(10)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1,47657,158193,1528,593,0
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0,41867,21123,916,186,0
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1,57507,11555,5345,235,0
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1,114796,53460,5734,434,161
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1,89418,98746,2621,474,53
5,"Montgomery city, Alabama",206655,97605,109050,01,51000,2010,0151000,1,78817,115853,4368,571,90
6,"Tuscaloosa city, Alabama",90637,43997,46640,01,77256,2010,0177256,1,48895,38870,861,0,0
7,"Anchorage municipality, Alaska",293227,148566,144661,02,03000,2010,0203000,1,195553,17874,23986,21787,6388
8,"Avondale city, Arizona",76446,39206,37240,04,04720,2010,0404720,1,59236,6888,1557,1039,189
9,"Chandler city, Arizona",236775,116459,120316,04,12000,2010,0412000,1,181872,12980,24702,1834,384

In [56]:
wave_2_sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5303 entries, 0 to 5302
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAME              5303 non-null   object
 1   Pop_Total         5298 non-null   object
 2   Pop_Male          5298 non-null   object
 3   Pop_Female        5298 non-null   object
 4   Fips_State        5303 non-null   object
 5   Fips_Place        5303 non-null   object
 6   Year              5303 non-null   int64
 7   Fips_State_Place  5303 non-null   object
 8   NYU_500_Largest   5303 non-null   int64
 9   Pop_White         5168 non-null   object
 10  Pop_Black         5168 non-null   object
 11  Pop_Asian         5168 non-null   object
 12  Pop_AIAN          5168 non-null   object
 13  Pop_NHOPI         5168 non-null   object
dtypes: int64(2), object(12)
memory usage: 621.4+ KB

## Ethnicity

For Ethnicity, ACS B02001 Group has two main variables for ethnicity.<br>

B03001_002E	-->Estimate!!Total!!Not Hispanic or Latino<br>
B03001_003E	-->Estimate!!Total!!Hispanic or Latino<br>


These two variables have constant methods, which is the whole number, throughout 2010-2018

In [57]:

dic_e = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B03001_002E,B03001_003E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [58]:
cols_eth= ['NAME', 'Pop_Nonhispanic','Pop_Hispanic','Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2010_e = pd.DataFrame(dic_e[2010][1:], columns=cols_eth)
cities_2010_e["Year"]=2010


cities_2011_e = pd.DataFrame(dic_e[2011][1:], columns=cols_eth)
cities_2011_e["Year"]=2011


cities_2012_e = pd.DataFrame(dic_e[2012][1:], columns=cols_eth)
cities_2012_e["Year"]=2012

cities_2013_e = pd.DataFrame(dic_e[2013][1:], columns=cols_eth)
cities_2013_e["Year"]=2013


cities_2014_e = pd.DataFrame(dic_e[2014][1:], columns=cols_eth)
cities_2014_e["Year"]=2014


cities_2015_e = pd.DataFrame(dic_e[2015][1:], columns=cols_eth)
cities_2015_e["Year"]=2015

cities_2016_e = pd.DataFrame(dic_e[2016][1:], columns=cols_eth)
cities_2016_e["Year"]=2016

cities_2017_e = pd.DataFrame(dic_e[2017][1:], columns=cols_eth)
cities_2017_e["Year"]=2017

cities_2018_e = pd.DataFrame(dic_e[2018][1:], columns=cols_eth)
cities_2018_e["Year"]=2018



print(cities_2010_e.isnull().sum().sum())
print(cities_2011_e.isnull().sum().sum())
print(cities_2012_e.isnull().sum().sum())
print(cities_2013_e.isnull().sum().sum())
print(cities_2014_e.isnull().sum().sum())
print(cities_2015_e.isnull().sum().sum())
print(cities_2016_e.isnull().sum().sum())
print(cities_2017_e.isnull().sum().sum())
print(cities_2018_e.isnull().sum().sum())

1044
1054
1044
1088
1094
1090
1110
1128
1164

In [59]:
# Check data without no-value
cities_2010_e.dropna()

,NAME,Pop_Nonhispanic,Pop_Hispanic,Fips_State,Fips_Place,Year
0,"Phoenix city, Arizona",877736,571745,04,55000,2010
1,"Anaheim city, California",155244,182015,06,02000,2010
2,"Long Beach city, California",266596,196197,06,43000,2010
3,"Los Angeles city, California",1943870,1853274,06,44000,2010
4,"Oakland city, California",294157,97515,06,53000,2010
5,"San Diego city, California",929831,382055,06,66000,2010
6,"San Francisco city, California",683273,122190,06,67000,2010
7,"San Jose city, California",630808,318389,06,68000,2010
8,"Aurora city, Colorado",227038,99681,08,04000,2010
9,"Washington city, District of Columbia",549197,55256,11,50000,2010
10,"Hialeah city, Florida",7216,218245,12,30000,2010
11,"Hollywood city, Florida",99811,41391,12,32000,2010
12,"Jacksonville city, Florida",759235,64081,12,35000,2010
13,"Kendall CDP, Florida",31441,51120,12,36100,2010
14,"Miami city, Florida",116799,284093,12,45000,2010
15,"Miami Beach city, Florida",41262,46848,12,45025,2010
16,"Pembroke Pines city, Florida",90140,65112,12,55775,2010
17,"Tampa city, Florida",262395,74550,12,71000,2010
18,"Chicago city, Illinois",1934863,763968,17,14000,2010
19,"Boston city, Massachusetts",516516,104867,25,07000,2010
20,"Las Vegas city, Nevada",402718,181923,32,40000,2010
21,"Elizabeth city, New Jersey",49877,75345,34,21000,2010
22,"Newark city, New Jersey",184703,92529,34,51000,2010
23,"New York city, New York",5838073,2346826,36,51000,2010
24,"Charlotte city, North Carolina",638172,96246,37,12000,2010
25,"Philadelphia city, Pennsylvania",1339803,188503,42,60000,2010
26,"Austin city, Texas",507388,288130,48,05000,2010
27,"Dallas city, Texas",690820,511977,48,19000,2010
28,"Fort Worth city, Texas",494042,250072,48,27000,2010
29,"Houston city, Texas",1189215,917993,48,35000,2010
30,"San Antonio city, Texas",480705,853654,48,65000,2010
31,"Arlington CDP, Virginia",177720,31737,51,03000,2010
32,"Seattle city, Washington",573849,36861,53,63000,2010

In 2010, there are only 33 cities with Ethnicity. So, 470 cities are without Ethnicity variables.<Br>
Need to look different variables. <br>
    
    B03002 group is also Ethnicity group
    
    B03002_002E --> Estimate!!Total!!Not Hispanic or Latino
    B03002_012E --> Estimate!!Total!!Hispanic or Latino

In [60]:

dic_e1 = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B03002_002E,B03002_012E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e1[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [61]:


# Set up each year's dataset

cities_2010_e1 = pd.DataFrame(dic_e1[2010][1:], columns=cols_eth)
cities_2010_e1["Year"]=2010


cities_2011_e1 = pd.DataFrame(dic_e1[2011][1:], columns=cols_eth)
cities_2011_e1["Year"]=2011


cities_2012_e1 = pd.DataFrame(dic_e1[2012][1:], columns=cols_eth)
cities_2012_e1["Year"]=2012

cities_2013_e1 = pd.DataFrame(dic_e1[2013][1:], columns=cols_eth)
cities_2013_e1["Year"]=2013


cities_2014_e1 = pd.DataFrame(dic_e1[2014][1:], columns=cols_eth)
cities_2014_e1["Year"]=2014


cities_2015_e1 = pd.DataFrame(dic_e1[2015][1:], columns=cols_eth)
cities_2015_e1["Year"]=2015

cities_2016_e1 = pd.DataFrame(dic_e1[2016][1:], columns=cols_eth)
cities_2016_e1["Year"]=2016

cities_2017_e1 = pd.DataFrame(dic_e1[2017][1:], columns=cols_eth)
cities_2017_e1["Year"]=2017

cities_2018_e1 = pd.DataFrame(dic_e1[2018][1:], columns=cols_eth)
cities_2018_e1["Year"]=2018



print(cities_2010_e1.isnull().sum().sum())
print(cities_2011_e1.isnull().sum().sum())
print(cities_2012_e1.isnull().sum().sum())
print(cities_2013_e1.isnull().sum().sum())
print(cities_2014_e1.isnull().sum().sum())
print(cities_2015_e1.isnull().sum().sum())
print(cities_2016_e1.isnull().sum().sum())
print(cities_2017_e1.isnull().sum().sum())
print(cities_2018_e1.isnull().sum().sum())

560
582
500
528
516
552
530
580
584

In [62]:
cities_2010_e1

,NAME,Pop_Nonhispanic,Pop_Hispanic,Fips_State,Fips_Place,Year
0,"Huntsville city, Alabama",170562,10564,01,37000,2010
1,"Anchorage municipality, Alaska",270925,22302,02,03000,2010
2,"Chandler city, Arizona",180028,56747,04,12000,2010
3,"Flagstaff city, Arizona",54703,11273,04,23620,2010
4,"Gilbert town, Arizona",180642,28365,04,27400,2010
5,"Glendale city, Arizona",141901,85457,04,27820,2010
6,"Mesa city, Arizona",324773,115475,04,46000,2010
7,"Peoria city, Arizona",122187,32288,04,54050,2010
8,"Phoenix city, Arizona",877736,571745,04,55000,2010
9,"Tempe city, Arizona",127900,34223,04,73000,2010
10,"Tucson city, Arizona",309756,211376,04,77000,2010
11,"Yuma city, Arizona",40308,53101,04,85540,2010
12,"Alameda city, California",64946,9035,06,00562,2010
13,"Anaheim city, California",155244,182015,06,02000,2010
14,"Antioch city, California",61143,41602,06,02252,2010
15,"Arden-Arcade CDP, California",67522,19750,06,02553,2010
16,"Bakersfield city, California",186631,161951,06,03526,2010
17,"Berkeley city, California",100839,11985,06,06000,2010
18,"Buena Park city, California",50095,30671,06,08786,2010
19,"Carson city, California",58656,33172,06,11530,2010
20,"Chico city, California",72373,13840,06,13014,2010
21,"Chino city, California",33284,44953,06,13210,2010
22,"Chino Hills city, California",47363,27707,06,13214,2010
23,"Chula Vista city, California",109018,135771,06,13392,2010
24,"Citrus Heights city, California",68089,15401,06,13588,2010
25,"Clovis city, California",70572,25343,06,14218,2010
26,"Concord city, California",90511,31997,06,16000,2010
27,"Corona city, California",89151,64184,06,16350,2010
28,"Costa Mesa city, California",66662,43591,06,16532,2010
29,"Daly City city, California",76768,24593,06,17918,2010
30,"East Los Angeles CDP, California",3190,124008,06,20802,2010
31,"El Cajon city, California",70350,29491,06,21712,2010
32,"Elk Grove city, California",124091,29310,06,22020,2010
33,"Escondido city, California",78060,66342,06,22804,2010
34,"Fairfield city, California",77836,27744,06,23182,2010
35,"Fontana city, California",74594,122184,06,24680,2010
36,"Fremont city, California",181072,33541,06,26000,2010
37,"Fresno city, California",264057,232090,06,27000,2010
38,"Fullerton city, California",85487,50054,06,28000,2010
39,"Garden Grove city, California",113134,58252,06,29000,2010
40,"Glendale city, California",159506,32448,06,30000,2010
41,"Hawthorne city, California",39370,45012,06,32548,2010
42,"Hayward city, California",84898,59651,06,33000,2010
43,"Hesperia city, California",51745,38741,06,33434,2010
44,"Huntington Beach city, California",156045,34496,06,36000,2010
45,"Inglewood city, California",52398,57401,06,36546,2010
46,"Irvine city, California",192011,20971,06,36770,2010
47,"Lakewood city, California",50546,29608,06,39892,2010
48,"Lancaster city, California",101194,55592,06,40130,2010
49,"Long Beach city, California",266596,196197,06,43000,2010
50,"Los Angeles city, California",1943870,1853274,06,44000,2010
51,"Manteca city, California",43396,23942,06,45484,2010
52,"Merced city, California",43118,36136,06,46898,2010
53,"Modesto city, California",129341,72179,06,48354,2010
54,"Moreno Valley city, California",92045,102547,06,49270,2010
55,"Murrieta city, California",74951,29157,06,50076,2010
56,"Norwalk city, California",36154,69532,06,52526,2010
57,"Oakland city, California",294157,97515,06,53000,2010
58,"Oceanside city, California",104085,63595,06,53322,2010
59,"Ontario city, California",53638,110879,06,53896,2010
60,"Orange city, California",85329,51474,06,53980,2010
61,"Oxnard city, California",55913,142571,06,54652,2010
62,"Palmdale city, California",70819,82125,06,55156,2010
63,"Pasadena city, California",88106,49188,06,56000,2010
64,"Pomona city, California",44285,104940,06,58072,2010
65,"Rancho Cucamonga city, California",110005,55853,06,59451,2010
66,"Redding city, California",81514,8387,06,59920,2010
67,"Redwood City city, California",46723,30290,06,60102,2010
68,"Rialto city, California",28484,71046,06,60466,2010
69,"Riverside city, California",156286,149421,06,62000,2010
70,"Roseville city, California",102644,16691,06,62938,2010
71,"Sacramento city, California",343042,124461,06,64000,2010
72,"Salinas city, California",37619,113412,06,64224,2010
73,"San Bernardino city, California",79053,131617,06,65000,2010
74,"San Buenaventura (Ventura) city, California",68901,37829,06,65042,2010
75,"San Diego city, California",929831,382055,06,66000,2010
76,"San Francisco city, California",683273,122190,06,67000,2010
77,"San Jose city, California",630808,318389,06,68000,2010
78,"San Leandro city, California",64103,21056,06,68084,2010
79,"San Mateo city, California",72466,24995,06,68252,2010
80,"Santa Ana city, California",71584,253899,06,69000,2010
81,"Santa Barbara city, California",52586,35993,06,69070,2010
82,"Santa Clara city, California",93754,23110,06,69084,2010
83,"Santa Clarita city, California",128050,48485,06,69088,2010
84,"Santa Maria city, California",29338,70409,06,69196,2010
85,"Santa Rosa city, California",120173,48071,06,70098,2010
86,"Simi Valley city, California",94556,30040,06,72016,2010
87,"Stockton city, California",179313,113434,06,75000,2010
88,"Temecula city, California",75046,25705,06,78120,2010
89,"Torrance city, California",123247,22371,06,80000,2010
90,"Tracy city, California",51532,31691,06,80238,2010
91,"Vallejo city, California",89390,26827,06,81666,2010
92,"Victorville city, California",57196,59109,06,82590,2010
93,"Visalia city, California",64894,59972,06,82954,2010
94,"Vista city, California",47147,47023,06,82996,2010
95,"West Covina city, California",45700,60521,06,84200,2010
96,"Aurora city, Colorado",227038,99681,08,04000,2010
97,"Colorado Springs city, Colorado",350432,69154,08,16000,2010
98,"Denver city, Colorado",411321,193093,08,20000,2010
99,"Fort Collins city, Colorado",130788,13665,08,27425,2010
100,"Greeley city, Colorado",62148,31241,08,32155,2010
101,"Lakewood city, Colorado",110392,32838,08,43000,2010
102,"Longmont city, Colorado",64873,21556,08,45970,2010
103,"Pueblo city, Colorado",54248,52617,08,62000,2010
104,"Bridgeport city, Connecticut",91034,53487,09,08000,2010
105,"Hartford city, Connecticut",72265,52582,09,37000,2010
106,"New Haven city, Connecticut",96141,33708,09,52000,2010
107,"Stamford city, Connecticut",88078,34824,09,73000,2010
108,"Waterbury city, Connecticut",76800,33630,09,80000,2010
109,"Washington city, District of Columbia",549197,55256,11,50000,2010
110,"Brandon CDP, Florida",77274,25665,12,08150,2010
111,"Coral Springs city, Florida",89885,31607,12,14400,2010
112,"Gainesville city, Florida",111590,12843,12,25175,2010
113,"Hollywood city, Florida",99811,41391,12,32000,2010
114,"Jacksonville city, Florida",759235,64081,12,35000,2010
115,"Miami city, Florida",116799,284093,12,45000,2010
116,"Miami Beach city, Florida",41262,46848,12,45025,2010
117,"Orlando city, Florida",182976,56061,12,53000,2010
118,"Pembroke Pines city, Florida",90140,65112,12,55775,2010
119,"Plantation city, Florida",69301,15916,12,57425,2010
120,"Port St. Lucie city, Florida",137113,28040,12,58715,2010
121,"Tallahassee city, Florida",171179,10555,12,70600,2010
122,"Tampa city, Florida",262395,74550,12,71000,2010
123,"Atlanta city, Georgia",396973,25365,13,04000,2010
124,Augusta-Richmond County consolidated governmen...,188010,8376,13,04204,2010
125,"Columbus city, Georgia",178162,12255,13,19000,2010
126,"Urban Honolulu CDP, Hawaii",321040,17869,15,71550,2010
127,"Nampa city, Idaho",62397,19384,16,56260,2010
128,"Aurora city, Illinois",105444,88138,17,03012,2010
129,"Chicago city, Illinois",1934863,763968,17,14000,2010
130,"Joliet city, Illinois",112761,38095,17,38570,2010
131,"Rockford city, Illinois",125089,27131,17,65000,2010
132,"Fort Wayne city, Indiana",234120,19576,18,25000,2010
133,"Indianapolis city (balance), Indiana",745732,78467,18,36003,2010
134,"South Bend city, Indiana",94266,12806,18,71000,2010
135,"Davenport city, Iowa",92373,7695,19,19000,2010
136,"Des Moines city, Iowa",180364,23832,19,21000,2010
137,"Kansas City city, Kansas",106687,41111,20,36000,2010
138,"Lawrence city, Kansas",87141,5577,20,38900,2010
139,"Overland Park city, Kansas",163657,10252,20,53775,2010
140,"Topeka city, Kansas",110015,17712,20,71000,2010
141,"Wichita city, Kansas",323319,59823,20,79000,2010
142,"Lexington-Fayette urban county, Kentucky",276164,20601,21,46027,2010
143,Louisville/Jefferson County metro government (...,570454,27776,21,48006,2010
144,"Baton Rouge city, Louisiana",221400,8459,22,05000,2010
145,"Metairie CDP, Louisiana",115753,17185,22,50115,2010
146,"New Orleans city, Louisiana",329599,18259,22,55000,2010
147,"Shreveport city, Louisiana",193671,5263,22,70000,2010
148,"Baltimore city, Maryland",594552,26031,24,04000,2010
149,"Silver Spring CDP, Maryland",54161,22373,24,72450,2010
150,"Boston city, Massachusetts",516516,104867,25,07000,2010
151,"Brockton city, Massachusetts",84508,9465,25,09000,2010
152,"Framingham CDP, Massachusetts",60339,8122,25,24960,2010
153,"Lawrence city, Massachusetts",18516,58010,25,34550,2010
154,"Lowell city, Massachusetts",88454,18276,25,37000,2010
155,"Lynn city, Massachusetts",62679,27832,25,37490,2010
156,"New Bedford city, Massachusetts",81043,14095,25,45000,2010
157,"Springfield city, Massachusetts",90955,62160,25,67000,2010
158,"Worcester city, Massachusetts",145979,35285,25,82000,2010
159,"Ann Arbor city, Michigan",107705,6396,26,03000,2010
160,"Detroit city, Michigan",666330,45580,26,22000,2010
161,"Grand Rapids city, Michigan",157555,30659,26,34000,2010
162,"Lansing city, Michigan",98982,15035,26,46000,2010
163,"Minneapolis city, Minnesota",348776,34504,27,43000,2010
164,"St. Paul city, Minnesota",256714,28725,27,58000,2010
165,"Kansas City city, Missouri",410865,49800,29,38000,2010
166,"St. Louis city, Missouri",307949,11207,29,65000,2010
167,"Springfield city, Missouri",153332,6311,29,70000,2010
168,"Billings city, Montana",98931,5560,30,06550,2010
169,"Lincoln city, Nebraska",243034,16007,31,28000,2010
170,"Omaha city, Nebraska",356608,53661,31,37000,2010
171,"Enterprise CDP, Nevada",96626,22071,32,23770,2010
172,"Henderson city, Nevada",220606,37532,32,31900,2010
173,"Las Vegas city, Nevada",402718,181923,32,40000,2010
174,"North Las Vegas city, Nevada",134220,83084,32,51800,2010
175,"Paradise CDP, Nevada",144997,70589,32,54600,2010
176,"Reno city, Nevada",171661,54157,32,60600,2010
177,"Sparks city, Nevada",61120,29384,32,68400,2010
178,"Spring Valley CDP, Nevada",145290,34540,32,68585,2010
179,"Sunrise Manor CDP, Nevada",90486,94800,32,71400,2010
180,"Camden city, New Jersey",40604,36727,34,10000,2010
181,"Clifton city, New Jersey",52592,31657,34,13690,2010
182,"Elizabeth city, New Jersey",49877,75345,34,21000,2010
183,"Jersey City city, New Jersey",178132,69873,34,36000,2010
184,"Newark city, New Jersey",184703,92529,34,51000,2010
185,"Trenton city, New Jersey",55944,29071,34,74000,2010
186,"Union City city, New Jersey",15855,50705,34,74630,2010
187,"Albuquerque city, New Mexico",288438,259147,35,02000,2010
188,"Las Cruces city, New Mexico",40988,57251,35,39380,2010
189,"Rio Rancho city, New Mexico",55973,31981,35,63460,2010
190,"Santa Fe city, New Mexico",35163,32994,35,70500,2010
191,"Albany city, New York",89450,8287,36,01000,2010
192,"Buffalo city, New York",239525,21685,36,11000,2010
193,"Mount Vernon city, New York",57261,10136,36,49121,2010
194,"New York city, New York",5838073,2346826,36,51000,2010
195,"Rochester city, New York",176330,34265,36,63000,2010
196,"Schenectady city, New York",59350,6852,36,65508,2010
197,"Syracuse city, New York",132202,13014,36,73000,2010
198,"Yonkers city, New York",128119,68158,36,84000,2010
199,"Charlotte city, North Carolina",638172,96246,37,12000,2010
200,"Durham city, North Carolina",195776,33253,37,19000,2010
201,"Fayetteville city, North Carolina",180431,20646,37,22920,2010
202,"Greensboro city, North Carolina",252382,17975,37,28000,2010
203,"Raleigh city, North Carolina",361247,45362,37,55000,2010
204,"Winston-Salem city, North Carolina",195281,34763,37,75000,2010
205,"Cincinnati city, Ohio",288197,8710,39,15000,2010
206,"Cleveland city, Ohio",360173,36067,39,16000,2010
207,"Columbus city, Ohio",746663,43276,39,18000,2010
208,"Lorain city, Ohio",48772,15356,39,44856,2010
209,"Toledo city, Ohio",265633,21346,39,77000,2010
210,"Lawton city, Oklahoma",85441,12391,40,41850,2010
211,"Oklahoma City city, Oklahoma",480813,101465,40,55000,2010
212,"Tulsa city, Oklahoma",338311,55266,40,75000,2010
213,"Portland city, Oregon",526443,58986,41,59000,2010
214,"Salem city, Oregon",123404,31600,41,64900,2010
215,"Allentown city, Pennsylvania",68647,49593,42,02000,2010
216,"Bethlehem city, Pennsylvania",55883,19350,42,06088,2010
217,"Philadelphia city, Pennsylvania",1339803,188503,42,60000,2010
218,"Pittsburgh city, Pennsylvania",298477,7282,42,61000,2010
219,"Reading city, Pennsylvania",37126,51049,42,63624,2010
220,"Cranston city, Rhode Island",73724,6700,44,19180,2010
221,"Pawtucket city, Rhode Island",58228,12976,44,54640,2010
222,"Providence city, Rhode Island",101517,76645,44,59000,2010
223,"Clarksville city, Tennessee",121647,12022,47,15160,2010
224,"Memphis city, Tennessee",607274,40596,47,48000,2010
225,Nashville-Davidson metropolitan government (ba...,541406,61212,47,52006,2010
226,"Abilene city, Texas",89501,30187,48,01000,2010
227,"Amarillo city, Texas",138545,55616,48,03000,2010
228,"Arlington city, Texas",259026,108159,48,04000,2010
229,"Austin city, Texas",507388,288130,48,05000,2010
230,"Beaumont city, Texas",98914,19441,48,07000,2010
231,"Carrollton city, Texas",82867,36892,48,13024,2010
232,"Corpus Christi city, Texas",124463,180979,48,17000,2010
233,"Dallas city, Texas",690820,511977,48,19000,2010
234,"Denton city, Texas",90625,23475,48,19972,2010
235,"El Paso city, Texas",129022,523091,48,24000,2010
236,"Fort Worth city, Texas",494042,250072,48,27000,2010
237,"Garland city, Texas",138713,88891,48,29000,2010
238,"Grand Prairie city, Texas",101524,74566,48,30464,2010
239,"Houston city, Texas",1189215,917993,48,35000,2010
240,"Irving city, Texas",121179,95960,48,37000,2010
241,"Killeen city, Texas",96394,32676,48,39148,2010
242,"Lubbock city, Texas",156070,74664,48,45000,2010
243,"McKinney city, Texas",105090,27057,48,45744,2010
244,"Mesquite city, Texas",100541,39752,48,47892,2010
245,"Midland city, Texas",66788,44450,48,48072,2010
246,"Pasadena city, Texas",55959,93763,48,56000,2010
247,"Plano city, Texas",222116,39581,48,58016,2010
248,"San Antonio city, Texas",480705,853654,48,65000,2010
249,"Waco city, Texas",84895,40515,48,76000,2010
250,"Ogden city, Utah",61082,22089,49,55980,2010
251,"Provo city, Utah",98592,14604,49,62470,2010
252,"Salt Lake City city, Utah",141664,45551,49,67000,2010
253,"West Valley City city, Utah",92325,37701,49,83470,2010
254,"Arlington CDP, Virginia",177720,31737,51,03000,2010
255,"Chesapeake city, Virginia",213286,9700,51,16000,2010
256,"Hampton city, Virginia",131117,6264,51,35000,2010
257,"Newport News city, Virginia",167119,13593,51,56000,2010
258,"Norfolk city, Virginia",226914,16221,51,57000,2010
259,"Virginia Beach city, Virginia",409966,29206,51,82000,2010
260,"Auburn city, Washington",62340,8533,53,03180,2010
261,"Everett city, Washington",83497,19824,53,22640,2010
262,"Kent city, Washington",76456,16266,53,35415,2010
263,"Renton city, Washington",70602,20657,53,57745,2010
264,"Seattle city, Washington",573849,36861,53,63000,2010
265,"Spokane city, Washington",198320,11014,53,67000,2010
266,"Tacoma city, Washington",177453,21053,53,70000,2010
267,"Vancouver city, Washington",146822,15608,53,74060,2010
268,"Yakima city, Washington",52627,38898,53,80010,2010
269,"Green Bay city, Wisconsin",91692,12574,55,31000,2010
270,"Kenosha city, Wisconsin",84742,14620,55,39225,2010
271,"Madison city, Wisconsin",219715,14062,55,48000,2010
272,"Milwaukee city, Wisconsin",490968,104619,55,53000,2010
273,"Carolina zona urbana, Puerto Rico",2897,157427,72,14290,2010
274,"San Juan zona urbana, Puerto Rico",8856,374044,72,76770,2010
275,"Warner Robins city, Georgia",None,None,13,80508,2010
276,"East Orange city, New Jersey",None,None,34,19390,2010
277,"Lehigh Acres CDP, Florida",None,None,12,39925,2010
278,"St. Petersburg city, Florida",None,None,12,63000,2010
279,"Bellevue city, Washington",None,None,53,05210,2010
280,"Gary city, Indiana",None,None,18,27000,2010
281,"Lynchburg city, Virginia",None,None,51,47672,2010
282,"Birmingham city, Alabama",None,None,01,07000,2010
283,"Apple Valley town, California",None,None,06,02364,2010
284,"Wilmington city, Delaware",None,None,10,77580,2010
285,"Bolingbrook village, Illinois",None,None,17,07133,2010
286,"Jackson city, Tennessee",None,None,47,37640,2010
287,"Albany city, Georgia",None,None,13,01052,2010
288,"Warren city, Michigan",None,None,26,84000,2010
289,"Hialeah city, Florida",None,None,12,30000,2010
290,"Richmond city, California",None,None,06,60620,2010
291,"Sunrise city, Florida",None,None,12,69700,2010
292,"Sioux City city, Iowa",None,None,19,73335,2010
293,"Atascocita CDP, Texas",None,None,48,04462,2010
294,"Southfield city, Michigan",None,None,26,74900,2010
295,"Longview city, Texas",None,None,48,43888,2010
296,"Mission city, Texas",None,None,48,48768,2010
297,"Springdale city, Arkansas",None,None,05,66080,2010
298,"Boise City city, Idaho",None,None,16,08830,2010
299,"Cape Coral city, Florida",None,None,12,10275,2010
300,"Troy city, Michigan",None,None,26,80700,2010
301,"Skokie village, Illinois",None,None,17,70122,2010
302,"Centreville CDP, Virginia",None,None,51,14440,2010
303,"Mayagüez zona urbana, Puerto Rico",None,None,72,52431,2010
304,"Fort Lauderdale city, Florida",None,None,12,24000,2010
305,"Quincy city, Massachusetts",None,None,25,55745,2010
306,"Ellicott City CDP, Maryland",None,None,24,26000,2010
307,"McAllen city, Texas",None,None,48,45384,2010
308,"Norwalk city, Connecticut",None,None,09,55990,2010
309,"Olathe city, Kansas",None,None,20,52575,2010
310,"Burbank city, California",None,None,06,08954,2010
311,"St. Cloud city, Minnesota",None,None,27,56896,2010
312,"Columbia city, Missouri",None,None,29,15670,2010
313,"Knoxville city, Tennessee",None,None,47,40000,2010
314,"Goodyear city, Arizona",None,None,04,28380,2010
315,"San Ramon city, California",None,None,06,68378,2010
316,"Guaynabo zona urbana, Puerto Rico",None,None,72,32522,2010
317,"Hammond city, Indiana",None,None,18,31000,2010
318,"Oshkosh city, Wisconsin",None,None,55,60500,2010
319,"Napa city, California",None,None,06,50258,2010
320,"Flint city, Michigan",None,None,26,29000,2010
321,"Mission Viejo city, California",None,None,06,48256,2010
322,"Boca Raton city, Florida",None,None,12,07300,2010
323,"Davis city, California",None,None,06,18100,2010
324,"Meridian city, Idaho",None,None,16,52120,2010
325,"St. George city, Utah",None,None,49,65330,2010
326,"Tustin city, California",None,None,06,80854,2010
327,"Riverview CDP, Florida",None,None,12,60950,2010
328,"Waterloo city, Iowa",None,None,19,82425,2010
329,"Carmel city, Indiana",None,None,18,10342,2010
330,"Muncie city, Indiana",None,None,18,51876,2010
331,"Portland city, Maine",None,None,23,60545,2010
332,"Greenville city, North Carolina",None,None,37,28080,2010
333,"Downey city, California",None,None,06,19766,2010
334,"Hemet city, California",None,None,06,33182,2010
335,"Vacaville city, California",None,None,06,81554,2010
336,"Lauderhill city, Florida",None,None,12,39550,2010
337,"Gulfport city, Mississippi",None,None,28,29700,2010
338,"Bellflower city, California",None,None,06,04982,2010
339,"Lee's Summit city, Missouri",None,None,29,41348,2010
340,"Passaic city, New Jersey",None,None,34,56550,2010
341,"New Rochelle city, New York",None,None,36,50617,2010
342,"Racine city, Wisconsin",None,None,55,66000,2010
343,"El Monte city, California",None,None,06,22230,2010
344,"Menifee city, California",None,None,06,46842,2010
345,"Johns Creek city, Georgia",None,None,13,42425,2010
346,"Weston city, Florida",None,None,12,76582,2010

Final group for Ethnicity is B03003 for HISPANIC OR LATINO ORIGIN <br>
B03003_001E	Estimate!!Total <br>
B03003_002E	Estimate!!Total!!Not Hispanic or Latino  <br>
B03003_003E	Estimate!!Total!!Hispanic or Latino <Br>

In [63]:

dic_e2 = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B03003_001E,B03003_002E,B03003_003E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e2[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [64]:
cols_e2th= ['NAME', 'total_pop','Pop_Nonhispanic','Pop_Hispanic','Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2010_e2 = pd.DataFrame(dic_e2[2010][1:], columns=cols_e2th)
cities_2010_e2["Year"]=2010


cities_2011_e2 = pd.DataFrame(dic_e2[2011][1:], columns=cols_e2th)
cities_2011_e2["Year"]=2011


cities_2012_e2 = pd.DataFrame(dic_e2[2012][1:], columns=cols_e2th)
cities_2012_e2["Year"]=2012

cities_2013_e2 = pd.DataFrame(dic_e2[2013][1:], columns=cols_e2th)
cities_2013_e2["Year"]=2013


cities_2014_e2 = pd.DataFrame(dic_e2[2014][1:], columns=cols_e2th)
cities_2014_e2["Year"]=2014


cities_2015_e2 = pd.DataFrame(dic_e2[2015][1:], columns=cols_e2th)
cities_2015_e2["Year"]=2015

cities_2016_e2 = pd.DataFrame(dic_e2[2016][1:], columns=cols_e2th)
cities_2016_e2["Year"]=2016

cities_2017_e2 = pd.DataFrame(dic_e2[2017][1:], columns=cols_e2th)
cities_2017_e2["Year"]=2017

cities_2018_e2 = pd.DataFrame(dic_e2[2018][1:], columns=cols_e2th)
cities_2018_e2["Year"]=2018



print(cities_2010_e2.isnull().sum().sum())
print(cities_2011_e2.isnull().sum().sum())
print(cities_2012_e2.isnull().sum().sum())
print(cities_2013_e2.isnull().sum().sum())
print(cities_2014_e2.isnull().sum().sum())
print(cities_2015_e2.isnull().sum().sum())
print(cities_2016_e2.isnull().sum().sum())
print(cities_2017_e2.isnull().sum().sum())
print(cities_2018_e2.isnull().sum().sum())

0
0
0
0
0
0
0
0
0

In [65]:
cities_2010_e2.tail()

,NAME,total_pop,Pop_Nonhispanic,Pop_Hispanic,Fips_State,Fips_Place,Year
550,"Carolina zona urbana, Puerto Rico",160324,2897,157427,72,14290,2010
551,"Guaynabo zona urbana, Puerto Rico",72315,1204,71111,72,32522,2010
552,"Mayagüez zona urbana, Puerto Rico",71129,1453,69676,72,52431,2010
553,"Ponce zona urbana, Puerto Rico",134788,861,133927,72,63820,2010
554,"San Juan zona urbana, Puerto Rico",382900,8856,374044,72,76770,2010

There is no none value, so I will use B03003 group.

In [66]:

# Combine all race group
frames_e = [cities_2010_e2, cities_2011_e2, cities_2012_e2, cities_2013_e2,cities_2014_e2,cities_2015_e2,cities_2016_e2, cities_2017_e2, cities_2018_e2]
# Concat all years from 2010-2018
eth_result = pd.concat(frames_e)
# Creating columns from fips_state_place for joining the with sex
eth_result['Fips_State_Place']=eth_result['Fips_State']+eth_result['Fips_Place']

In [67]:
# filter out total_pop because we do not need it anymore.

eth_result.drop('total_pop', axis=1, inplace=True)

In [68]:
wave_2_third = pd.merge(wave_2_sec , eth_result, how='left',on=['Fips_State_Place','Year','NAME','Fips_State', 'Fips_Place'])

In [69]:
wave_2_third.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1,47657,158193,1528,593,0,204155,7515
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0,41867,21123,916,186,0,64104,2017
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1,57507,11555,5345,235,0,72254,8122
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1,114796,53460,5734,434,161,170562,10564
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1,89418,98746,2621,474,53,190257,4992

In [70]:
#wave_2_third.to_csv("wave2_third.csv", index=False)


# Age Group

ACS1 table has its own age and sex grouping. <br> 
For example, Estimate!!Total!!Male!!15 to 17 years,     Estimate!!Total!!Male!!10 to 14 years<br>
Yet, the ACS1 table divides into Sex and/or race and grouped with different lengths of the years. Therefore, I decided to use the ACS1/subject dataset because it is grouped well and shows relevant age groups.

For Age Group, from 2017, Under 18 years is added. It is useful to us, but it does not present in ACS1/subject table before 2016. The following are the variables and its name. 


Year | Under 18 years | 15 to 44 years | 18 years and over | 65 years and over
-- | -- | -- | -- | --
2010 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2011 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2012 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2013 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2014 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2015 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2016 | None | S0101_C01_023E | S0101_C01_025E | S0101_C01_028E
2017 | S0101_C02_022E | S0101_C02_024E | S0101_C02_026E | S0101_C02_030E
2018 | S0101_C02_022E | S0101_C02_024E | S0101_C02_026E | S0101_C02_030E


I can calculate Under 18 using total population - population for 18years and over. Yet, I will try to gather pure dataset first, so I decide to eliminate Under 18 years from Age group. <br>
Also 2010-2016, Census API only has percentage of age group. In 2017-2018, it has both whole number and percentage. 

Due to the different variable name, I will gather 2010-2016 and 2017-2018 separately.

In [71]:
# 2010-2016

dic_a = {}
for year in range(2010,2017):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,S0101_C01_023E,S0101_C01_025E,S0101_C01_028E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_a[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606

In [72]:
# For 2017 and 2018
for year in range(2017,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,S0101_C02_024E,S0101_C02_026E,S0101_C02_030E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_a[year] = data

2017 615
2018 631

In [73]:
cols_age= ['NAME', 'Per_15to44_years(%)','Per_18_years_and_over(%)','Per_65_years_and_over(%)','Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2010_a = pd.DataFrame(dic_a[2010][1:], columns=cols_age)
cities_2010_a["Year"]=2010


cities_2011_a = pd.DataFrame(dic_a[2011][1:], columns=cols_age)
cities_2011_a["Year"]=2011


cities_2012_a = pd.DataFrame(dic_a[2012][1:], columns=cols_age)
cities_2012_a["Year"]=2012

cities_2013_a = pd.DataFrame(dic_a[2013][1:], columns=cols_age)
cities_2013_a["Year"]=2013


cities_2014_a = pd.DataFrame(dic_a[2014][1:], columns=cols_age)
cities_2014_a["Year"]=2014


cities_2015_a = pd.DataFrame(dic_a[2015][1:], columns=cols_age)
cities_2015_a["Year"]=2015

cities_2016_a = pd.DataFrame(dic_a[2016][1:], columns=cols_age)
cities_2016_a["Year"]=2016

cities_2017_a = pd.DataFrame(dic_a[2017][1:], columns=cols_age)
cities_2017_a["Year"]=2017

cities_2018_a = pd.DataFrame(dic_a[2018][1:], columns=cols_age)
cities_2018_a["Year"]=2018



print(cities_2010_a.isnull().sum().sum())
print(cities_2011_a.isnull().sum().sum())
print(cities_2012_a.isnull().sum().sum())
print(cities_2013_a.isnull().sum().sum())
print(cities_2014_a.isnull().sum().sum())
print(cities_2015_a.isnull().sum().sum())
print(cities_2016_a.isnull().sum().sum())
print(cities_2017_a.isnull().sum().sum())
print(cities_2018_a.isnull().sum().sum())

0
0
0
0
0
0
0
0
0

#### There are no-value cities.

In [74]:
cities_2010_a.head()

,NAME,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%),Fips_State,Fips_Place,Year
0,"Birmingham city, Alabama",42.8,78.7,13.1,01,07000,2010
1,"Dothan city, Alabama",38.7,74.8,14.3,01,21184,2010
2,"Hoover city, Alabama",39.7,71.3,12.4,01,35896,2010
3,"Huntsville city, Alabama",42.5,78.4,13.5,01,37000,2010
4,"Mobile city, Alabama",40.5,76.7,13.9,01,50000,2010

In [75]:
cities_2018_a.head()

,NAME,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%),Fips_State,Fips_Place,Year
0,"Yuma city, Arizona",43.1,74.5,15.8,04,85540,2018
1,"Concord city, California",41.5,83.0,15.6,06,16000,2018
2,"East Los Angeles CDP, California",45.7,75.5,11.3,06,20802,2018
3,"El Cajon city, California",45.4,74.7,12.1,06,21712,2018
4,"Napa city, California",38.5,77.1,18.4,06,50258,2018

In [76]:

# Combine all age group
frames_a = [cities_2010_a, cities_2011_a, cities_2012_a, cities_2013_a\
            ,cities_2014_a,cities_2015_a,cities_2016_a, cities_2017_a, cities_2018_a]
# Concat all years from 2010-2018
age_result = pd.concat(frames_a)
# Creating columns from fips_state_place for joining the with others
age_result['Fips_State_Place']=age_result['Fips_State']+age_result['Fips_Place']

In [77]:
wave_2_final= pd.merge(wave_2_third , age_result, how='left',on=['Fips_State_Place','Year','NAME','Fips_State', 'Fips_Place'])

In [78]:
wave_2_final.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1,47657,158193,1528,593,0,204155,7515,42.8,78.7,13.1
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0,41867,21123,916,186,0,64104,2017,38.7,74.8,14.3
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1,57507,11555,5345,235,0,72254,8122,39.7,71.3,12.4
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1,114796,53460,5734,434,161,170562,10564,42.5,78.4,13.5
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1,89418,98746,2621,474,53,190257,4992,40.5,76.7,13.9

In [79]:
wave_2_final.tail()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
5298,"Menifee city, California",92602,46509,46093,06,46842,2018,0646842,1,61008,5099,2617,1302,178,56293,36309,37.1,74.6,18.3
5299,"Riverside city, California",330080,160110,169970,06,62000,2018,0662000,1,209083,19591,27672,2736,660,144752,185328,48.7,76.4,10.5
5300,"Springfield city, Massachusetts",155029,75821,79208,25,67000,2018,2567000,1,97277,34369,3681,713,0,80031,74998,43.6,75.9,13.3
5301,"Dale City CDP, Virginia",68805,35840,32965,51,21088,2018,5121088,0,34949,17559,6719,794,0,46928,21877,41.7,72.9,10.7
5302,"South Gate city, California",94439,47917,46522,06,73080,2018,0673080,1,60943,611,864,757,653,3503,90936,46.0,71.2,9.4

In [80]:
wave_2_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5303 entries, 0 to 5302
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NAME                      5303 non-null   object
 1   Pop_Total                 5298 non-null   object
 2   Pop_Male                  5298 non-null   object
 3   Pop_Female                5298 non-null   object
 4   Fips_State                5303 non-null   object
 5   Fips_Place                5303 non-null   object
 6   Year                      5303 non-null   int64
 7   Fips_State_Place          5303 non-null   object
 8   NYU_500_Largest           5303 non-null   int64
 9   Pop_White                 5168 non-null   object
 10  Pop_Black                 5168 non-null   object
 11  Pop_Asian                 5168 non-null   object
 12  Pop_AIAN                  5168 non-null   object
 13  Pop_NHOPI                 5168 non-null   object
 14  Pop_Nonhispanic           5303 non-null   object
 15  Pop_Hispanic              5303 non-null   object
 16  Per_15to44_years(%)       5303 non-null   object
 17  Per_18_years_and_over(%)  5303 non-null   object
 18  Per_65_years_and_over(%)  5303 non-null   object
dtypes: int64(2), object(17)
memory usage: 828.6+ KB

## Treating NONE data

As I checked it before, there are 1 city with Non value in male and female (Villages CDP, Florida) and 135 rows empty from Race. I will mark this value as -998 which is N/A data.

In [81]:
findnanrows(wave_2_final)

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
25,"Jonesboro city, Arkansas",67486,33384,34102,05,35710,2010,0535710,1,None,None,None,None,None,63847,3639,48.7,74.3,10.3
83,"Lynwood city, California",69863,33415,36448,06,44574,2010,0644574,1,None,None,None,None,None,10161,59702,52.7,70.8,5.3
182,"Boynton Beach city, Florida",68380,31160,37220,12,07875,2010,1207875,1,None,None,None,None,None,62124,6256,36.3,84.3,24.8
204,"Miami Gardens city, Florida",107559,48347,59212,12,45060,2010,1245060,1,None,None,None,None,None,84572,22987,43.0,72.7,10.2
235,"Meridian city, Idaho",75324,36019,39305,16,52120,2010,1652120,1,None,None,None,None,None,71302,4022,42.7,66.4,7.6
259,"Fishers town, Indiana",77579,37616,39963,18,23278,2010,1823278,1,None,None,None,None,None,76558,1021,44.3,67.6,6.1
291,"Ellicott City CDP, Maryland",67241,31849,35392,24,26000,2010,2426000,0,None,None,None,None,None,64646,2595,38.6,73.2,10.7
322,"Troy city, Michigan",81037,40986,40051,26,80700,2010,2680700,1,None,None,None,None,None,80047,990,35.3,76.1,13.4
335,"Jackson city, Mississippi",173315,79986,93329,28,36000,2010,2836000,1,None,None,None,None,None,170019,3296,43.0,71.6,10.1
340,"O'Fallon city, Missouri",79565,38680,40885,29,54074,2010,2954074,1,None,None,None,None,None,77228,2337,42.1,69.0,9.2
362,"East Orange city, New Jersey",64299,28604,35695,34,19390,2010,3419390,0,None,None,None,None,None,57145,7154,44.3,76.9,11.0
437,"Mount Pleasant town, South Carolina",68112,32790,35322,45,48535,2010,4548535,1,None,None,None,None,None,66919,1193,39.9,76.2,10.8
439,"Rock Hill city, South Carolina",66395,31264,35131,45,61405,2010,4561405,1,None,None,None,None,None,64417,1978,48.5,77.1,10.7
466,"Flower Mound town, Texas",66238,30962,35276,48,26232,2010,4826232,0,None,None,None,None,None,59109,7129,37.4,65.4,4.4
484,"Mission city, Texas",77586,37526,40060,48,48768,2010,4848768,1,None,None,None,None,None,8478,69108,41.9,61.8,9.0
490,"Pharr city, Texas",70888,33358,37530,48,57200,2010,4857200,1,None,None,None,None,None,4071,66817,42.1,66.6,11.8
508,"Sandy city, Utah",87818,44181,43637,49,67440,2010,4967440,1,None,None,None,None,None,78569,9249,41.3,71.8,9.1
523,"Suffolk city, Virginia",84906,41328,43578,51,76432,2010,5176432,1,None,None,None,None,None,84066,840,39.1,73.9,11.8
540,"Eau Claire city, Wisconsin",65489,31857,33632,55,22300,2010,5522300,0,None,None,None,None,None,64003,1486,50.6,80.5,10.7
602,"Canton city, Ohio",72925,32834,40091,39,12000,2011,3912000,1,None,None,None,None,None,71242,1683,38.5,72.3,12.3
638,"Mount Pleasant town, South Carolina",69353,34025,35328,45,48535,2011,4548535,1,None,None,None,None,None,67587,1766,40.4,73.7,13.9
667,"Flower Mound town, Texas",67209,33010,34199,48,26232,2011,4826232,0,None,None,None,None,None,64260,2949,36.8,65.9,5.2
685,"Mission city, Texas",79375,38142,41233,48,48768,2011,4848768,1,None,None,None,None,None,8368,71007,42.3,66.6,11.0
691,"Pharr city, Texas",72513,34681,37832,48,57200,2011,4857200,1,None,None,None,None,None,4567,67946,46.3,66.3,8.8
704,"Tuscaloosa city, Alabama",91604,40897,50707,01,77256,2011,0177256,1,None,None,None,None,None,87926,3678,57.0,84.2,11.3
706,"Avondale city, Arizona",77526,36926,40600,04,04720,2011,0404720,1,None,None,None,None,None,33738,43788,50.0,67.4,6.1
718,"Surprise city, Arizona",119494,57023,62471,04,71510,2011,0471510,1,None,None,None,None,None,95962,23532,38.3,65.8,16.4
724,"Jonesboro city, Arkansas",68541,33333,35208,05,35710,2011,0535710,1,None,None,None,None,None,66078,2463,46.4,74.5,11.0
884,"Alafaya CDP, Florida",67743,32867,34876,12,00410,2011,1200410,0,None,None,None,None,None,42478,25265,48.7,73.4,5.2
892,"Deerfield Beach city, Florida",76392,35863,40529,12,16725,2011,1216725,1,None,None,None,None,None,63596,12796,38.1,81.6,20.6
895,"Fort Myers city, Florida",63528,30874,32654,12,24125,2011,1224125,0,None,None,None,None,None,48626,14902,41.4,77.8,17.5
900,"Kendall CDP, Florida",75893,37609,38284,12,36100,2011,1236100,0,None,None,None,None,None,22818,53075,39.8,83.1,19.1
903,"Lauderhill city, Florida",68115,30798,37317,12,39550,2011,1239550,1,None,None,None,None,None,62456,5659,41.4,76.7,11.5
908,"Miami Gardens city, Florida",109672,50169,59503,12,45060,2011,1245060,1,None,None,None,None,None,87948,21724,44.4,76.3,11.5
926,"Albany city, Georgia",78701,35386,43315,13,01052,2011,1301052,1,None,None,None,None,None,76357,2344,45.0,74.0,11.3
931,"Johns Creek city, Georgia",79183,39888,39295,13,42425,2011,1342425,1,None,None,None,None,None,76616,2567,40.0,72.2,9.5
932,"Macon city, Georgia",92138,41234,50904,13,49000,2011,1349000,1,None,None,None,None,None,90037,2101,43.2,71.7,10.9
939,"Meridian city, Idaho",76742,37434,39308,16,52120,2011,1652120,1,None,None,None,None,None,73579,3163,35.7,68.5,11.6
947,"Cicero town, Illinois",84263,41212,43051,17,14351,2011,1714351,1,None,None,None,None,None,10187,74076,50.8,67.2,6.0
988,"Lake Charles city, Louisiana",72475,34515,37960,22,41155,2011,2241155,1,None,None,None,None,None,70227,2248,38.8,77.0,15.1
992,"Portland city, Maine",66368,32259,34109,23,60545,2011,2360545,1,None,None,None,None,None,64863,1505,46.9,83.6,11.7
995,"Ellicott City CDP, Maryland",68010,33751,34259,24,26000,2011,2426000,0,None,None,None,None,None,65056,2954,35.6,73.3,13.8
1039,"Gulfport city, Mississippi",69221,35666,33555,28,29700,2011,2829700,1,None,None,None,None,None,65783,3438,43.4,74.8,12.3
1045,"O'Fallon city, Missouri",80534,40588,39946,29,54074,2011,2954074,1,None,None,None,None,None,79832,702,42.5,67.5,8.9
1361,"Meridian city, Idaho",80391,38881,41510,16,52120,2012,1652120,1,None,None,None,None,None,73672,6719,41.0,66.1,10.9
1362,"Nampa city, Idaho",83932,40145,43787,16,56260,2012,1656260,1,None,None,None,None,None,66053,17879,43.9,67.4,10.6
1467,"O'Fallon city, Missouri",81983,39986,41997,29,54074,2012,2954074,1,None,None,None,None,None,80085,1898,41.5,71.5,9.8
1606,"Mount Pleasant town, South Carolina",71883,32907,38976,45,48535,2012,4548535,1,None,None,None,None,None,67238,4645,37.6,73.3,12.3
1613,"Franklin city, Tennessee",66278,32271,34007,47,27740,2012,4727740,0,None,None,None,None,None,62841,3437,39.6,75.0,10.9
1614,"Jackson city, Tennessee",67263,30579,36684,47,37640,2012,4737640,0,None,None,None,None,None,64471,2792,41.4,76.3,14.0
1641,"Harlingen city, Texas",65688,32617,33071,48,32372,2012,4832372,0,None,None,None,None,None,13668,52020,39.9,70.1,13.1
1654,"Mission city, Texas",80449,38874,41575,48,48768,2012,4848768,1,None,None,None,None,None,15502,64947,40.2,65.3,11.4
1660,"Pharr city, Texas",73126,36244,36882,48,57200,2012,4857200,1,None,None,None,None,None,6199,66927,42.5,63.5,12.6
1714,"North Little Rock city, Arkansas",66086,31629,34457,05,50450,2013,0550450,0,None,None,None,None,None,61992,4094,39.2,74.9,14.3
1879,"Boynton Beach city, Florida",71103,33142,37961,12,07875,2013,1207875,1,None,None,None,None,None,62596,8507,36.8,84.4,20.5
1897,"Lauderhill city, Florida",69793,30362,39431,12,39550,2013,1239550,1,None,None,None,None,None,62966,6827,41.9,71.3,12.4
1934,"Meridian city, Idaho",83594,40680,42914,16,52120,2013,1652120,1,None,None,None,None,None,78262,5332,35.7,70.2,10.8
2041,"Jackson city, Mississippi",172585,79641,92944,28,36000,2013,2836000,1,None,None,None,None,None,170542,2043,43.7,73.6,11.0
2048,"St. Joseph city, Missouri",77845,38893,38952,29,64550,2013,2964550,1,None,None,None,None,None,73006,4839,40.5,76.0,13.0
2109,"Canton city, Ohio",72551,32986,39565,39,12000,2013,3912000,1,None,None,None,None,None,69579,2972,36.4,74.1,16.8
2145,"Mount Pleasant town, South Carolina",74876,36728,38148,45,48535,2013,4548535,1,None,None,None,None,None,73535,1341,41.6,75.2,12.1
2152,"Jackson city, Tennessee",67685,31353,36332,47,37640,2013,4737640,0,None,None,None,None,None,67311,374,40.3,76.9,15.4
2180,"Harlingen city, Texas",65677,33258,32419,48,32372,2013,4832372,0,None,None,None,None,None,13688,51989,39.0,71.0,14.2
2193,"Mission city, Texas",81047,38529,42518,48,48768,2013,4848768,1,None,None,None,None,None,11560,69487,41.3,64.2,11.6
2199,"Pharr city, Texas",73785,34264,39521,48,57200,2013,4857200,1,None,None,None,None,None,3453,70332,43.1,64.8,8.6
2501,"The Villages CDP, Florida",None,None,None,12,71625,2014,1271625,0,None,None,None,None,None,66122,2752,-999999999.0,-999999999.0,-999999999.0
2505,"Albany city, Georgia",73016,32389,40627,13,01052,2014,1301052,1,None,None,None,None,None,71532,1484,43.3,74.9,13.0
2518,"Meridian city, Idaho",87739,42290,45449,16,52120,2014,1652120,1,None,None,None,None,None,80450,7289,40.5,72.2,11.5
2618,"Maple Grove city, Minnesota",66949,32292,34657,27,40166,2014,2740166,0,None,None,None,None,None,66271,678,37.1,75.2,11.3
2692,"Bismarck city, North Dakota",67666,32762,34904,38,07200,2014,3807200,0,None,None,None,None,None,66087,1579,41.6,78.2,15.9
2695,"Canton city, Ohio",72274,33200,39074,39,12000,2014,3912000,1,None,None,None,None,None,70504,1770,41.6,74.8,13.1
2731,"Mount Pleasant town, South Carolina",77787,36393,41394,45,48535,2014,4548535,1,None,None,None,None,None,76385,1402,36.4,76.2,14.4
2738,"Franklin city, Tennessee",70613,33413,37200,47,27740,2014,4727740,0,None,None,None,None,None,65755,4858,39.3,73.0,10.6
2761,"Edinburg city, Texas",83017,37823,45194,48,22660,2014,4822660,1,None,None,None,None,None,8452,74565,47.6,65.9,7.7
2781,"Mission city, Texas",82429,39620,42809,48,48768,2014,4848768,1,None,None,None,None,None,10007,72422,41.7,65.4,11.3
2788,"Pharr city, Texas",75381,34522,40859,48,57200,2014,4857200,1,None,None,None,None,None,5124,70257,42.3,63.9,10.9
2886,"North Little Rock city, Arkansas",66506,31671,34835,05,50450,2015,0550450,0,None,None,None,None,None,61646,4860,42.6,71.1,12.9
2923,"Florence-Graham CDP, California",66359,34186,32173,06,24477,2015,0624477,0,None,None,None,None,None,5464,60895,47.5,70.3,6.5
2996,"Carmel city, Indiana",89029,42928,46101,18,10342,2015,1810342,1,None,None,None,None,None,85918,3111,36.5,72.6,10.8
3004,"Muncie city, Indiana",69701,32446,37255,18,51876,2015,1851876,1,None,None,None,None,None,67202,2499,51.7,81.1,12.3
3075,"Maple Grove city, Minnesota",68381,31780,36601,27,40166,2015,2740166,0,None,None,None,None,None,66696,1685,33.9,73.1,10.1
3152,"Canton city, Ohio",71895,34476,37419,39,12000,2015,3912000,1,None,None,None,None,None,68298,3597,41.5,73.7,13
3188,"Mount Pleasant town, South Carolina",81309,39429,41880,45,48535,2015,4548535,1,None,None,None,None,None,78740,2569,35.3,74.8,15.2
3219,"Edinburg city, Texas",84501,39422,45079,48,22660,2015,4822660,1,None,None,None,None,None,9803,74698,45.4,67.3,8
3226,"Harlingen city, Texas",65769,32404,33365,48,32372,2015,4832372,0,None,None,None,None,None,14042,51727,39.7,67.6,13
3239,"Mission city, Texas",83307,40530,42777,48,48768,2015,4848768,1,None,None,None,None,None,9940,73367,41.4,66.7,10.6
3246,"Pharr city, Texas",76535,35242,41293,48,57200,2015,4857200,1,None,None,None,None,None,3540,72995,41.8,62.6,11
3266,"South Jordan city, Utah",66639,33669,32970,49,70850,2015,4970850,0,None,None,None,None,None,61967,4672,40.3,67.1,9.8
3356,"Yorba Linda city, California",67966,31960,36006,06,86832,2015,0686832,0,None,None,None,None,None,57367,10599,32.6,77.4,16.5
3411,"Miami Gardens city, Florida",113199,50719,62480,12,45060,2015,1245060,1,None,None,None,None,None,89912,23287,41.1,75.2,14.1
3428,"The Villages CDP, Florida",None,None,None,12,71625,2015,1271625,0,None,None,None,None,None,71524,1066,-999999999,-999999999,-999999999
3483,"North Little Rock city, Arkansas",66273,31569,34704,05,50450,2016,0550450,0,None,None,None,None,None,62618,3655,44.5,74.6,10.5
3522,"Florence-Graham CDP, California",63582,32692,30890,06,24477,2016,0624477,0,None,None,None,None,None,4947,58635,47.3,68.1,7.4
3677,"Homestead city, Florida",68000,35896,32104,12,32275,2016,1232275,0,None,None,None,None,None,26470,41530,43.3,62.1,7.4
3706,"The Villages CDP, Florida",None,None,None,12,71625,2016,1271625,0,None,None,None,None,None,69555,1795,-999999999.0,-999999999.0,-999999999.0
3718,"Roswell city, Georgia",94592,46806,47786,13,67284,2016,1367284,1,None,None,None,None,None,80306,14286,38.1,74.1,11.5
3724,"Meridian city, Idaho",95627,50803,44824,16,52120,2016,1652120,1,None,None,None,None,None,89134,6493,37.6,71.3,14.1
3726,"Arlington Heights village, Illinois",74397,36830,37567,17,02154,2016,1702154,1,None,None,None,None,None,70597,3800,32.9,77.1,18.9
3732,"Cicero town, Illinois",82991,42304,40687,17,14351,2016,1714351,1,None,None,None,None,None,9391,73600,47.2,68.7,7.3
3835,"Jackson city, Mississippi",169141,77607,91534,28,36000,2016,2836000,1,None,None,None,None,None,166884,2257,44.0,74.5,11.6
3839,"O'Fallon city, Missouri",86276,41243,45033,29,54074,2016,2954074,1,None,None,None,None,None,84157,2119,39.8,74.8,11.5
3971,"Edinburg city, Texas",87642,42445,45197,48,22660,2016,4822660,1,None,None,None,None,None,6649,80993,46.1,65.1,6.6
3993,"Mission city, Texas",83556,41732,41824,48,48768,2016,4848768,1,None,None,None,None,None,7210,76346,39.4,66.1,11.1
4000,"Pharr city, Texas",77314,34139,43175,48,57200,2016,4857200,1,None,None,None,None,None,5795,71519,39.1,66.3,14.3
4020,"South Jordan city, Utah",69034,35059,33975,49,70850,2016,4970850,0,None,None,None,None,None,66404,2630,43.6,68.7,9.2
4104,"Shawnee city, Kansas",65505,31849,33656,20,64500,2017,2064500,0,None,None,None,None,None,61001,4504,36.8,75.2,13.5
4172,"Jackson city, Mississippi",167250,78721,88529,28,36000,2017,2836000,1,None,None,None,None,None,165245,2005,43.3,74.8,12.4
4286,"Jackson city, Tennessee",66856,30743,36113,47,37640,2017,4737640,0,None,None,None,None,None,63198,3658,39.9,76.3,14.6
4331,"Mission city, Texas",84428,39804,44624,48,48768,2017,4848768,1,None,None,None,None,None,9906,74522,39.4,70.9,15.4
4338,"Pharr city, Texas",79491,40961,38530,48,57200,2017,4857200,1,None,None,None,None,None,4002,75489,41.6,67.1,12.5
4403,"Guaynabo zona urbana, Puerto Rico",71420,33452,37968,72,32522,2017,7232522,0,None,None,None,None,None,2356,69064,41.2,82.0,21.8
4474,"Florence-Graham CDP, California",68095,34878,33217,06,24477,2017,0624477,0,None,None,None,None,None,5325,62770,46.5,67.1,5.7
4636,"North Port city, Florida",66293,30345,35948,12,49675,2017,1249675,0,None,None,None,None,None,56646,9647,34.7,81.6,23.5
4645,"Port Charlotte CDP, Florida",65972,32274,33698,12,58350,2017,1258350,0,None,None,None,None,None,60517,5455,29.5,85.5,30.7
4655,"The Villages CDP, Florida",None,None,None,12,71625,2017,1271625,0,None,None,None,None,None,78754,866,-999999999.0,-999999999.0,-999999999.0
4659,"Albany city, Georgia",71593,33225,38368,13,01052,2017,1301052,1,None,None,None,None,None,69969,1624,43.1,76.8,15.1
4665,"Johns Creek city, Georgia",84359,41631,42728,13,42425,2017,1342425,1,None,None,None,None,None,79127,5232,34.6,72.5,8.8
4707,"South Fulton city, Georgia",97266,43003,54263,13,72122,2018,1372122,0,None,None,None,None,None,96142,1124,44.1,82.1,12.7
4725,"Alpharetta city, Georgia",66263,32888,33375,13,01696,2018,1301696,0,None,None,None,None,None,61272,4991,35.6,72.3,9.8
4802,"Sammamish city, Washington",65726,32706,33020,53,61115,2018,5361115,0,None,None,None,None,None,63836,1890,35.8,70.2,7.1
4827,"Florence-Graham CDP, California",63621,32442,31179,06,24477,2018,0624477,0,None,None,None,None,None,4540,59081,46.2,68.0,8.0
4867,"Lake Charles city, Louisiana",77999,38777,39222,22,41155,2018,2241155,1,None,None,None,None,None,75611,2388,42.1,76.9,14.6
4872,"Noblesville city, Indiana",66358,33273,33085,18,54180,2018,1854180,0,None,None,None,None,None,65051,1307,45.3,72.6,10.5
4878,"Pharr city, Texas",79704,36682,43022,48,57200,2018,4857200,1,None,None,None,None,None,5486,74218,43.7,67.1,10.6
4975,"Mission city, Texas",84829,40715,44114,48,48768,2018,4848768,1,None,None,None,None,None,7154,77675,37.0,64.3,13.6
4999,"Lakeville city, Minnesota",65871,32451,33420,27,35180,2018,2735180,0,None,None,None,None,None,61250,4621,38.2,72.1,9.8
5027,"Warner Robins city, Georgia",75413,37548,37865,13,80508,2018,1380508,1,None,None,None,None,None,70196,5217,45.0,77.0,10.7
5036,"Ankeny city, Iowa",65282,30926,34356,19,02305,2018,1902305,0,None,None,None,None,None,63344,1938,42.3,76.5,12.3
5077,"The Villages CDP, Florida",None,None,None,12,71625,2018,1271625,0,None,None,None,None,None,79654,922,-999999999.0,-999999999.0,-999999999.0
5081,"Caguas zona urbana, Puerto Rico",72704,32947,39757,72,10334,2018,7210334,0,None,None,None,None,None,1062,71642,39.8,83.0,20.8
5128,"North Port city, Florida",68637,32282,36355,12,49675,2018,1249675,0,None,None,None,None,None,64890,3747,31.5,83.9,30.3
5147,"Mount Pleasant town, South Carolina",89340,46120,43220,45,48535,2018,4548535,1,None,None,None,None,None,86122,3218,38.1,78.0,17.6
5178,"Palm Harbor CDP, Florida",65994,27769,38225,12,54350,2018,1254350,0,None,None,None,None,None,62616,3378,29.2,80.8,26.7
5215,"Harlingen city, Texas",65434,32581,32853,48,32372,2018,4832372,0,None,None,None,None,None,11181,54253,41.9,72.1,16.4
5238,"Brownsville city, Texas",183389,88298,95091,48,10768,2018,4810768,1,None,None,None,None,None,9973,173416,42.3,70.0,11.6

In [82]:
wave_2_final.fillna("-998",inplace=True)

In [83]:
# ordering columns for dataset

wave_2_final.columns

Index(['NAME', 'Pop_Total', 'Pop_Male', 'Pop_Female', 'Fips_State',
       'Fips_Place', 'Year', 'Fips_State_Place', 'NYU_500_Largest',
       'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',
       'Pop_Nonhispanic', 'Pop_Hispanic', 'Per_15to44_years(%)',
       'Per_18_years_and_over(%)', 'Per_65_years_and_over(%)'],
      dtype='object')

In [84]:
# Before File extraction, change column type from string to int.

int_col = ['Pop_Total', 'Pop_Male', 'Pop_Female',
       'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',
       'Pop_Nonhispanic', 'Pop_Hispanic']

for col in int_col :
    wave_2_final[col] = wave_2_final[col].astype(int)
    
    
# Percentage to Float
float_col = ['Per_15to44_years(%)','Per_18_years_and_over(%)', 'Per_65_years_and_over(%)']


for col in float_col:
    wave_2_final[col] = wave_2_final[col].astype(float)

In [85]:
wave_2_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5303 entries, 0 to 5302
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NAME                      5303 non-null   object
 1   Pop_Total                 5303 non-null   int64
 2   Pop_Male                  5303 non-null   int64
 3   Pop_Female                5303 non-null   int64
 4   Fips_State                5303 non-null   object
 5   Fips_Place                5303 non-null   object
 6   Year                      5303 non-null   int64
 7   Fips_State_Place          5303 non-null   object
 8   NYU_500_Largest           5303 non-null   int64
 9   Pop_White                 5303 non-null   int64
 10  Pop_Black                 5303 non-null   int64
 11  Pop_Asian                 5303 non-null   int64
 12  Pop_AIAN                  5303 non-null   int64
 13  Pop_NHOPI                 5303 non-null   int64
 14  Pop_Nonhispanic           5303 non-null   int64
 15  Pop_Hispanic              5303 non-null   int64
 16  Per_15to44_years(%)       5303 non-null   float64
 17  Per_18_years_and_over(%)  5303 non-null   float64
 18  Per_65_years_and_over(%)  5303 non-null   float64
dtypes: float64(3), int64(12), object(4)
memory usage: 828.6+ KB

In [86]:
# Split NAME into city and state name
wave_2_final[['City_Name','St_Name']]=wave_2_final['NAME'].str.split(",",expand=True)

In [87]:
wave_2_final.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%),City_Name,St_Name
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1,47657,158193,1528,593,0,204155,7515,42.8,78.7,13.1,Birmingham city,Alabama
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0,41867,21123,916,186,0,64104,2017,38.7,74.8,14.3,Dothan city,Alabama
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1,57507,11555,5345,235,0,72254,8122,39.7,71.3,12.4,Hoover city,Alabama
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1,114796,53460,5734,434,161,170562,10564,42.5,78.4,13.5,Huntsville city,Alabama
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1,89418,98746,2621,474,53,190257,4992,40.5,76.7,13.9,Mobile city,Alabama

In [88]:
wave_2_final2 = wave_2_final[['Fips_State','Fips_Place','Fips_State_Place','City_Name','St_Name','NYU_500_Largest',\
              'Year','Pop_Total','Per_15to44_years(%)','Per_18_years_and_over(%)', 'Per_65_years_and_over(%)',\
              'Pop_Male', 'Pop_Female', 'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',\
              'Pop_Nonhispanic', 'Pop_Hispanic']]

In [89]:
wave_2_final2.to_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/Cities_Dataset_Year/Year_2010-2018/place_pop_2010_2018_asrh.csv", index=False, float_format="%.2f")
wave_2_final2.to_excel(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/Cities_Dataset_Year/Year_2010-2018/place_pop_2010_2018_asrh.xlsx", index=False)

# Before 2010

Census Acs1 started from 2005. So, I will pull the oldest ACS1 first and check our variables. <Br>
Yet, ACS1/subject is started from 2010. <br>
    
Therefore, Age group will be calculated by combining of the variables. 
In addition, Ethnicity, we need to use different variables because ACS1 does not have our variables, B03003_003E	B03003_002E until 2009. Therefore, I will test out some variables for that.

## Sex and Race

Sex and Race variables are unchanged since the beginning of ACS1. So, I will use these variables to check how many cities are there and establish the initial data frame.

In [90]:
# Check ACS1 API


dic = {}
for year in range(2005,2010):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_005E,B02001_004E,B02001_006E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'


# Looping over each states

    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2005 500
2006 512
2007 521
2008 533
2009 541

In [91]:
cols_sex_race= ['NAME', 'Pop_Total','Pop_Male', 'Pop_Female',\
                'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',\
                'Fips_State','Fips_Place']

# Set up each year's dataset

cities_2005 = pd.DataFrame(dic[2005][1:], columns=cols_sex_race)
cities_2005["Year"]=2005


cities_2006 = pd.DataFrame(dic[2006][1:], columns=cols_sex_race)
cities_2006["Year"]=2006


cities_2007 = pd.DataFrame(dic[2007][1:], columns=cols_sex_race)
cities_2007["Year"]=2007

cities_2008 = pd.DataFrame(dic[2008][1:], columns=cols_sex_race)
cities_2008["Year"]=2008


cities_2009 = pd.DataFrame(dic[2009][1:], columns=cols_sex_race)
cities_2009["Year"]=2009

In [92]:
print(cities_2005['Pop_Male'].isnull().sum().sum())
print(cities_2006['Pop_Male'].isnull().sum().sum())
print(cities_2007['Pop_Male'].isnull().sum().sum())
print(cities_2008['Pop_Male'].isnull().sum().sum())
print(cities_2009['Pop_Male'].isnull().sum().sum())



print(cities_2005['Pop_White'].isnull().sum().sum())
print(cities_2006['Pop_White'].isnull().sum().sum())
print(cities_2007['Pop_White'].isnull().sum().sum())
print(cities_2008['Pop_White'].isnull().sum().sum())
print(cities_2009['Pop_White'].isnull().sum().sum())

0
0
0
0
0
16
9
8
15
20

**There is no empty rows for sex, but still some empty rows for race**

In [93]:

# Combine all SEX group
frames = [cities_2005, cities_2006,cities_2007,cities_2008,cities_2009]

sex_result_05 = pd.concat(frames)
# Creating columns from fips_state_place for joining the with others
sex_result_05['Fips_State_Place']=sex_result_05['Fips_State']+sex_result_05['Fips_Place']

In [94]:
sex_result_05.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place
0,"Independence city, Missouri",111842,57505,54337,99498,4218,689,129,54,29,35000,2005,2935000
1,"Kansas City city, Missouri",440885,212392,228493,271210,132187,10878,1988,1054,29,38000,2005,2938000
2,"Lee's Summit city, Missouri",86357,40180,46177,78574,4712,821,268,116,29,41348,2005,2941348
3,"O'Fallon city, Missouri",67875,34618,33257,62989,3406,682,0,0,29,54074,2005,2954074
4,"St. Joseph city, Missouri",68971,32857,36114,64150,3038,457,395,0,29,64550,2005,2964550

## Combining with NYU dataset

In [95]:
sex_result_05['NYU_500_Largest'] = sex_result_05['Fips_State_Place'].apply(lambda x:1 if x in nyu_cities else 0)

In [96]:
sex_result_05.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest
0,"Independence city, Missouri",111842,57505,54337,99498,4218,689,129,54,29,35000,2005,2935000,1
1,"Kansas City city, Missouri",440885,212392,228493,271210,132187,10878,1988,1054,29,38000,2005,2938000,1
2,"Lee's Summit city, Missouri",86357,40180,46177,78574,4712,821,268,116,29,41348,2005,2941348,1
3,"O'Fallon city, Missouri",67875,34618,33257,62989,3406,682,0,0,29,54074,2005,2954074,1
4,"St. Joseph city, Missouri",68971,32857,36114,64150,3038,457,395,0,29,64550,2005,2964550,1

In [97]:
sex_result_05.groupby('Year').sum()

      NYU_500_Largest
Year
2005              461
2006              467
2007              474
2008              484
2009              487

In [98]:
461/510

0.903921568627451

At the minimum, ACS1 covered 90% of NYU cities, so I will use this.

## Ethnicity

In 2009, I can use the same variables from Ethnicity. Yet, 2005-2008, variable    B03003_003E	 B03003_002E	are not existed. So, I find out C03001 group from the variables, which are the following variable names. 

Variable|Label|Concept|
--|--|--|
C03001_002E	|Estimate!!Total!!Not Hispanic or Latino	|HISPANIC OR LATINO ORIGIN BY SPECIFIC ORIGIN
C03001_003E	|Estimate!!Total!!Hispanic or Latino	|HISPANIC OR LATINO ORIGIN BY SPECIFIC ORIGIN

In [99]:

dic_e_05 = {}
for year in range(2005,2009):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,C03001_002E,C03001_003E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e_05[year] = data

2005 500
2006 512
2007 521
2008 533

In [100]:
cols_eth= ['NAME', 'Pop_Nonhispanic', 'Pop_Hispanic','Fips_State', 'Fips_Place']

# Set up each year's dataset



cities_2005_e = pd.DataFrame(dic_e_05[2005][1:], columns=cols_eth)
cities_2005_e["Year"]=2005


cities_2006_e= pd.DataFrame(dic_e_05[2006][1:], columns=cols_eth)
cities_2006_e["Year"]=2006


cities_2007_e = pd.DataFrame(dic_e_05[2007][1:], columns=cols_eth)
cities_2007_e["Year"]=2007

cities_2008_e = pd.DataFrame(dic_e_05[2008][1:], columns=cols_eth)
cities_2008_e["Year"]=2008






print(cities_2005_e.isnull().sum().sum())
print(cities_2006_e.isnull().sum().sum())
print(cities_2007_e.isnull().sum().sum())
print(cities_2008_e.isnull().sum().sum())

390
368
376
374

I still have some missing values. So, I will check B03001 group, which is the first variable for the Race.

In [101]:
dic_e_05_2 = {}
for year in range(2005,2009):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B03001_002E,B03001_003E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e_05_2[year] = data
cols_eth= ['NAME', 'Pop_Nonhispanic', 'Pop_Hispanic','Fips_State', 'Fips_Place']

# Set up each year's dataset



cities_2005_e_2 = pd.DataFrame(dic_e_05_2[2005][1:], columns=cols_eth)
cities_2005_e_2["Year"]=2005


cities_2006_e_2= pd.DataFrame(dic_e_05_2[2006][1:], columns=cols_eth)
cities_2006_e_2["Year"]=2006


cities_2007_e_2 = pd.DataFrame(dic_e_05_2[2007][1:], columns=cols_eth)
cities_2007_e_2["Year"]=2007

cities_2008_e_2 = pd.DataFrame(dic_e_05_2[2008][1:], columns=cols_eth)
cities_2008_e_2["Year"]=2008






print(cities_2005_e_2.isnull().sum().sum())
print(cities_2006_e_2.isnull().sum().sum())
print(cities_2007_e_2.isnull().sum().sum())
print(cities_2008_e_2.isnull().sum().sum())

2005 500
2006 512
2007 521
2008 533
950
964
986
1006

More cities are empty or no-value from B03001 group, so I will keep C03001 for my data.

In [102]:
# for 2009

dic_e_05 = {}
for year in range(2009,2010):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B03003_002E,B03003_003E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_e_05[year] = data


cols_eth= ['NAME', 'Pop_Nonhispanic', 'Pop_Hispanic','Fips_State', 'Fips_Place']

# Set up each year's dataset



cities_2009_e = pd.DataFrame(dic_e_05[2009][1:], columns=cols_eth)
cities_2009_e["Year"]=2009
    
print(cities_2009_e.isnull().sum().sum())

2009 541
0

In [103]:

# Combine all SEX group
frames_eth = [cities_2005_e, cities_2006_e,cities_2007_e,cities_2008_e,cities_2009_e]

eth_result_05 = pd.concat(frames_eth)
# Creating columns from fips_state_place for joining the with others
eth_result_05['Fips_State_Place']=eth_result_05['Fips_State']+eth_result_05['Fips_Place']

In [104]:
eth_result_05.head()

,NAME,Pop_Nonhispanic,Pop_Hispanic,Fips_State,Fips_Place,Year,Fips_State_Place
0,"Hesperia city, California",46491,33223,06,33434,2005,0633434
1,"Huntington Beach city, California",157630,31821,06,36000,2005,0636000
2,"Inglewood city, California",51722,68482,06,36546,2005,0636546
3,"Irvine city, California",157425,14757,06,36770,2005,0636770
4,"Lake Forest city, California",56714,12591,06,39496,2005,0639496

In [105]:
wave_2_05 = pd.merge(sex_result_05 , eth_result_05, how='left',on=['Fips_State_Place','Year','NAME','Fips_State', 'Fips_Place'])

In [106]:
wave_2_05.tail()

,NAME,Pop_Total,Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_Nonhispanic,Pop_Hispanic
2597,"St. Charles city, Missouri",65649,33299,32350,None,None,None,None,None,29,64082,2009,2964082,0,64050,1599
2598,"Boynton Beach city, Florida",69643,32782,36861,None,None,None,None,None,12,07875,2009,1207875,1,61495,8148
2599,"Loveland city, Colorado",66213,30566,35647,None,None,None,None,None,08,46465,2009,0846465,1,57294,8919
2600,"West Bloomfield Township CDP, Michigan",64005,31374,32631,None,None,None,None,None,26,85510,2009,2685510,0,63116,889
2601,"Macon city, Georgia",92389,39645,52744,None,None,None,None,None,13,49000,2009,1349000,1,91140,1249

## Age Group 2005-2009

Since there is no ACS1/subject table, Age group will be calculated by combining the age and sex variables from ACS1.

This is the chart for how I made the calculation for Age group

Year | 15 to 44 years | 18 years and over | 65 years and over
-- | -- | -- | --
Formula | Sum of all variables between 15-44 years | Total population - (under 18 years male and   female)|Sum of all variables after 65 years|
2005 | B01001_006E, B01001_007E, B01001_008E, B01001_009E, B01001_010E,   B01001_011E, B01001_012E, B01001_013E, B01001_014E, B01001_030E, B01001_031E, B01001_032E, B01001_033E, B01001_034E, B01001_035E, B01001_036E, B01001_037E,   B01001_038E | B01001_001E   -sum(B01001_003E, B01001_004E, B01001_005E, B01001_006E, B01001_027E,   B01001_028E, B01001_029E, B01001_030E) | B01001_020E,     B01001_021E,     B01001_022E,     B01001_023E,     B01001_024E,     B01001_025E, B01001_044E,     B01001_045E,     B01001_046E,     B01001_047E,     B01001_048E,     B01001_049E



After combining the whole number, I will convert into percentage since 2010-2018, we have percentage for the age group. So, it will give us constant format of numbers.

In [107]:
# Check ACS1 API


dic_a_05 = {}
for year in range(2005,2010):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_003E,B01001_004E,B01001_005E,B01001_027E,B01001_028E,B01001_029E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'


# Looping over each states

    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    #print(data_url)
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic_a_05[year] = data

2005 500
2006 512
2007 521
2008 533
2009 541

In [108]:
cols_age_05= ['NAME', 'Pop_Total','Male!!15 to 17 years','Male!!18 and 19 years',\
                'Male!!20 years','Male!!21 years','Male!!22 to 24 years','Male!!25 to 29 years',\
                'Male!!30 to 34 years','Male!!35 to 39 years','Male!!40 to 44 years',\
                'Female!!15 to 17 years','Female!!18 and 19 years','Female!!20 years','Female!!21 years',\
                'Female!!22 to 24 years','Female!!25 to 29 years','Female!!30 to 34 years',\
                'Female!!35 to 39 years','Female!!40 to 44 years','Male!!Under 5 years','Male!!5 to 9 years',\
                'Male!!10 to 14 years','Female!!Under 5 years','Female!!5 to 9 years','Female!!10 to 14 years',\
                'Male!!65 and 66 years','Male!!67 to 69 years','Male!!70 to 74 years','Male!!75 to 79 years',\
                'Male!!80 to 84 years','Male!!85 years and over','Female!!65 and 66 years','Female!!67 to 69 years',\
                'Female!!70 to 74 years','Female!!75 to 79 years','Female!!80 to 84 years','Female!!85 years and over',\
                'Fips_State', 'Fips_Place']

# Set up each year's dataset

cities_2005_a_05 = pd.DataFrame(dic_a_05[2005][1:], columns=cols_age_05)
cities_2005_a_05["Year"]=2005


cities_2006_a_05 = pd.DataFrame(dic_a_05[2006][1:], columns=cols_age_05)
cities_2006_a_05["Year"]=2006


cities_2007_a_05 = pd.DataFrame(dic_a_05[2007][1:], columns=cols_age_05)
cities_2007_a_05["Year"]=2007

cities_2008_a_05 = pd.DataFrame(dic_a_05[2008][1:], columns=cols_age_05)
cities_2008_a_05["Year"]=2008


cities_2009_a_05 = pd.DataFrame(dic_a_05[2009][1:], columns=cols_age_05)
cities_2009_a_05["Year"]=2009


print(cities_2005_a_05.isnull().sum().sum())
print(cities_2006_a_05.isnull().sum().sum())
print(cities_2007_a_05.isnull().sum().sum())
print(cities_2008_a_05.isnull().sum().sum())
print(cities_2009_a_05.isnull().sum().sum())

0
0
0
0
0

**There are no empty rows.**

I want to combine all years and perform my calculation for my age group

In [109]:

# Combine all SEX group
frames_age_05 = [cities_2005_a_05, cities_2006_a_05,cities_2007_a_05,cities_2008_a_05,cities_2009_a_05]

age_result_05 = pd.concat(frames_age_05)
# Creating columns from fips_state_place for joining the with others
age_result_05['Fips_State_Place']=age_result_05['Fips_State']+age_result_05['Fips_Place']

In [110]:
age_result_05.head()

,NAME,Pop_Total,Male!!15 to 17 years,Male!!18 and 19 years,Male!!20 years,Male!!21 years,Male!!22 to 24 years,Male!!25 to 29 years,Male!!30 to 34 years,Male!!35 to 39 years,Male!!40 to 44 years,Female!!15 to 17 years,Female!!18 and 19 years,Female!!20 years,Female!!21 years,Female!!22 to 24 years,Female!!25 to 29 years,Female!!30 to 34 years,Female!!35 to 39 years,Female!!40 to 44 years,Male!!Under 5 years,Male!!5 to 9 years,Male!!10 to 14 years,Female!!Under 5 years,Female!!5 to 9 years,Female!!10 to 14 years,Male!!65 and 66 years,Male!!67 to 69 years,Male!!70 to 74 years,Male!!75 to 79 years,Male!!80 to 84 years,Male!!85 years and over,Female!!65 and 66 years,Female!!67 to 69 years,Female!!70 to 74 years,Female!!75 to 79 years,Female!!80 to 84 years,Female!!85 years and over,Fips_State,Fips_Place,Year,Fips_State_Place
0,"Birmingham city, Alabama",222154,4643,3188,2222,1370,5172,7418,7524,6840,7642,4597,4057,1047,2746,4333,8366,8903,7863,8854,9507,6902,9621,7915,6632,7782,1266,1465,2639,1467,1141,1005,2126,2269,3514,4186,2565,2240,01,07000,2005,0107000
1,"Hoover city, Alabama",74473,1160,978,0,62,1754,2751,2607,2639,2452,1254,686,264,291,1063,3737,2596,3066,2831,2929,2022,2488,3071,2249,3028,394,555,1215,641,290,532,354,873,1033,926,1176,189,01,35896,2005,0135896
2,"Huntsville city, Alabama",158618,3207,1917,805,790,4400,5281,4835,4462,7529,3794,1842,1755,834,4209,5480,5028,4459,7853,4794,4733,6480,4521,3070,4758,1280,2156,3860,1529,1208,482,1556,2979,2873,2735,1684,974,01,37000,2005,0137000
3,"Mobile city, Alabama",193332,4211,2537,1592,1269,3589,6801,5938,5257,5961,4022,2536,1511,1933,4250,8110,6486,7024,7042,7121,7348,6510,7359,7392,6728,1052,2348,2316,2140,1648,1000,1381,2207,3609,3803,2843,1810,01,50000,2005,0150000
4,"Montgomery city, Alabama",193042,3765,2577,660,2306,3412,5681,5861,6799,5580,4429,2222,1390,2376,3985,6638,6502,7284,7513,7655,7560,6740,7546,7547,6830,2333,996,2065,1610,1058,947,1359,1500,3949,2513,2290,1684,01,51000,2005,0151000

In [111]:
age_result_05.columns

Index(['NAME', 'Pop_Total', 'Male!!15 to 17 years', 'Male!!18 and 19 years',
       'Male!!20 years', 'Male!!21 years', 'Male!!22 to 24 years',
       'Male!!25 to 29 years', 'Male!!30 to 34 years', 'Male!!35 to 39 years',
       'Male!!40 to 44 years', 'Female!!15 to 17 years',
       'Female!!18 and 19 years', 'Female!!20 years', 'Female!!21 years',
       'Female!!22 to 24 years', 'Female!!25 to 29 years',
       'Female!!30 to 34 years', 'Female!!35 to 39 years',
       'Female!!40 to 44 years', 'Male!!Under 5 years', 'Male!!5 to 9 years',
       'Male!!10 to 14 years', 'Female!!Under 5 years', 'Female!!5 to 9 years',
       'Female!!10 to 14 years', 'Male!!65 and 66 years',
       'Male!!67 to 69 years', 'Male!!70 to 74 years', 'Male!!75 to 79 years',
       'Male!!80 to 84 years', 'Male!!85 years and over',
       'Female!!65 and 66 years', 'Female!!67 to 69 years',
       'Female!!70 to 74 years', 'Female!!75 to 79 years',
       'Female!!80 to 84 years', 'Female!!85 years and over', 'Fips_State',
       'Fips_Place', 'Year', 'Fips_State_Place'],
      dtype='object')

In [112]:
# Check Column type
age_result_05.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2602 entries, 0 to 539
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NAME                       2602 non-null   object
 1   Pop_Total                  2602 non-null   object
 2   Male!!15 to 17 years       2602 non-null   object
 3   Male!!18 and 19 years      2602 non-null   object
 4   Male!!20 years             2602 non-null   object
 5   Male!!21 years             2602 non-null   object
 6   Male!!22 to 24 years       2602 non-null   object
 7   Male!!25 to 29 years       2602 non-null   object
 8   Male!!30 to 34 years       2602 non-null   object
 9   Male!!35 to 39 years       2602 non-null   object
 10  Male!!40 to 44 years       2602 non-null   object
 11  Female!!15 to 17 years     2602 non-null   object
 12  Female!!18 and 19 years    2602 non-null   object
 13  Female!!20 years           2602 non-null   object
 14  Female!!21 years           2602 non-null   object
 15  Female!!22 to 24 years     2602 non-null   object
 16  Female!!25 to 29 years     2602 non-null   object
 17  Female!!30 to 34 years     2602 non-null   object
 18  Female!!35 to 39 years     2602 non-null   object
 19  Female!!40 to 44 years     2602 non-null   object
 20  Male!!Under 5 years        2602 non-null   object
 21  Male!!5 to 9 years         2602 non-null   object
 22  Male!!10 to 14 years       2602 non-null   object
 23  Female!!Under 5 years      2602 non-null   object
 24  Female!!5 to 9 years       2602 non-null   object
 25  Female!!10 to 14 years     2602 non-null   object
 26  Male!!65 and 66 years      2602 non-null   object
 27  Male!!67 to 69 years       2602 non-null   object
 28  Male!!70 to 74 years       2602 non-null   object
 29  Male!!75 to 79 years       2602 non-null   object
 30  Male!!80 to 84 years       2602 non-null   object
 31  Male!!85 years and over    2602 non-null   object
 32  Female!!65 and 66 years    2602 non-null   object
 33  Female!!67 to 69 years     2602 non-null   object
 34  Female!!70 to 74 years     2602 non-null   object
 35  Female!!75 to 79 years     2602 non-null   object
 36  Female!!80 to 84 years     2602 non-null   object
 37  Female!!85 years and over  2602 non-null   object
 38  Fips_State                 2602 non-null   object
 39  Fips_Place                 2602 non-null   object
 40  Year                       2602 non-null   int64
 41  Fips_State_Place           2602 non-null   object
dtypes: int64(1), object(41)
memory usage: 874.1+ KB

In [113]:
# Before Calculation, change column type from string to int.
age_int_col = ['Pop_Total', 'Male!!15 to 17 years',
       'Male!!18 and 19 years', 'Male!!20 years', 'Male!!21 years',
       'Male!!22 to 24 years', 'Male!!25 to 29 years', 'Male!!30 to 34 years',
       'Male!!35 to 39 years', 'Male!!40 to 44 years',
       'Female!!15 to 17 years', 'Female!!18 and 19 years', 'Female!!20 years',
       'Female!!21 years', 'Female!!22 to 24 years', 'Female!!25 to 29 years',
       'Female!!30 to 34 years', 'Female!!35 to 39 years',
       'Female!!40 to 44 years', 'Male!!Under 5 years', 'Male!!5 to 9 years',
       'Male!!10 to 14 years','Female!!Under 5 years', 'Female!!5 to 9 years',
       'Female!!10 to 14 years', 
       'Male!!65 and 66 years', 'Male!!67 to 69 years', 'Male!!70 to 74 years',
       'Male!!75 to 79 years', 'Male!!80 to 84 years',
       'Male!!85 years and over', 'Female!!65 and 66 years',
       'Female!!67 to 69 years', 'Female!!70 to 74 years',
       'Female!!75 to 79 years', 'Female!!80 to 84 years',
       'Female!!85 years and over']


for col in age_int_col:
    age_result_05[col]=age_result_05[col].astype(int)

In [114]:
age_result_05.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2602 entries, 0 to 539
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NAME                       2602 non-null   object
 1   Pop_Total                  2602 non-null   int64
 2   Male!!15 to 17 years       2602 non-null   int64
 3   Male!!18 and 19 years      2602 non-null   int64
 4   Male!!20 years             2602 non-null   int64
 5   Male!!21 years             2602 non-null   int64
 6   Male!!22 to 24 years       2602 non-null   int64
 7   Male!!25 to 29 years       2602 non-null   int64
 8   Male!!30 to 34 years       2602 non-null   int64
 9   Male!!35 to 39 years       2602 non-null   int64
 10  Male!!40 to 44 years       2602 non-null   int64
 11  Female!!15 to 17 years     2602 non-null   int64
 12  Female!!18 and 19 years    2602 non-null   int64
 13  Female!!20 years           2602 non-null   int64
 14  Female!!21 years           2602 non-null   int64
 15  Female!!22 to 24 years     2602 non-null   int64
 16  Female!!25 to 29 years     2602 non-null   int64
 17  Female!!30 to 34 years     2602 non-null   int64
 18  Female!!35 to 39 years     2602 non-null   int64
 19  Female!!40 to 44 years     2602 non-null   int64
 20  Male!!Under 5 years        2602 non-null   int64
 21  Male!!5 to 9 years         2602 non-null   int64
 22  Male!!10 to 14 years       2602 non-null   int64
 23  Female!!Under 5 years      2602 non-null   int64
 24  Female!!5 to 9 years       2602 non-null   int64
 25  Female!!10 to 14 years     2602 non-null   int64
 26  Male!!65 and 66 years      2602 non-null   int64
 27  Male!!67 to 69 years       2602 non-null   int64
 28  Male!!70 to 74 years       2602 non-null   int64
 29  Male!!75 to 79 years       2602 non-null   int64
 30  Male!!80 to 84 years       2602 non-null   int64
 31  Male!!85 years and over    2602 non-null   int64
 32  Female!!65 and 66 years    2602 non-null   int64
 33  Female!!67 to 69 years     2602 non-null   int64
 34  Female!!70 to 74 years     2602 non-null   int64
 35  Female!!75 to 79 years     2602 non-null   int64
 36  Female!!80 to 84 years     2602 non-null   int64
 37  Female!!85 years and over  2602 non-null   int64
 38  Fips_State                 2602 non-null   object
 39  Fips_Place                 2602 non-null   object
 40  Year                       2602 non-null   int64
 41  Fips_State_Place           2602 non-null   object
dtypes: int64(38), object(4)
memory usage: 874.1+ KB

In [115]:
age_result_05.reset_index(inplace=True,drop=True)

In [116]:
age_result_05.tail()

,NAME,Pop_Total,Male!!15 to 17 years,Male!!18 and 19 years,Male!!20 years,Male!!21 years,Male!!22 to 24 years,Male!!25 to 29 years,Male!!30 to 34 years,Male!!35 to 39 years,Male!!40 to 44 years,Female!!15 to 17 years,Female!!18 and 19 years,Female!!20 years,Female!!21 years,Female!!22 to 24 years,Female!!25 to 29 years,Female!!30 to 34 years,Female!!35 to 39 years,Female!!40 to 44 years,Male!!Under 5 years,Male!!5 to 9 years,Male!!10 to 14 years,Female!!Under 5 years,Female!!5 to 9 years,Female!!10 to 14 years,Male!!65 and 66 years,Male!!67 to 69 years,Male!!70 to 74 years,Male!!75 to 79 years,Male!!80 to 84 years,Male!!85 years and over,Female!!65 and 66 years,Female!!67 to 69 years,Female!!70 to 74 years,Female!!75 to 79 years,Female!!80 to 84 years,Female!!85 years and over,Fips_State,Fips_Place,Year,Fips_State_Place
2597,"Guaynabo zona urbana, Puerto Rico",83339,1965,1163,475,516,1838,2593,1969,2675,2864,1706,1308,597,348,1754,2585,2644,2531,3608,2631,2603,2384,1949,1959,3330,694,768,1300,777,1206,601,944,1416,1558,2054,1132,1207,72,32522,2009,7232522
2598,"Ponce zona urbana, Puerto Rico",145399,3291,2397,902,1164,3267,4188,4690,4284,4026,3618,2099,1393,1034,2723,5136,5084,3998,5012,4513,5606,5300,3917,4595,5270,1053,1801,2577,1853,1176,729,1838,1964,3279,2434,1450,2215,72,63820,2009,7263820
2599,"San Juan zona urbana, Puerto Rico",406603,8371,5550,4223,2461,6478,13994,14035,13935,11547,8327,5581,2407,3799,7775,15425,14963,12622,14305,11366,12682,12820,10881,10868,12931,3247,4579,5915,4373,3562,4001,4777,5350,9338,8682,7345,6835,72,76770,2009,7276770
2600,"Mayagüez zona urbana, Puerto Rico",74154,1664,1363,941,606,1932,3125,2363,1973,1925,1405,1327,1155,570,1525,3018,2401,1823,2301,2247,1741,2708,2036,2260,2234,498,981,1299,712,808,778,985,1270,1510,1415,1406,759,72,52431,2009,7252431
2601,"Bayamón zona urbana, Puerto Rico",195815,4293,2904,1414,1567,4112,7128,5889,5940,6491,4398,2805,1814,1135,3768,6261,6657,5449,7333,5715,5779,7274,4970,5331,7324,1933,2336,3180,3090,2189,798,2481,2554,5408,4659,2521,2133,72,06593,2009,7206593

In [117]:
age_result_05["Female!!15 to 17 years"].head()

0    4597
1    1254
2    3794
3    4022
4    4429
Name: Female!!15 to 17 years, dtype: int64

In [118]:
# Calculation for 15-44 years.
age_result_05['Per_15to44_years(%)'] = 100*round((age_result_05['Male!!15 to 17 years']+age_result_05['Male!!18 and 19 years']\
                                             +age_result_05['Male!!20 years']+age_result_05['Male!!21 years']\
                                             +age_result_05['Male!!22 to 24 years']+age_result_05['Male!!25 to 29 years']\
                                             +age_result_05['Male!!30 to 34 years']+age_result_05['Male!!35 to 39 years']\
                                             +age_result_05['Male!!40 to 44 years']+age_result_05['Female!!15 to 17 years']\
                                             +age_result_05['Female!!18 and 19 years']+age_result_05['Female!!20 years']\
                                             +age_result_05['Female!!21 years']+age_result_05['Female!!22 to 24 years']\
                                             +age_result_05['Female!!25 to 29 years']+age_result_05['Female!!30 to 34 years']\
                                             +age_result_05['Female!!35 to 39 years']+age_result_05['Female!!40 to 44 years'])\
                                            /age_result_05['Pop_Total'],4)

In [119]:
# Calculation for 18 years and over

age_result_05['Per_18_years_and_over(%)'] = 100*round((age_result_05['Pop_Total']-(age_result_05['Male!!Under 5 years']\
                                                                            +age_result_05['Male!!5 to 9 years']\
                                                                            +age_result_05['Male!!10 to 14 years']\
                                                                            +age_result_05['Male!!15 to 17 years']\
                                                                            +age_result_05['Female!!Under 5 years']\
                                                                            +age_result_05['Female!!5 to 9 years']\
                                                                            +age_result_05['Female!!10 to 14 years']\
                                                                            +age_result_05['Female!!15 to 17 years']))\
                                               /age_result_05['Pop_Total'],4)

In [120]:
# calculation for 65 years and over

age_result_05['Per_65_years_and_over(%)'] = 100*round((age_result_05['Male!!65 and 66 years']+age_result_05['Male!!67 to 69 years']\
                                                +age_result_05['Male!!70 to 74 years']+age_result_05['Male!!75 to 79 years']\
                                                +age_result_05['Male!!80 to 84 years']+age_result_05['Male!!85 years and over']\
                                                +age_result_05['Female!!65 and 66 years']+age_result_05['Female!!67 to 69 years']\
                                                +age_result_05['Female!!70 to 74 years']+age_result_05['Female!!75 to 79 years']\
                                                +age_result_05['Female!!80 to 84 years']+age_result_05['Female!!85 years and over'])\
                                               /age_result_05['Pop_Total'],4)

In [121]:

age_result_05.head()

,NAME,Pop_Total,Male!!15 to 17 years,Male!!18 and 19 years,Male!!20 years,Male!!21 years,Male!!22 to 24 years,Male!!25 to 29 years,Male!!30 to 34 years,Male!!35 to 39 years,Male!!40 to 44 years,Female!!15 to 17 years,Female!!18 and 19 years,Female!!20 years,Female!!21 years,Female!!22 to 24 years,Female!!25 to 29 years,Female!!30 to 34 years,Female!!35 to 39 years,Female!!40 to 44 years,Male!!Under 5 years,Male!!5 to 9 years,Male!!10 to 14 years,Female!!Under 5 years,Female!!5 to 9 years,Female!!10 to 14 years,Male!!65 and 66 years,Male!!67 to 69 years,Male!!70 to 74 years,Male!!75 to 79 years,Male!!80 to 84 years,Male!!85 years and over,Female!!65 and 66 years,Female!!67 to 69 years,Female!!70 to 74 years,Female!!75 to 79 years,Female!!80 to 84 years,Female!!85 years and over,Fips_State,Fips_Place,Year,Fips_State_Place,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
0,"Birmingham city, Alabama",222154,4643,3188,2222,1370,5172,7418,7524,6840,7642,4597,4057,1047,2746,4333,8366,8903,7863,8854,9507,6902,9621,7915,6632,7782,1266,1465,2639,1467,1141,1005,2126,2269,3514,4186,2565,2240,01,07000,2005,0107000,43.57,74.07,11.65
1,"Hoover city, Alabama",74473,1160,978,0,62,1754,2751,2607,2639,2452,1254,686,264,291,1063,3737,2596,3066,2831,2929,2022,2488,3071,2249,3028,394,555,1215,641,290,532,354,873,1033,926,1176,189,01,35896,2005,0135896,40.54,75.56,10.98
2,"Huntsville city, Alabama",158618,3207,1917,805,790,4400,5281,4835,4462,7529,3794,1842,1755,834,4209,5480,5028,4459,7853,4794,4733,6480,4521,3070,4758,1280,2156,3860,1529,1208,482,1556,2979,2873,2735,1684,974,01,37000,2005,0137000,43.17,77.71,14.70
3,"Mobile city, Alabama",193332,4211,2537,1592,1269,3589,6801,5938,5257,5961,4022,2536,1511,1933,4250,8110,6486,7024,7042,7121,7348,6510,7359,7392,6728,1052,2348,2316,2140,1648,1000,1381,2207,3609,3803,2843,1810,01,50000,2005,0150000,41.42,73.78,13.53
4,"Montgomery city, Alabama",193042,3765,2577,660,2306,3412,5681,5861,6799,5580,4429,2222,1390,2376,3985,6638,6502,7284,7513,7655,7560,6740,7546,7547,6830,2333,996,2065,1610,1058,947,1359,1500,3949,2513,2290,1684,01,51000,2005,0151000,40.91,73.03,11.55

In [122]:
age_result_05.columns

Index(['NAME', 'Pop_Total', 'Male!!15 to 17 years', 'Male!!18 and 19 years',
       'Male!!20 years', 'Male!!21 years', 'Male!!22 to 24 years',
       'Male!!25 to 29 years', 'Male!!30 to 34 years', 'Male!!35 to 39 years',
       'Male!!40 to 44 years', 'Female!!15 to 17 years',
       'Female!!18 and 19 years', 'Female!!20 years', 'Female!!21 years',
       'Female!!22 to 24 years', 'Female!!25 to 29 years',
       'Female!!30 to 34 years', 'Female!!35 to 39 years',
       'Female!!40 to 44 years', 'Male!!Under 5 years', 'Male!!5 to 9 years',
       'Male!!10 to 14 years', 'Female!!Under 5 years', 'Female!!5 to 9 years',
       'Female!!10 to 14 years', 'Male!!65 and 66 years',
       'Male!!67 to 69 years', 'Male!!70 to 74 years', 'Male!!75 to 79 years',
       'Male!!80 to 84 years', 'Male!!85 years and over',
       'Female!!65 and 66 years', 'Female!!67 to 69 years',
       'Female!!70 to 74 years', 'Female!!75 to 79 years',
       'Female!!80 to 84 years', 'Female!!85 years and over', 'Fips_State',
       'Fips_Place', 'Year', 'Fips_State_Place', 'Per_15to44_years(%)',
       'Per_18_years_and_over(%)', 'Per_65_years_and_over(%)'],
      dtype='object')

In [123]:
# Filter only the necessary columns
age_final_05 = age_result_05[['NAME','Per_15to44_years(%)','Per_18_years_and_over(%)', \
                              'Per_65_years_and_over(%)','Fips_State',\
                              'Fips_Place', 'Year', 'Fips_State_Place' ]]

In [124]:
age_final_05.head()

,NAME,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%),Fips_State,Fips_Place,Year,Fips_State_Place
0,"Birmingham city, Alabama",43.57,74.07,11.65,01,07000,2005,0107000
1,"Hoover city, Alabama",40.54,75.56,10.98,01,35896,2005,0135896
2,"Huntsville city, Alabama",43.17,77.71,14.70,01,37000,2005,0137000
3,"Mobile city, Alabama",41.42,73.78,13.53,01,50000,2005,0150000
4,"Montgomery city, Alabama",40.91,73.03,11.55,01,51000,2005,0151000

In [125]:
wave_2_final_05= pd.merge(wave_2_05 , age_final_05, how='left',on=['Fips_State_Place','Year','NAME','Fips_State', 'Fips_Place'])

In [126]:
wave_2_final_05.head()

,NAME,Pop_Total,Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
0,"Independence city, Missouri",111842,57505,54337,99498,4218,689,129,54,29,35000,2005,2935000,1,None,None,39.20,77.45,14.87
1,"Kansas City city, Missouri",440885,212392,228493,271210,132187,10878,1988,1054,29,38000,2005,2938000,1,404890,35995,44.74,75.39,10.56
2,"Lee's Summit city, Missouri",86357,40180,46177,78574,4712,821,268,116,29,41348,2005,2941348,1,None,None,39.48,69.75,10.24
3,"O'Fallon city, Missouri",67875,34618,33257,62989,3406,682,0,0,29,54074,2005,2954074,1,None,None,46.09,69.50,6.16
4,"St. Joseph city, Missouri",68971,32857,36114,64150,3038,457,395,0,29,64550,2005,2964550,1,None,None,42.88,75.05,13.79

In [127]:
wave_2_final_05.tail()

,NAME,Pop_Total,Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Fips_State,Fips_Place,Year,Fips_State_Place,NYU_500_Largest,Pop_Nonhispanic,Pop_Hispanic,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%)
2597,"St. Charles city, Missouri",65649,33299,32350,None,None,None,None,None,29,64082,2009,2964082,0,64050,1599,39.00,79.46,16.75
2598,"Boynton Beach city, Florida",69643,32782,36861,None,None,None,None,None,12,07875,2009,1207875,1,61495,8148,36.36,81.54,23.53
2599,"Loveland city, Colorado",66213,30566,35647,None,None,None,None,None,08,46465,2009,0846465,1,57294,8919,40.56,76.14,14.59
2600,"West Bloomfield Township CDP, Michigan",64005,31374,32631,None,None,None,None,None,26,85510,2009,2685510,0,63116,889,34.66,78.13,13.50
2601,"Macon city, Georgia",92389,39645,52744,None,None,None,None,None,13,49000,2009,1349000,1,91140,1249,42.31,74.54,12.97

## Treating NONE data and change column type to integer and float for population and percentage columns.
 I will mark this value as -998 which is N/A data.

In [128]:
# fill none value with -998
wave_2_final_05.fillna("-998",inplace=True)

In [129]:
# Before Calculation, change column type from string to int.

int_col = ['Pop_Total', 'Pop_Male', 'Pop_Female',
       'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',
       'Pop_Nonhispanic', 'Pop_Hispanic']

for col in int_col :
    wave_2_final_05[col] = wave_2_final_05[col].astype(int)
    
    
# Percentage to Float
float_col = ['Per_15to44_years(%)','Per_18_years_and_over(%)', 'Per_65_years_and_over(%)']


for col in float_col:
    wave_2_final_05[col] = wave_2_final_05[col].astype(float)

In [130]:
# Split NAME into city and state name
wave_2_final_05[['City_Name','St_Name']]=wave_2_final_05['NAME'].str.split(",",expand=True)

In [131]:
wave_2_final_05.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2602 entries, 0 to 2601
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NAME                      2602 non-null   object
 1   Pop_Total                 2602 non-null   int64
 2   Pop_Male                  2602 non-null   int64
 3   Pop_Female                2602 non-null   int64
 4   Pop_White                 2602 non-null   int64
 5   Pop_Black                 2602 non-null   int64
 6   Pop_Asian                 2602 non-null   int64
 7   Pop_AIAN                  2602 non-null   int64
 8   Pop_NHOPI                 2602 non-null   int64
 9   Fips_State                2602 non-null   object
 10  Fips_Place                2602 non-null   object
 11  Year                      2602 non-null   int64
 12  Fips_State_Place          2602 non-null   object
 13  NYU_500_Largest           2602 non-null   int64
 14  Pop_Nonhispanic           2602 non-null   int64
 15  Pop_Hispanic              2602 non-null   int64
 16  Per_15to44_years(%)       2602 non-null   float64
 17  Per_18_years_and_over(%)  2602 non-null   float64
 18  Per_65_years_and_over(%)  2602 non-null   float64
 19  City_Name                 2602 non-null   object
 20  St_Name                   2602 non-null   object
dtypes: float64(3), int64(12), object(6)
memory usage: 447.2+ KB

#### Create Dataframe to CSV and Excel File

In [132]:

# Re-order the dataset
wave_2_final_05_a = wave_2_final_05[['Fips_State','Fips_Place','Fips_State_Place','City_Name','St_Name','NYU_500_Largest',\
              'Year','Pop_Total','Per_15to44_years(%)','Per_18_years_and_over(%)', 'Per_65_years_and_over(%)',\
              'Pop_Male', 'Pop_Female', 'Pop_White', 'Pop_Black', 'Pop_Asian', 'Pop_AIAN', 'Pop_NHOPI',\
              'Pop_Nonhispanic', 'Pop_Hispanic']]

wave_2_final_05_a.to_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/Cities_Dataset_Year/Year_2005-2009/place_pop_2005_2009_asrh.csv", \
                         index=False, float_format="%.2f")
wave_2_final_05_a.to_excel(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/Cities_Dataset_Year/Year_2005-2009/place_pop_2005_2009_asrh.xlsx", \
                           index=False, float_format="%.2f")

In [133]:
# Combine All ACS1 dataframe

wave_2005_2018 = pd.concat([wave_2_final_05_a,wave_2_final2])

In [134]:
wave_2005_2018.head()

,Fips_State,Fips_Place,Fips_State_Place,City_Name,St_Name,NYU_500_Largest,Year,Pop_Total,Per_15to44_years(%),Per_18_years_and_over(%),Per_65_years_and_over(%),Pop_Male,Pop_Female,Pop_White,Pop_Black,Pop_Asian,Pop_AIAN,Pop_NHOPI,Pop_Nonhispanic,Pop_Hispanic
0,29,35000,2935000,Independence city,Missouri,1,2005,111842,39.20,77.45,14.87,57505,54337,99498,4218,689,129,54,-998,-998
1,29,38000,2938000,Kansas City city,Missouri,1,2005,440885,44.74,75.39,10.56,212392,228493,271210,132187,10878,1988,1054,404890,35995
2,29,41348,2941348,Lee's Summit city,Missouri,1,2005,86357,39.48,69.75,10.24,40180,46177,78574,4712,821,268,116,-998,-998
3,29,54074,2954074,O'Fallon city,Missouri,1,2005,67875,46.09,69.50,6.16,34618,33257,62989,3406,682,0,0,-998,-998
4,29,64550,2964550,St. Joseph city,Missouri,1,2005,68971,42.88,75.05,13.79,32857,36114,64150,3038,457,395,0,-998,-998

In [135]:
# These files are just for combining. It will be removed once all-year combined is set up
wave_2005_2018.to_csv("place_pop_2005_2018_asrh.csv", index=False,float_format="%.2f")