In [1]:
#manipulate dataframes in python
import pandas as pd
import numpy as np

#make API calls with python
import requests

#allows us to store results of API call cleanly
import json

import math
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
api_key = "a45a33bca80b5e1907adc4587be5c346b897dda7"

# Reason for choosing ACS1
The current main task is getting detailed population estimates for cities in the NYU City Health Dataset, which is the top 510 cities in the U.S. Therefore, ACS1 contains data for areas with populations of 65,000+. ACS1 will cover most cities in the NYU City Health Dataset.

# Data check up

We want to get stable data variables throughout the years, so we can rely on the data that we pull out using API. <br>
The following will be checked first.<br>
1. Do 2010-2018 ACS have same cities -using FIPS CODE
2. Stable variable for different years -  Variables and/or variable names can be changed and it can give us different metrics (for example, one year is the whole number and one year is a percentage). We want to find the most stable variables for each category, so we can use the same metrics in the final data products. The variable test will be checked on each category.

## 1. Do 2010-2018 ACS have same cities

We want to know ACS 1 year estimates of each year have the same cities. In the initial API pulls 2018, ACS1, which contains data for areas with populations of 65,000+, has 630 cities.  <br>

I will use two API data from Census 
1. ACS1 (Sex, Race, Ethnicity)
2. ACS1/subject (Age group)
<br>



ACS1 also has age, but ACS1/subject has age group. For example, ACS1 age is 1 or 5 years age groups, but the ACS1/subject age group is 15 to 44 and under 18. <br>So, we can minimize the calculation variables.

For checking number of cities in each dataset, I will check both dataset with total population and sex because these variables are present in both dataset and also variables in almost all cities, if the city has ACS dataset.

In [4]:
# For 

dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,S0101_C01_001E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [5]:
cols= ['NAME', 'Pop_Est', 'fips_state', 'fips_place']

In [6]:
# Set up each year's dataset

cities_2010 = pd.DataFrame(dic[2010][1:], columns=cols)
cities_2010["Year"]=2010


cities_2011 = pd.DataFrame(dic[2011][1:], columns=cols)
cities_2011["Year"]=2011


cities_2012 = pd.DataFrame(dic[2012][1:], columns=cols)
cities_2012["Year"]=2012

cities_2013 = pd.DataFrame(dic[2013][1:], columns=cols)
cities_2013["Year"]=2013


cities_2014 = pd.DataFrame(dic[2014][1:], columns=cols)
cities_2014["Year"]=2014


cities_2015 = pd.DataFrame(dic[2015][1:], columns=cols)
cities_2015["Year"]=2015

cities_2016 = pd.DataFrame(dic[2016][1:], columns=cols)
cities_2016["Year"]=2016

cities_2017 = pd.DataFrame(dic[2017][1:], columns=cols)
cities_2017["Year"]=2017

cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols)
cities_2018["Year"]=2018

In [7]:
cities_2010

,NAME,Pop_Est,fips_state,fips_place,Year
0,"Birmingham city, Alabama",211670,01,07000,2010
1,"Dothan city, Alabama",66121,01,21184,2010
2,"Hoover city, Alabama",80376,01,35896,2010
3,"Huntsville city, Alabama",181126,01,37000,2010
4,"Mobile city, Alabama",195249,01,50000,2010
5,"Montgomery city, Alabama",206655,01,51000,2010
6,"Tuscaloosa city, Alabama",90637,01,77256,2010
7,"Anchorage municipality, Alaska",293227,02,03000,2010
8,"Avondale city, Arizona",76446,04,04720,2010
9,"Chandler city, Arizona",236775,04,12000,2010
10,"Flagstaff city, Arizona",65976,04,23620,2010
11,"Gilbert town, Arizona",209007,04,27400,2010
12,"Glendale city, Arizona",227358,04,27820,2010
13,"Goodyear city, Arizona",65445,04,28380,2010
14,"Mesa city, Arizona",440248,04,46000,2010
15,"Peoria city, Arizona",154475,04,54050,2010
16,"Phoenix city, Arizona",1449481,04,55000,2010
17,"San Tan Valley CDP, Arizona",74977,04,64210,2010
18,"Scottsdale city, Arizona",217977,04,65000,2010
19,"Surprise city, Arizona",117826,04,71510,2010
20,"Tempe city, Arizona",162123,04,73000,2010
21,"Tucson city, Arizona",521132,04,77000,2010
22,"Yuma city, Arizona",93409,04,85540,2010
23,"Fayetteville city, Arkansas",73946,05,23290,2010
24,"Fort Smith city, Arkansas",86338,05,24550,2010
25,"Jonesboro city, Arkansas",67486,05,35710,2010
26,"Little Rock city, Arkansas",193973,05,41000,2010
27,"Springdale city, Arkansas",70751,05,66080,2010
28,"Alameda city, California",73981,06,00562,2010
29,"Alhambra city, California",83202,06,00884,2010
30,"Anaheim city, California",337259,06,02000,2010
31,"Antioch city, California",102745,06,02252,2010
32,"Apple Valley town, California",69387,06,02364,2010
33,"Arden-Arcade CDP, California",87272,06,02553,2010
34,"Bakersfield city, California",348582,06,03526,2010
35,"Baldwin Park city, California",75496,06,03666,2010
36,"Bellflower city, California",76717,06,04982,2010
37,"Berkeley city, California",112824,06,06000,2010
38,"Buena Park city, California",80766,06,08786,2010
39,"Burbank city, California",103472,06,08954,2010
40,"Camarillo city, California",65406,06,10046,2010
41,"Carlsbad city, California",105707,06,11194,2010
42,"Carson city, California",91828,06,11530,2010
43,"Chico city, California",86213,06,13014,2010
44,"Chino city, California",78237,06,13210,2010
45,"Chino Hills city, California",75070,06,13214,2010
46,"Chula Vista city, California",244789,06,13392,2010
47,"Citrus Heights city, California",83490,06,13588,2010
48,"Clovis city, California",95915,06,14218,2010
49,"Compton city, California",96558,06,15044,2010
50,"Concord city, California",122508,06,16000,2010
51,"Corona city, California",153335,06,16350,2010
52,"Costa Mesa city, California",110253,06,16532,2010
53,"Daly City city, California",101361,06,17918,2010
54,"Davis city, California",65740,06,18100,2010
55,"Downey city, California",111922,06,19766,2010
56,"East Los Angeles CDP, California",127198,06,20802,2010
57,"El Cajon city, California",99841,06,21712,2010
58,"Elk Grove city, California",153401,06,22020,2010
59,"El Monte city, California",113614,06,22230,2010
60,"Escondido city, California",144402,06,22804,2010
61,"Fairfield city, California",105580,06,23182,2010
62,"Folsom city, California",72348,06,24638,2010
63,"Fontana city, California",196778,06,24680,2010
64,"Fremont city, California",214613,06,26000,2010
65,"Fresno city, California",496147,06,27000,2010
66,"Fullerton city, California",135541,06,28000,2010
67,"Garden Grove city, California",171386,06,29000,2010
68,"Glendale city, California",191954,06,30000,2010
69,"Hawthorne city, California",84382,06,32548,2010
70,"Hayward city, California",144549,06,33000,2010
71,"Hemet city, California",79157,06,33182,2010
72,"Hesperia city, California",90486,06,33434,2010
73,"Huntington Beach city, California",190541,06,36000,2010
74,"Indio city, California",76512,06,36448,2010
75,"Inglewood city, California",109799,06,36546,2010
76,"Irvine city, California",212982,06,36770,2010
77,"Lake Forest city, California",77482,06,39496,2010
78,"Lakewood city, California",80154,06,39892,2010
79,"Lancaster city, California",156786,06,40130,2010
80,"Livermore city, California",81178,06,41992,2010
81,"Long Beach city, California",462793,06,43000,2010
82,"Los Angeles city, California",3797144,06,44000,2010
83,"Lynwood city, California",69863,06,44574,2010
84,"Manteca city, California",67338,06,45484,2010
85,"Menifee city, California",78018,06,46842,2010
86,"Merced city, California",79254,06,46898,2010
87,"Milpitas city, California",67011,06,47766,2010
88,"Mission Viejo city, California",93585,06,48256,2010
89,"Modesto city, California",201520,06,48354,2010
90,"Moreno Valley city, California",194592,06,49270,2010
91,"Mountain View city, California",74320,06,49670,2010
92,"Murrieta city, California",104108,06,50076,2010
93,"Napa city, California",77122,06,50258,2010
94,"Newport Beach city, California",85442,06,51182,2010
95,"Norwalk city, California",105686,06,52526,2010
96,"Oakland city, California",391672,06,53000,2010
97,"Oceanside city, California",167680,06,53322,2010
98,"Ontario city, California",164517,06,53896,2010
99,"Orange city, California",136803,06,53980,2010
100,"Oxnard city, California",198484,06,54652,2010
101,"Palmdale city, California",152944,06,55156,2010
102,"Pasadena city, California",137294,06,56000,2010
103,"Perris city, California",68816,06,56700,2010
104,"Pittsburg city, California",63510,06,57456,2010
105,"Pleasanton city, California",70456,06,57792,2010
106,"Pomona city, California",149225,06,58072,2010
107,"Rancho Cucamonga city, California",165858,06,59451,2010
108,"Redding city, California",89901,06,59920,2010
109,"Redlands city, California",68994,06,59962,2010
110,"Redondo Beach city, California",66825,06,60018,2010
111,"Redwood City city, California",77013,06,60102,2010
112,"Rialto city, California",99530,06,60466,2010
113,"Richmond city, California",104059,06,60620,2010
114,"Riverside city, California",305707,06,62000,2010
115,"Roseville city, California",119335,06,62938,2010
116,"Sacramento city, California",467503,06,64000,2010
117,"Salinas city, California",151031,06,64224,2010
118,"San Bernardino city, California",210670,06,65000,2010
119,"San Buenaventura (Ventura) city, California",106730,06,65042,2010
120,"San Diego city, California",1311886,06,66000,2010
121,"San Francisco city, California",805463,06,67000,2010
122,"San Jose city, California",949197,06,68000,2010
123,"San Leandro city, California",85159,06,68084,2010
124,"San Marcos city, California",84079,06,68196,2010
125,"San Mateo city, California",97461,06,68252,2010
126,"San Ramon city, California",72404,06,68378,2010
127,"Santa Ana city, California",325483,06,69000,2010
128,"Santa Barbara city, California",88579,06,69070,2010
129,"Santa Clara city, California",116864,06,69084,2010
130,"Santa Clarita city, California",176535,06,69088,2010
131,"Santa Maria city, California",99747,06,69196,2010
132,"Santa Monica city, California",89861,06,70000,2010
133,"Santa Rosa city, California",168244,06,70098,2010
134,"Simi Valley city, California",124596,06,72016,2010
135,"South Gate city, California",94503,06,73080,2010
136,"Stockton city, California",292747,06,75000,2010
137,"Sunnyvale city, California",140549,06,77000,2010
138,"Temecula city, California",100751,06,78120,2010
139,"Thousand Oaks city, California",127041,06,78582,2010
140,"Torrance city, California",145618,06,80000,2010
141,"Tracy city, California",83223,06,80238,2010
142,"Turlock city, California",68663,06,80812,2010
143,"Tustin city, California",75769,06,80854,2010
144,"Union City city, California",69696,06,81204,2010
145,"Upland city, California",73991,06,81344,2010
146,"Vacaville city, California",92623,06,81554,2010
147,"Vallejo city, California",116217,06,81666,2010
148,"Victorville city, California",116305,06,82590,2010
149,"Visalia city, California",124866,06,82954,2010
150,"Vista city, California",94170,06,82996,2010
151,"West Covina city, California",106221,06,84200,2010
152,"Westminster city, California",89971,06,84550,2010
153,"Whittier city, California",85433,06,85292,2010
154,"Yorba Linda city, California",64414,06,86832,2010
155,"Arvada city, Colorado",107604,08,03455,2010
156,"Aurora city, Colorado",326719,08,04000,2010
157,"Boulder city, Colorado",97585,08,07850,2010
158,"Centennial city, Colorado",100909,08,12815,2010
159,"Colorado Springs city, Colorado",419586,08,16000,2010
160,"Denver city, Colorado",604414,08,20000,2010
161,"Fort Collins city, Colorado",144453,08,27425,2010
162,"Greeley city, Colorado",93389,08,32155,2010
163,"Highlands Ranch CDP, Colorado",95503,08,36410,2010
164,"Lakewood city, Colorado",143230,08,43000,2010
165,"Longmont city, Colorado",86429,08,45970,2010
166,"Loveland city, Colorado",67100,08,46465,2010
167,"Pueblo city, Colorado",106865,08,62000,2010
168,"Thornton city, Colorado",119324,08,77290,2010
169,"Westminster city, Colorado",106518,08,83835,2010
170,"Bridgeport city, Connecticut",144521,09,08000,2010
171,"Danbury city, Connecticut",81043,09,18430,2010
172,"Hartford city, Connecticut",124847,09,37000,2010
173,"New Britain city, Connecticut",73247,09,50370,2010
174,"New Haven city, Connecticut",129849,09,52000,2010
175,"Norwalk city, Connecticut",85793,09,55990,2010
176,"Stamford city, Connecticut",122902,09,73000,2010
177,"Waterbury city, Connecticut",110430,09,80000,2010
178,"Wilmington city, Delaware",70921,10,77580,2010
179,"Washington city, District of Columbia",604453,11,50000,2010
180,"Alafaya CDP, Florida",84809,12,00410,2010
181,"Boca Raton city, Florida",84604,12,07300,2010
182,"Boynton Beach city, Florida",68380,12,07875,2010
183,"Brandon CDP, Florida",102939,12,08150,2010
184,"Cape Coral city, Florida",154668,12,10275,2010
185,"Clearwater city, Florida",107697,12,12875,2010
186,"Coral Springs city, Florida",121492,12,14400,2010
187,"Davie town, Florida",92290,12,16475,2010
188,"Deerfield Beach city, Florida",75245,12,16725,2010
189,"Deltona city, Florida",85183,12,17200,2010
190,"Fort Lauderdale city, Florida",166039,12,24000,2010
191,"Fort Myers city, Florida",62429,12,24125,2010
192,"Gainesville city, Florida",124433,12,25175,2010
193,"Hialeah city, Florida",225461,12,30000,2010
194,"Hollywood city, Florida",141202,12,32000,2010
195,"Jacksonville city, Florida",823316,12,35000,2010
196,"Kendall CDP, Florida",82561,12,36100,2010
197,"Lakeland city, Florida",97530,12,38250,2010
198,"Largo city, Florida",77663,12,39425,2010
199,"Lauderhill city, Florida",67100,12,39550,2010
200,"Lehigh Acres CDP, Florida",88196,12,39925,2010
201,"Melbourne city, Florida",76083,12,43975,2010
202,"Miami city, Florida",400892,12,45000,2010
203,"Miami Beach city, Florida",88110,12,45025,2010
204,"Miami Gardens city, Florida",107559,12,45060,2010
205,"Miramar city, Florida",122438,12,45975,2010
206,"Orlando city, Florida",239037,12,53000,2010
207,"Palm Bay city, Florida",103225,12,54000,2010
208,"Palm Coast city, Florida",77473,12,54200,2010
209,"Pembroke Pines city, Florida",155252,12,55775,2010
210,"Plantation city, Florida",85217,12,57425,2010
211,"Pompano Beach city, Florida",100154,12,58050,2010
212,"Port St. Lucie city, Florida",165153,12,58715,2010
213,"Riverview CDP, Florida",66415,12,60950,2010
214,"St. Petersburg city, Florida",244818,12,63000,2010
215,"Spring Hill CDP, Florida",97103,12,68350,2010
216,"Sunrise city, Florida",84717,12,69700,2010
217,"Tallahassee city, Florida",181734,12,70600,2010
218,"Tampa city, Florida",336945,12,71000,2010
219,"Town 'n' Country CDP, Florida",81175,12,72145,2010
220,"Weston city, Florida",65528,12,76582,2010
221,"West Palm Beach city, Florida",100175,12,76600,2010
222,"Albany city, Georgia",78971,13,01052,2010
223,Athens-Clarke County unified government (balan...,115465,13,03440,2010
224,"Atlanta city, Georgia",422338,13,04000,2010
225,Augusta-Richmond County consolidated governmen...,196386,13,04204,2010
226,"Columbus city, Georgia",190417,13,19000,2010
227,"Johns Creek city, Georgia",77207,13,42425,2010
228,"Macon city, Georgia",91524,13,49000,2010
229,"Roswell city, Georgia",88908,13,67284,2010
230,"Sandy Springs city, Georgia",94441,13,68516,2010
231,"Savannah city, Georgia",136651,13,69000,2010
232,"Warner Robins city, Georgia",66757,13,80508,2010
233,"Urban Honolulu CDP, Hawaii",338909,15,71550,2010
234,"Boise City city, Idaho",206286,16,08830,2010
235,"Meridian city, Idaho",75324,16,52120,2010
236,"Nampa city, Idaho",81781,16,56260,2010
237,"Arlington Heights village, Illinois",77009,17,02154,2010
238,"Aurora city, Illinois",193582,17,03012,2010
239,"Bloomington city, Illinois",76730,17,06613,2010
240,"Bolingbrook village, Illinois",73027,17,07133,2010
241,"Decatur city, Illinois",76268,17,18823,2010
242,"Champaign city, Illinois",81164,17,12385,2010
243,"Chicago city, Illinois",2698831,17,14000,2010
244,"Cicero town, Illinois",84002,17,14351,2010
245,"Elgin city, Illinois",108273,17,23074,2010
246,"Evanston city, Illinois",74549,17,24582,2010
247,"Joliet city, Illinois",150856,17,38570,2010
248,"Naperville city, Illinois",141483,17,51622,2010
249,"Palatine village, Illinois",68596,17,57225,2010
250,"Peoria city, Illinois",114966,17,59000,2010
251,"Rockford city, Illinois",152220,17,65000,2010
252,"Schaumburg village, Illinois",73279,17,68003,2010
253,"Skokie village, Illinois",64861,17,70122,2010
254,"Springfield city, Illinois",116188,17,72000,2010
255,"Waukegan city, Illinois",87729,17,79293,2010
256,"Bloomington city, Indiana",81096,18,05860,2010
257,"Carmel city, Indiana",79447,18,10342,2010
258,"Evansville city, Indiana",115833,18,22000,2010
259,"Fishers town, Indiana",77579,18,23278,2010
260,"Fort Wayne city, Indiana",253696,18,25000,2010
261,"Gary city, Indiana",80840,18,27000,2010
262,"Hammond city, Indiana",80812,18,31000,2010
263,"Indianapolis city (balance), Indiana",824199,18,36003,2010
264,"Lafayette city, Indiana",65261,18,40788,2010
265,"Muncie city, Indiana",68651,18,51876,2010
266,"South Bend city, Indiana",107072,18,71000,2010
267,"Cedar Rapids city, Iowa",126498,19,12000,2010
268,"Davenport city, Iowa",100068,19,19000,2010
269,"Des Moines city, Iowa",204196,19,21000,2010
270,"Iowa City city, Iowa",68027,19,38595,2010
271,"Sioux City city, Iowa",82378,19,73335,2010
272,"Waterloo city, Iowa",68472,19,82425,2010
273,"Kansas City city, Kansas",147798,20,36000,2010
274,"Lawrence city, Kansas",92718,20,38900,2010
275,"Olathe city, Kansas",126256,20,52575,2010
276,"Overland Park city, Kansas",173909,20,53775,2010
277,"Topeka city, Kansas",127727,20,71000,2010
278,"Wichita city, Kansas",383142,20,79000,2010
279,"Lexington-Fayette urban county, Kentucky",296765,21,46027,2010
280,Louisville/Jefferson County metro government (...,598230,21,48006,2010
281,"Baton Rouge city, Louisiana",229859,22,05000,2010
282,"Kenner city, Louisiana",66681,22,39475,2010
283,"Lafayette city, Louisiana",120871,22,40735,2010
284,"Lake Charles city, Louisiana",72163,22,41155,2010
285,"Metairie CDP, Louisiana",132938,22,50115,2010
286,"New Orleans city, Louisiana",347858,22,55000,2010
287,"Shreveport city, Louisiana",198934,22,70000,2010
288,"Portland city, Maine",66150,23,60545,2010
289,"Baltimore city, Maryland",620583,24,04000,2010
290,"Columbia CDP, Maryland",102239,24,19125,2010
291,"Ellicott City CDP, Maryland",67241,24,26000,2010
292,"Frederick city, Maryland",65439,24,30325,2010
293,"Germantown CDP, Maryland",83372,24,32025,2010
294,"Silver Spring CDP, Maryland",76534,24,72450,2010
295,"Waldorf CDP, Maryland",68961,24,81175,2010
296,"Boston city, Massachusetts",621383,25,07000,2010
297,"Brockton city, Massachusetts",93973,25,09000,2010
298,"Cambridge city, Massachusetts",105337,25,11000,2010
299,"Fall River city, Massachusetts",88894,25,23000,2010
300,"Framingham CDP, Massachusetts",68461,25,24960,2010
301,"Lawrence city, Massachusetts",76526,25,34550,2010
302,"Lowell city, Massachusetts",106730,25,37000,2010
303,"Lynn city, Massachusetts",90511,25,37490,2010
304,"New Bedford city, Massachusetts",95138,25,45000,2010
305,"Newton city, Massachusetts",85302,25,45560,2010
306,"Quincy city, Massachusetts",92486,25,55745,2010
307,"Somerville city, Massachusetts",75900,25,62535,2010
308,"Springfield city, Massachusetts",153115,25,67000,2010
309,"Worcester city, Massachusetts",181264,25,82000,2010
310,"Ann Arbor city, Michigan",114101,26,03000,2010
311,"Dearborn city, Michigan",97895,26,21000,2010
312,"Detroit city, Michigan",711910,26,22000,2010
313,"Farmington Hills city, Michigan",79768,26,27440,2010
314,"Flint city, Michigan",102231,26,29000,2010
315,"Grand Rapids city, Michigan",188214,26,34000,2010
316,"Kalamazoo city, Michigan",74382,26,42160,2010
317,"Lansing city, Michigan",114017,26,46000,2010
318,"Livonia city, Michigan",96684,26,49000,2010
319,"Rochester Hills city, Michigan",71022,26,69035,2010
320,"Southfield city, Michigan",71785,26,74900,2010
321,"Sterling Heights city, Michigan",129734,26,76460,2010
322,"Troy city, Michigan",81037,26,80700,2010
323,"Warren city, Michigan",134075,26,84000,2010
324,"Westland city, Michigan",83860,26,86000,2010
325,"Wyoming city, Michigan",72209,26,88940,2010
326,"Bloomington city, Minnesota",83054,27,06616,2010
327,"Brooklyn Park city, Minnesota",75936,27,07966,2010
328,"Duluth city, Minnesota",86230,27,17000,2010
329,"Minneapolis city, Minnesota",383280,27,43000,2010
330,"Plymouth city, Minnesota",70710,27,51730,2010
331,"Rochester city, Minnesota",106963,27,54880,2010
332,"St. Cloud city, Minnesota",65885,27,56896,2010
333,"St. Paul city, Minnesota",285439,27,58000,2010
334,"Gulfport city, Mississippi",68042,28,29700,2010
335,"Jackson city, Mississippi",173315,28,36000,2010
336,"Columbia city, Missouri",108872,29,15670,2010
337,"Independence city, Missouri",117027,29,35000,2010
338,"Kansas City city, Missouri",460665,29,38000,2010
339,"Lee's Summit city, Missouri",91229,29,41348,2010
340,"O'Fallon city, Missouri",79565,29,54074,2010
341,"St. Charles city, Missouri",65993,29,64082,2010
342,"St. Joseph city, Missouri",74853,29,64550,2010
343,"St. Louis city, Missouri",319156,29,65000,2010
344,"Springfield city, Missouri",159643,29,70000,2010
345,"Billings city, Montana",104491,30,06550,2010
346,"Missoula city, Montana",66905,30,50200,2010
347,"Lincoln city, Nebraska",259041,31,28000,2010
348,"Omaha city, Nebraska",410269,31,37000,2010
349,"Enterprise CDP, Nevada",118697,32,23770,2010
350,"Henderson city, Nevada",258138,32,31900,2010
351,"Las Vegas city, Nevada",584641,32,40000,2010
352,"North Las Vegas city, Nevada",217304,32,51800,2010
353,"Paradise CDP, Nevada",215586,32,54600,2010
354,"Reno city, Nevada",225818,32,60600,2010
355,"Sparks city, Nevada",90504,32,68400,2010
356,"Spring Valley CDP, Nevada",179830,32,68585,2010
357,"Sunrise Manor CDP, Nevada",185286,32,71400,2010
358,"Manchester city, New Hampshire",109655,33,45140,2010
359,"Nashua city, New Hampshire",86570,33,50260,2010
360,"Camden city, New Jersey",77331,34,10000,2010
361,"Clifton city, New Jersey",84249,34,13690,2010
362,"East Orange city, New Jersey",64299,34,19390,2010
363,"Elizabeth city, New Jersey",125222,34,21000,2010
364,"Jersey City city, New Jersey",248005,34,36000,2010
365,"Newark city, New Jersey",277232,34,51000,2010
366,"Passaic city, New Jersey",69870,34,56550,2010
367,"Paterson city, New Jersey",146377,34,57000,2010
368,"Toms River CDP, New Jersey",89390,34,73110,2010
369,"Trenton city, New Jersey",85015,34,74000,2010
370,"Union City city, New Jersey",66560,34,74630,2010
371,"Albuquerque city, New Mexico",547585,35,02000,2010
372,"Las Cruces city, New Mexico",98239,35,39380,2010
373,"Rio Rancho city, New Mexico",87954,35,63460,2010
374,"Santa Fe city, New Mexico",68157,35,70500,2010
375,"Albany city, New York",97737,36,01000,2010
376,"Buffalo city, New York",261210,36,11000,2010
377,"Cheektowaga CDP, New York",75018,36,15000,2010
378,"Mount Vernon city, New York",67397,36,49121,2010
379,"New Rochelle city, New York",77177,36,50617,2010
380,"New York city, New York",8184899,36,51000,2010
381,"Rochester city, New York",210595,36,63000,2010

In [10]:
cities_in_2010 = cities_2010['NAME'].to_list()

In [11]:
# Check 2011

cities_2011[~cities_2011['NAME'].isin(cities_in_2010)]

                                NAME Pop_Est fips_state fips_place  Year
44         Glen Burnie CDP, Maryland   69026         24      32650  2011
313        Casas Adobes CDP, Arizona   67496         04      10670  2011
367  Florence-Graham CDP, California   68626         06      24477  2011
408       Palo Alto city, California   65419         06      55282  2011
414  Rancho Cordova city, California   65614         06      59444  2011
459    Walnut Creek city, California   65232         06      83346  2011
464       Yuba City city, California   65041         06      86972  2011

In [12]:
# Check 2012

cities_2012[~cities_2012['NAME'].isin(cities_in_2010)]

                                     NAME Pop_Est fips_state fips_place  Year
1              Palo Alto city, California   66359         06      55282  2012
7         Rancho Cordova city, California   66999         06      59444  2012
37   South San Francisco city, California   65565         06      73262  2012
53          Walnut Creek city, California   65696         06      83346  2012
58             Yuba City city, California   65105         06      86972  2012
114               Pine Hills CDP, Florida   69219         12      56825  2012
216              Franklin city, Tennessee   66278         47      27740  2012
276                   Millcreek CDP, Utah   66939         49      50150  2012
306                Pasco city, Washington   64029         53      53545  2012
395             Glen Burnie CDP, Maryland   70285         24      32650  2012
471             Casas Adobes CDP, Arizona   71976         04      10670  2012
525       Florence-Graham CDP, California   63284         06      24477  2012
541        Jurupa Valley city, California   97419         06      37692  2012

In [13]:
# Check 2013

cities_2013[~cities_2013['NAME'].isin(cities_in_2010)]

                                     NAME Pop_Est fips_state fips_place  Year
33           Bossier City city, Louisiana   66334         22      08920  2013
42                 Bethesda CDP, Maryland   66364         24      07125  2013
46            Gaithersburg city, Maryland   65689         24      31175  2013
48              Glen Burnie CDP, Maryland   66760         24      32650  2013
84                  Eagan city, Minnesota   65453         27      17288  2013
85            Maple Grove city, Minnesota   65406         27      40166  2013
91               Woodbury city, Minnesota   65659         27      71428  2013
118              Bayonne city, New Jersey   65024         34      03580  2013
158           Bismarck city, North Dakota   66063         38      07200  2013
204              Franklin city, Tennessee   68872         47      27740  2013
206          Johnson City city, Tennessee   65796         47      38320  2013
221             Kirkland city, Washington   84434         53      35940  2013
222                Pasco city, Washington   70345         53      53545  2013
295                  Victoria city, Texas   65097         48      75428  2013
327             Casas Adobes CDP, Arizona   69653         04      10670  2013
346      North Little Rock city, Arkansas   66086         05      50450  2013
362            Carmichael CDP, California   66747         06      11390  2013
398        Jurupa Valley city, California   98036         06      37692  2013
424            Palo Alto city, California   66638         06      55282  2013
430       Rancho Cordova city, California   67919         06      59444  2013
444         San Clemente city, California   65021         06      65084  2013
461  South San Francisco city, California   66174         06      73262  2013
462        South Whittier CDP, California   65365         06      73430  2013
478         Walnut Creek city, California   66890         06      83346  2013
483            Yuba City city, California   65410         06      86972  2013
526               Kissimmee city, Florida   65186         12      36950  2013
540               Pine Hills CDP, Florida   67295         12      56825  2013

In [14]:
# Check 2015

cities_2015[~cities_2015['NAME'].isin(cities_in_2010)]

,NAME,Pop_Est,fips_state,fips_place,Year
9,"Casas Adobes CDP, Arizona",65265,04,10670,2015
28,"North Little Rock city, Arkansas",66506,05,50450,2015
44,"Carmichael CDP, California",63215,06,11390,2015
65,"Florence-Graham CDP, California",66359,06,24477,2015
81,"Jurupa Valley city, California",100314,06,37692,2015
82,"Laguna Niguel city, California",65812,06,39248,2015
108,"Palo Alto city, California",66848,06,55282,2015
114,"Rancho Cordova city, California",71026,06,59444,2015
125,"Brentwood CDP, New York",63792,36,08026,2015
149,"Bismarck city, North Dakota",70240,38,07200,2015
195,"Franklin city, Tennessee",72635,47,27740,2015
197,"Johnson City city, Tennessee",65369,47,38320,2015
213,"Cedar Park city, Texas",64837,48,13552,2015
215,"Conroe city, Texas",68592,48,16432,2015
241,"New Braunfels city, Texas",69923,48,50820,2015
256,"Victoria city, Texas",67581,48,75428,2015
266,"South Jordan city, Utah",66639,49,70850,2015
290,"Kirkland city, Washington",87267,53,35940,2015
291,"Marysville city, Washington",66773,53,43955,2015
292,"Pasco city, Washington",68097,53,53545,2015
322,"San Clemente city, California",65532,06,65084,2015
339,"South San Francisco city, California",67271,06,73262,2015
355,"Walnut Creek city, California",68906,06,83346,2015
360,"Yuba City city, California",66944,06,86972,2015
364,"Broomfield city, Colorado",65065,08,09280,2015
396,"Delray Beach city, Florida",66261,12,17100,2015
403,"Homestead city, Florida",66500,12,32275,2015
406,"Kissimmee city, Florida",69152,12,36950,2015
420,"Pine Hills CDP, Florida",76081,12,56825,2015
422,"Poinciana CDP, Florida",73943,12,57900,2015
431,"The Villages CDP, Florida",-999999999,12,71625,2015
441,"Macon-Bibb County, Georgia",153459,13,49008,2015
480,"Ames city, Iowa",65052,19,01855,2015
491,"Shawnee city, Kansas",65058,20,64500,2015
497,"Bossier City city, Louisiana",68097,22,08920,2015
509,"Gaithersburg city, Maryland",67445,24,31175,2015
511,"Glen Burnie CDP, Maryland",69859,24,32650,2015
512,"Rockville city, Maryland",66998,24,67675,2015
548,"Eagan city, Minnesota",66288,27,17288,2015
549,"Maple Grove city, Minnesota",68381,27,40166,2015
555,"Woodbury city, Minnesota",67850,27,71428,2015
582,"Bayonne city, New Jersey",66303,34,03580,2015

In [15]:
# Check 2018
cities_2018[~cities_2018['NAME'].isin(cities_in_2010)]

,NAME,Pop_Est,fips_state,fips_place,Year
12,"Palm Harbor CDP, Florida",65994,12,54350,2018
13,"Alpharetta city, Georgia",66263,13,01696,2018
24,"Conroe city, Texas",87656,48,16432,2018
25,"Marysville city, Washington",69765,53,43955,2018
32,"Delray Beach city, Florida",69356,12,17100,2018
37,"Woodbury city, Minnesota",71299,27,71428,2018
38,"Bayonne city, New Jersey",65082,34,03580,2018
45,"New Braunfels city, Texas",85566,48,50820,2018
46,"South Jordan city, Utah",74155,49,70850,2018
48,"Auburn city, Alabama",65737,01,03076,2018
53,"Florence-Graham CDP, California",63621,06,24477,2018
60,"Ames city, Iowa",67155,19,01855,2018
62,"Glen Burnie CDP, Maryland",65987,24,32650,2018
63,"Lakeville city, Minnesota",65871,27,35180,2018
91,"Casas Adobes CDP, Arizona",75694,04,10670,2018
115,"South Whittier CDP, California",65577,06,73430,2018
126,"Georgetown city, Texas",74176,48,29336,2018
131,"Castro Valley CDP, California",63226,06,11964,2018
133,"Ankeny city, Iowa",65282,19,02305,2018
143,"West Des Moines city, Iowa",67127,19,83910,2018
152,"Victoria city, Texas",67020,48,75428,2018
163,"Homestead city, Florida",70469,12,32275,2018
165,"Shawnee city, Kansas",65844,20,64500,2018
181,"Framingham city, Massachusetts",73123,25,24960,2018
186,"Lehi city, Utah",66029,49,44320,2018
190,"Conway city, Arkansas",66421,05,15190,2018
197,"Walnut Creek city, California",69814,06,83346,2018
203,"Kissimmee city, Florida",73596,12,36950,2018
204,"Poinciana CDP, Florida",71331,12,57900,2018
212,"North Little Rock city, Arkansas",66126,05,50450,2018
217,"Broomfield city, Colorado",69267,08,09280,2018
239,"South San Francisco city, California",67736,06,73262,2018
244,"Maple Grove city, Minnesota",71812,27,40166,2018
249,"Franklin city, Tennessee",80920,47,27740,2018
269,"Jurupa Valley city, California",108400,06,37692,2018
273,"The Hammocks CDP, Florida",64910,12,71569,2018
282,"Sammamish city, Washington",65726,53,61115,2018
289,"Yuba City city, California",66988,06,86972,2018
298,"Brentwood CDP, New York",64855,36,08026,2018
316,"South Fulton city, Georgia",97266,13,72122,2018
320,"Bossier City city, Louisiana",68222,22,08920,2018
325,"Bismarck city, North Dakota",71843,38,07200,2018
335,"Madera city, California",65711,06,45022,2018
339,"Jupiter town, Florida",65544,12,35875,2018
341,"Macon-Bibb County, Georgia",153095,13,49008,2018
352,"Lodi city, California",66995,06,42202,2018
370,"Kirkland city, Washington",89557,53,35940,2018
377,"Wellington village, Florida",65190,12,75812,2018
390,"Rogers city, Arkansas",67615,05,60410,2018
393,"Lake Elsinore city, California",68187,06,39486,2018
394,"Rocklin city, California",67231,06,62364,2018
398,"Tamarac city, Florida",66043,12,70675,2018
402,"Bowling Green city, Kentucky",68393,21,08902,2018
404,"Gaithersburg city, Maryland",68294,24,31175,2018
409,"Greenville city, South Carolina",68543,45,30850,2018
417,"North Port city, Florida",68637,12,49675,2018
434,"Daytona Beach city, Florida",68862,12,16525,2018
443,"Palo Alto city, California",66655,06,55282,2018
473,"Port Charlotte CDP, Florida",64815,12,58350,2018
499,"Rowlett city, Texas",66686,48,63572,2018
502,"Blaine city, Minnesota",65215,27,06382,2018
506,"Carmichael CDP, California",65328,06,11390,2018
510,"Pine Hills CDP, Florida",90070,12,56825,2018
511,"Noblesville city, Indiana",66358,18,54180,2018
520,"Johnson City city, Tennessee",68245,47,38320,2018
521,"Cedar Park city, Texas",75553,48,13552,2018
527,"Buckeye city, Arizona",74378,04,07940,2018
535,"Wesley Chapel CDP, Florida",65249,12,75875,2018
544,"Pasco city, Washington",71727,53,53545,2018
551,"Rancho Cordova city, California",74590,06,59444,2018
573,"Fishers city, Indiana",93790,18,23278,2018
575,"Rockville city, Maryland",68252,24,67675,2018
581,"Redmond city, Washington",67680,53,57535,2018
584,"Laguna Niguel city, California",66265,06,39248,2018
586,"San Clemente city, California",64850,06,65084,2018
587,"Santa Cruz city, California",64729,06,69112,2018
591,"The Villages CDP, Florida",-999999999,12,71625,2018
596,"Eagan city, Minnesota",66539,27,17288,2018
605,"Mansfield city, Texas",74786,48,46452,2018

In [16]:
# Check 2018 with 2017

cities_2018[~cities_2018['NAME'].isin(cities_2017['NAME'])]

                               NAME Pop_Est fips_state fips_place  Year
12         Palm Harbor CDP, Florida   65994         12      54350  2018
48             Auburn city, Alabama   65737         01      03076  2018
63        Lakeville city, Minnesota   65871         27      35180  2018
115  South Whittier CDP, California   65577         06      73430  2018
133               Ankeny city, Iowa   65282         19      02305  2018
143      West Des Moines city, Iowa   67127         19      83910  2018
181  Framingham city, Massachusetts   73123         25      24960  2018
186                 Lehi city, Utah   66029         49      44320  2018
282      Sammamish city, Washington   65726         53      61115  2018
316      South Fulton city, Georgia   97266         13      72122  2018
339           Jupiter town, Florida   65544         12      35875  2018
377     Wellington village, Florida   65190         12      75812  2018
394        Rocklin city, California   67231         06      62364  2018
499             Rowlett city, Texas   66686         48      63572  2018
502          Blaine city, Minnesota   65215         27      06382  2018
511       Noblesville city, Indiana   66358         18      54180  2018
535      Wesley Chapel CDP, Florida   65249         12      75875  2018
581        Redmond city, Washington   67680         53      57535  2018

In [17]:
# Check ACS1 API


dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631



The following is the chart for the number of cities in ACS1 and ACS1/Subject, which are same for both API.


Year | Number of Cities
-- | --
2010 | 556
2011 | 563
2012 | 569
2013 | 583
2014 | 592
2015 | 597
2016 | 606
2017 | 615
2018 | 631

When I checked each year's cities that are added, most of the cities' populations are around 65,000. Therefore, it is added when the population estimates as 65,000. <bR>

I will check with other variables (SEX, RACE, Ethnicity) to find out how many cities that we want to use. Yet, my minimum will 556 because it is the number of cities from 2010.  <br>

I found out that one city with -999999, which is The Villages CDP, Florida	-999999999. I look for meaning.

# Sex

For Sex, I want to find out right variable to use constantly throughout the year because in some year, it may give us proportion.<br>

For Sex, ACS has two main variables for SEX.

B01001_002E --> Estimate!!Total!!Male <Br>
B01001_026E --> Estimate!!Total!!Female

In [37]:

dic = {}
for year in range(2010,2019):
    dsource='acs'

    dname='acs1'
    sub = 'subject'
    cols='NAME,B01001_001E,B01001_002E,B01001_026E'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}?get={cols}'
    
    
    # Looping over each states
    
    data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
    response = requests.get(data_url)
    data=response.json()
    # Check how many place code in the each API
    print(year, len(data))
    dic[year] = data

2010 556
2011 563
2012 569
2013 583
2014 592
2015 597
2016 606
2017 615
2018 631

In [39]:
cols_sex= ['NAME', 'census_population','pop_male', 'pop_female','fips_state', 'fips_place']

# Set up each year's dataset

cities_2010 = pd.DataFrame(dic[2010][1:], columns=cols_sex)
cities_2010["Year"]=2010


cities_2011 = pd.DataFrame(dic[2011][1:], columns=cols_sex)
cities_2011["Year"]=2011


cities_2012 = pd.DataFrame(dic[2012][1:], columns=cols_sex)
cities_2012["Year"]=2012

cities_2013 = pd.DataFrame(dic[2013][1:], columns=cols_sex)
cities_2013["Year"]=2013


cities_2014 = pd.DataFrame(dic[2014][1:], columns=cols_sex)
cities_2014["Year"]=2014


cities_2015 = pd.DataFrame(dic[2015][1:], columns=cols_sex)
cities_2015["Year"]=2015

cities_2016 = pd.DataFrame(dic[2016][1:], columns=cols_sex)
cities_2016["Year"]=2016

cities_2017 = pd.DataFrame(dic[2017][1:], columns=cols_sex)
cities_2017["Year"]=2017

cities_2018 = pd.DataFrame(dic[2018][1:], columns=cols_sex)
cities_2018["Year"]=2018

In [40]:
cities_2010.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010

In [41]:
cities_2011.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Reno city, Nevada",227509,117029,110480,32,60600,2011
1,"Sparks city, Nevada",91202,46436,44766,32,68400,2011
2,"Spring Valley CDP, Nevada",191336,94592,96744,32,68585,2011
3,"Sunrise Manor CDP, Nevada",181940,92688,89252,32,71400,2011
4,"Manchester city, New Hampshire",109835,56156,53679,33,45140,2011

In [42]:
cities_2012.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",212835,97165,115670,01,07000,2012
1,"Dothan city, Alabama",68104,32389,35715,01,21184,2012
2,"Hoover city, Alabama",81627,39770,41857,01,35896,2012
3,"Huntsville city, Alabama",183076,91227,91849,01,37000,2012
4,"Mobile city, Alabama",194823,92531,102292,01,50000,2012

In [43]:
cities_2013.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Chattanooga city, Tennessee",173375,82956,90419,47,14000,2013
1,"Birmingham city, Alabama",211933,102318,109615,01,07000,2013
2,"Dothan city, Alabama",67296,32208,35088,01,21184,2013
3,"Hoover city, Alabama",84128,38013,46115,01,35896,2013
4,"Huntsville city, Alabama",186416,91771,94645,01,37000,2013

In [44]:
cities_2014.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",212653,98257,114396,01,07000,2014
1,"Dothan city, Alabama",69400,32542,36858,01,21184,2014
2,"Hoover city, Alabama",84352,40334,44018,01,35896,2014
3,"Huntsville city, Alabama",187592,90041,97551,01,37000,2014
4,"Mobile city, Alabama",194670,92585,102085,01,50000,2014

In [45]:
cities_2015.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",214911,102122,112789,01,07000,2015
1,"Dothan city, Alabama",67536,32172,35364,01,21184,2015
2,"Hoover city, Alabama",84839,38040,46799,01,35896,2015
3,"Huntsville city, Alabama",189114,91764,97350,01,37000,2015
4,"Mobile city, Alabama",194305,91275,103030,01,50000,2015

In [46]:
cities_2016.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",213434,100602,112832,01,07000,2016
1,"Dothan city, Alabama",67714,32089,35625,01,21184,2016
2,"Hoover city, Alabama",84943,40646,44297,01,35896,2016
3,"Huntsville city, Alabama",196225,96482,99743,01,37000,2016
4,"Mobile city, Alabama",192895,92787,100108,01,50000,2016

In [47]:
cities_2017.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Urban Honolulu CDP, Hawaii",350388,172554,177834,15,71550,2017
1,"Boise City city, Idaho",226567,115099,111468,16,08830,2017
2,"Meridian city, Idaho",99938,49540,50398,16,52120,2017
3,"Nampa city, Idaho",93585,48680,44905,16,56260,2017
4,"Arlington Heights village, Illinois",75097,35849,39248,17,02154,2017

In [48]:
cities_2018.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Lawrence city, Massachusetts",80370,38578,41792,25,34550,2018
1,"Clifton city, New Jersey",85272,41941,43331,34,13690,2018
2,"Parma city, Ohio",78746,39251,39495,39,61000,2018
3,"Lawrence city, Kansas",97293,48090,49203,20,38900,2018
4,"Cleveland city, Ohio",383781,188481,195300,39,16000,2018

In [49]:

# Combine all AGE group
frames = [cities_2010, cities_2011, cities_2012, cities_2013,cities_2014,cities_2015,cities_2016, cities_2017, cities_2018]

In [50]:
age_result = pd.concat(frames)

In [51]:
age_result.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010

In [56]:
age_result['fips_state_place']=age_result['fips_state']+age_result['fips_place']

In [57]:
age_result.tail()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year,fips_state_place
625,"Menifee city, California",92602,46509,46093,06,46842,2018,0646842
626,"Riverside city, California",330080,160110,169970,06,62000,2018,0662000
627,"Springfield city, Massachusetts",155029,75821,79208,25,67000,2018,2567000
628,"Dale City CDP, Virginia",68805,35840,32965,51,21088,2018,5121088
629,"South Gate city, California",94439,47917,46522,06,73080,2018,0673080

In [54]:
# Creating NYU_500_Largest to find out whether NYU dataset has this city or not.

# Pull out NYU FIPS 
# Preselect column type as object
coltype = {'fips_state':object,
          'fips_place':object,
           'fips_state_place':object}
nyu = pd.read_csv(r"/Users/jasonlim/Desktop/EFGS/Census-master/CitiesDataset/City_Health_data/nyu_fips_code.csv",\
                  dtype= coltype)

In [55]:
nyu.head()

   index state_abb fips_state fips_place fips_state_place   city_name
0      0        HI         15      00003          0015003    Honolulu
1      1        AL         01      07000          0107000  Birmingham
2      2        AL         01      35896          0135896      Hoover
3      3        AL         01      37000          0137000  Huntsville
4      4        AL         01      50000          0150000      Mobile

In [61]:
nyu_cities = list(nyu['fips_state_place'])

In [63]:
age_result['NYU_500_Largest'] = age_result['fips_state_place'].apply(lambda x:1 if x in nyu_cities else 0)

In [64]:
age_result.head()

,NAME,census_population,pop_male,pop_female,fips_state,fips_place,Year,fips_state_place,NYU_500_Largest
0,"Birmingham city, Alabama",211670,98760,112910,01,07000,2010,0107000,1
1,"Dothan city, Alabama",66121,31087,35034,01,21184,2010,0121184,0
2,"Hoover city, Alabama",80376,38694,41682,01,35896,2010,0135896,1
3,"Huntsville city, Alabama",181126,88132,92994,01,37000,2010,0137000,1
4,"Mobile city, Alabama",195249,91746,103503,01,50000,2010,0150000,1

In [65]:
age_result.to_csv("wave2_first.csv", index=False)

## Checking How many NYU cities was covered in each year

Overall average is 0.84, which means that it covered 84% of NYU cities.

In [66]:
age_result.groupby('Year').sum()

      NYU_500_Largest
Year
2010              496
2011              496
2012              496
2013              496
2014              495
2015              495
2016              495
2017              495
2018              495

As shown above, from 509 cities of NYU dataset, 495/ 496 cities are covered by ACS1. Most of cities are covered by ACS1.

# Jason's work until 6/4


Below codes will ref. for future work.

# On Monday, 6/8,

To-do
1. Check Race, Ethnicity.
2. Age group

# Data Sources

I will use Census American Community Survey for the following categories:


1. Age: pop_18+
2. Age: pop_65+
3. pop_18+pe
4. pop_65+pe
5. Sex: pop_male
6. Sex:pop_female
7. pop_male_pe
8. pop_female_pe

10. Race: pop_white
11. pop_white_pe
12. Race: pop__black
13. pop__black_pe
14. Race: pop__asian
15. pop__asian_pe
16. Race: pop__AIAN
17. pop__AIAN_pe
18. Race: pop__NHOPI
19. pop__NHOPI_pe
20. Ethnicity: pop__nonhispanic
21. Ethnicity: pop__hispanic

For pe (percentage), I will get the total ACS population estimate first. Then,in each level categories (AGE, SEX, RACE, Ethnicity) and get percentage of each fields.

In [3]:
# Sample 

year='2018'
dsource='acs'

dname='acs1'
sub = 'subject'
cols='NAME,S0101_C01_001E,S0101_C01_026E,S0101_C01_030E'

state='36'
place='51000'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}'

data_url= f'{base_url}?get={cols}&for=place:{place}&in=state:{state}&key={api_key}'
print(data_url)
response = requests.get(data_url)

print(response.text)

https://api.census.gov/data/2018/acs/acs1/subject?get=NAME,S0101_C01_001E,S0101_C01_026E,S0101_C01_030E&for=place:51000&in=state:36&key=a45a33bca80b5e1907adc4587be5c346b897dda7
[["NAME","S0101_C01_001E","S0101_C01_026E","S0101_C01_030E","state","place"],
["New York city, New York","8398748","6659492","1245480","36","51000"]]

# AGE

Age we want is 18 years or over and 65 years or over. 
In Census API data, ACS1/subject has <br>
S0101_C01_026E	Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over <br>
S0101_C01_030E	Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over <br>

Note: ACS1 has age but it does not give me 18+ or 65+.

In [4]:
# 2018 AGE DAta

year='2018'
dsource='acs'

dname='acs1'
sub = 'subject'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/{sub}?get={cols}'

cols='NAME,S0101_C01_001E,S0101_C01_026E,S0101_C01_030E'
# Looping over each states

data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
response = requests.get(data_url)
data=response.json()

In [5]:
age_2018 = pd.DataFrame(data[1:], columns=['city_name', 'Total_pop_ACS', 'pop_18+', 'pop_65+', 'fips_state', 'fips_place'])

In [6]:
age_2018.head()

,city_name,Total_pop_ACS,pop_18+,pop_65+,fips_state,fips_place
0,"Yuma city, Arizona",97917,72990,15465,04,85540
1,"Concord city, California",129681,107596,20253,06,16000
2,"East Los Angeles CDP, California",117961,89038,13381,06,20802
3,"El Cajon city, California",103229,77139,12503,06,21712
4,"Napa city, California",79261,61126,14605,06,50258

In [7]:
# DATA Pre-processing

age_2018['Total_pop_ACS'] = age_2018['Total_pop_ACS'].astype('int')
age_2018['pop_18+'] = age_2018['pop_18+'].astype('int')
age_2018['pop_65+'] = age_2018['pop_65+'].astype('int')

# Combining STATE and PLACE FIPS
age_2018['fips_state_place'] = age_2018['fips_state']+age_2018['fips_place']

# Calculate percentage

age_2018['pop_18+_pe']=100*round(age_2018['pop_18+']/age_2018['Total_pop_ACS'],4)

age_2018['pop_65+_pe']=100*round(age_2018['pop_65+']/age_2018['Total_pop_ACS'],4)

In [8]:
age_2018.head()

,city_name,Total_pop_ACS,pop_18+,pop_65+,fips_state,fips_place,fips_state_place,pop_18+_pe,pop_65+_pe
0,"Yuma city, Arizona",97917,72990,15465,04,85540,0485540,74.54,15.79
1,"Concord city, California",129681,107596,20253,06,16000,0616000,82.97,15.62
2,"East Los Angeles CDP, California",117961,89038,13381,06,20802,0620802,75.48,11.34
3,"El Cajon city, California",103229,77139,12503,06,21712,0621712,74.73,12.11
4,"Napa city, California",79261,61126,14605,06,50258,0650258,77.12,18.43

In [9]:
age_2018.to_csv("age_2018.csv", index=False)

In [10]:
age_2018.columns

Index(['city_name', 'Total_pop_ACS', 'pop_18+', 'pop_65+', 'fips_state',
       'fips_place', 'fips_state_place', 'pop_18+_pe', 'pop_65+_pe'],
      dtype='object')

In [11]:
# Remove city name from age dataset because it can cause error by small differences such as space between letter.

age_2018= age_2018[['fips_state_place', 'Total_pop_ACS', 'pop_18+', 'pop_65+','pop_18+_pe', 'pop_65+_pe' ]]

In [12]:
# for getting place ID, I will pull up wave1 data.
coltype1 = {'fips_state':object,
           'fips_place':object,
           'fips_state_place': object}
wave1= pd.read_excel("wave1.xlsx",dtype=coltype1)

In [13]:
wave1.head()

,fips_state,fips_place,fips_state_place,city_name,st_name,NYU_500_Largest,year,census_population
0,01,00124,0100124,Abbeville city,Alabama,0,2018,2563
1,01,00460,0100460,Adamsville city,Alabama,0,2018,4325
2,01,00484,0100484,Addison town,Alabama,0,2018,724
3,01,00676,0100676,Akron town,Alabama,0,2018,330
4,01,00820,0100820,Alabaster city,Alabama,0,2018,33340

In [14]:
# combine with first dataset

wave_age = pd.merge(wave1, age_2018, how='left',on='fips_state_place')

In [15]:
wave_age.head()

,fips_state,fips_place,fips_state_place,city_name,st_name,NYU_500_Largest,year,census_population,Total_pop_ACS,pop_18+,pop_65+,pop_18+_pe,pop_65+_pe
0,01,00124,0100124,Abbeville city,Alabama,0,2018,2563,NaN,NaN,NaN,NaN,NaN
1,01,00460,0100460,Adamsville city,Alabama,0,2018,4325,NaN,NaN,NaN,NaN,NaN
2,01,00484,0100484,Addison town,Alabama,0,2018,724,NaN,NaN,NaN,NaN,NaN
3,01,00676,0100676,Akron town,Alabama,0,2018,330,NaN,NaN,NaN,NaN,NaN
4,01,00820,0100820,Alabaster city,Alabama,0,2018,33340,NaN,NaN,NaN,NaN,NaN

In [16]:
# Checking Yuma City for POP ACS because it can be different
wave_age[wave_age['fips_state_place']=='0485540']

,fips_state,fips_place,fips_state_place,city_name,st_name,NYU_500_Largest,year,census_population,Total_pop_ACS,pop_18+,pop_65+,pop_18+_pe,pop_65+_pe
700,04,85540,0485540,Yuma city,Arizona,1,2018,97908,97917.0,72990.0,15465.0,74.54,15.79

In [17]:
wave_age['fips_state_place'].count()

19495

In [18]:

wave_age['pop_18+'].count()

582

In [19]:
# fill missing value with N/A code, -998

wave_age.fillna("-998",inplace=True)

# Gender, RACE, Ethnicity

For These categories, I can get it from ACS1 API.

https://api.census.gov/data/2018/acs/acs1

In [20]:
# 2018 AGE DAta

year='2018'
dsource='acs'

dname='acs1'

cols='NAME,B01001_001E,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_005E,\
B02001_004E,B02001_006E,B01001I_001E'
base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/?get={cols}'


# Looping over each states

data_url= f'{base_url}&for=place:*&in=state:*&key={api_key}'
print(data_url)
response = requests.get(data_url)
data=response.json()

https://api.census.gov/data/2018/acs/acs1/?get=NAME,B01001_001E,B01001_002E,B01001_026E,B02001_002E,B02001_003E,B02001_005E,B02001_004E,B02001_006E,B01001I_001E&for=place:*&in=state:*&key=a45a33bca80b5e1907adc4587be5c346b897dda7

In [21]:
col=['city_name', 'Total_pop_GRE', 'pop_male', 'pop_female', \
     'pop_white','pop_black','pop_asian', 'pop_AIAN', 'pop_NHOPI','pop_hispanic', 'state', 'place']

In [22]:
GRE_2018 = pd.DataFrame(data[1:], columns=col)

In [25]:
GRE_2018.head()

,city_name,Total_pop_GRE,pop_male,pop_female,pop_white,pop_black,pop_asian,pop_AIAN,pop_NHOPI,pop_hispanic,state,place
0,"Auburn city, Alabama",65737,31482,34255,48691,9784,5671,0,0,None,01,03076
1,"Birmingham city, Alabama",209294,96634,112660,56509,141377,2946,361,206,10074,01,07000
2,"Dothan city, Alabama",67814,32283,35531,43412,22262,603,53,0,None,01,21184
3,"Hoover city, Alabama",85115,39998,45117,60576,14801,4687,198,43,None,01,35896
4,"Huntsville city, Alabama",199808,95202,104606,114924,62225,6221,1300,0,13397,01,37000

In [23]:
# CHECKING YUMA CITY FOR pop total. ALL ACS have same total pop for each city.
# So, in the end, I will use just one from pop total
GRE_2018[GRE_2018['city_name']=='Yuma city, Arizona']

,city_name,Total_pop_GRE,pop_male,pop_female,pop_white,pop_black,pop_asian,pop_AIAN,pop_NHOPI,pop_hispanic,state,place
25,"Yuma city, Arizona",97917,49808,48109,81988,3018,3077,850,0,58553,04,85540

In [24]:
# DATA Pre-processing
# None mean not available, because if there is none, it shows 0. 
GRE_2018.fillna(value=pd.np.nan, inplace=True)


# change to float NOTE: NOT to integer because we have nan value

GRE_2018['Total_pop_GRE']= GRE_2018['Total_pop_GRE'].astype('float')
GRE_2018['pop_male'] = GRE_2018['pop_male'].astype('float')
GRE_2018['pop_female'] = GRE_2018['pop_female'].astype('float')
GRE_2018['pop_white'] = GRE_2018['pop_white'].astype('float')
GRE_2018['pop_black'] = GRE_2018['pop_black'].astype('float')
GRE_2018['pop_asian'] = GRE_2018['pop_asian'].astype('float')
GRE_2018['pop_AIAN'] = GRE_2018['pop_AIAN'].astype('float')
GRE_2018['pop_NHOPI'] = GRE_2018['pop_NHOPI'].astype('float')
GRE_2018['pop_hispanic']= GRE_2018['pop_hispanic'].astype('float')


# Combining STATE and PLACE FIPS
GRE_2018['fips_state_place'] = GRE_2018['state']+GRE_2018['place']

# Calculate Non Hispanic
GRE_2018['pop_nonhispanic'] = GRE_2018['Total_pop_GRE'] - GRE_2018['pop_hispanic']


# Calculate percentage
GRE_2018['pop_male_pe']        = 100*round(GRE_2018['pop_male']/GRE_2018['Total_pop_GRE'], 4)
GRE_2018['pop_female_pe']      = 100*round(GRE_2018['pop_female']/GRE_2018['Total_pop_GRE'], 4)
GRE_2018['pop_white_pe']       = 100*round(GRE_2018['pop_white']/GRE_2018['Total_pop_GRE'], 4)
GRE_2018['pop_black_pe']       = 100*round(GRE_2018['pop_black']/GRE_2018['Total_pop_GRE'], 4)  
GRE_2018['pop_asian_pe']       = 100*round(GRE_2018['pop_asian']/GRE_2018['Total_pop_GRE'], 4)  
GRE_2018['pop_AIAN_pe']        = 100*round(GRE_2018['pop_AIAN']/GRE_2018['Total_pop_GRE'], 4)  
GRE_2018['pop_NHOPI_pe']       = 100*round(GRE_2018['pop_NHOPI']/GRE_2018['Total_pop_GRE'], 4)   
GRE_2018['pop_hispanic_pe']    = 100*round(GRE_2018['pop_hispanic']/GRE_2018['Total_pop_GRE'], 4)  
GRE_2018['pop_nonhispanic_pe'] = 100*round(GRE_2018['pop_nonhispanic']/GRE_2018['Total_pop_GRE'], 4)

/Users/jasonlim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
GRE_2018.head()

,city_name,Total_pop_GRE,pop_male,pop_female,pop_white,pop_black,pop_asian,pop_AIAN,pop_NHOPI,pop_hispanic,state,place,fips_state_place,pop_nonhispanic,pop_male_pe,pop_female_pe,pop_white_pe,pop_black_pe,pop_asian_pe,pop_AIAN_pe,pop_NHOPI_pe,pop_hispanic_pe,pop_nonhispanic_pe
0,"Auburn city, Alabama",65737.0,31482.0,34255.0,48691.0,9784.0,5671.0,0.0,0.0,NaN,01,03076,0103076,NaN,47.89,52.11,74.07,14.88,8.63,0.00,0.00,NaN,NaN
1,"Birmingham city, Alabama",209294.0,96634.0,112660.0,56509.0,141377.0,2946.0,361.0,206.0,10074.0,01,07000,0107000,199220.0,46.17,53.83,27.00,67.55,1.41,0.17,0.10,4.81,95.19
2,"Dothan city, Alabama",67814.0,32283.0,35531.0,43412.0,22262.0,603.0,53.0,0.0,NaN,01,21184,0121184,NaN,47.61,52.39,64.02,32.83,0.89,0.08,0.00,NaN,NaN
3,"Hoover city, Alabama",85115.0,39998.0,45117.0,60576.0,14801.0,4687.0,198.0,43.0,NaN,01,35896,0135896,NaN,46.99,53.01,71.17,17.39,5.51,0.23,0.05,NaN,NaN
4,"Huntsville city, Alabama",199808.0,95202.0,104606.0,114924.0,62225.0,6221.0,1300.0,0.0,13397.0,01,37000,0137000,186411.0,47.65,52.35,57.52,31.14,3.11,0.65,0.00,6.70,93.30

In [26]:
GRE_2018.columns

Index(['city_name', 'Total_pop_GRE', 'pop_male', 'pop_female', 'pop_white',
       'pop_black', 'pop_asian', 'pop_AIAN', 'pop_NHOPI', 'pop_hispanic',
       'state', 'place', 'fips_state_place', 'pop_nonhispanic', 'pop_male_pe',
       'pop_female_pe', 'pop_white_pe', 'pop_black_pe', 'pop_asian_pe',
       'pop_AIAN_pe', 'pop_NHOPI_pe', 'pop_hispanic_pe', 'pop_nonhispanic_pe'],
      dtype='object')

In [27]:
# RE-Organize for file export

GRE_2018=GRE_2018[['city_name', 'Total_pop_GRE', 'pop_male', 'pop_female', 'pop_male_pe','pop_female_pe',\
                   'pop_white','pop_black', 'pop_asian', 'pop_AIAN',  'pop_NHOPI',\
                   'pop_white_pe', 'pop_black_pe', 'pop_asian_pe','pop_AIAN_pe','pop_NHOPI_pe',\
                   'pop_hispanic','pop_nonhispanic', 'pop_hispanic_pe','pop_nonhispanic_pe',\
                   'state', 'place', 'fips_state_place']]
GRE_2018.to_csv("Gender_RACE_Ethnicity_2018.csv", index=False)

In [28]:
# Check whether total_pop_GRE has same number of ACS pop est
GRE_2018[GRE_2018['city_name']=='Concord city, California']

,city_name,Total_pop_GRE,pop_male,pop_female,pop_male_pe,pop_female_pe,pop_white,pop_black,pop_asian,pop_AIAN,pop_NHOPI,pop_white_pe,pop_black_pe,pop_asian_pe,pop_AIAN_pe,pop_NHOPI_pe,pop_hispanic,pop_nonhispanic,pop_hispanic_pe,pop_nonhispanic_pe,state,place,fips_state_place
58,"Concord city, California",129681.0,62538.0,67143.0,48.22,51.78,80258.0,4753.0,14189.0,1383.0,156.0,61.89,3.67,10.94,1.07,0.12,39740.0,89941.0,30.64,69.36,06,16000,0616000

In [29]:
# Remove city name and total_pop_GRE from GRE dataset because it can cause error by small differences such as space between letter.


GRE_2018_a=GRE_2018[['fips_state_place', 'pop_male', 'pop_female', 'pop_male_pe','pop_female_pe',\
                   'pop_white','pop_black', 'pop_asian', 'pop_AIAN',  'pop_NHOPI',\
                   'pop_white_pe', 'pop_black_pe', 'pop_asian_pe','pop_AIAN_pe','pop_NHOPI_pe',\
                   'pop_hispanic','pop_nonhispanic', 'pop_hispanic_pe','pop_nonhispanic_pe']]

In [30]:
wave_2_2018 = pd.merge(wave_age , GRE_2018_a, how='left',on='fips_state_place')

In [31]:
wave_2_2018[wave_2_2018['fips_state_place']=='0485540']

,fips_state,fips_place,fips_state_place,city_name,st_name,NYU_500_Largest,year,census_population,Total_pop_ACS,pop_18+,pop_65+,pop_18+_pe,pop_65+_pe,pop_male,pop_female,pop_male_pe,pop_female_pe,pop_white,pop_black,pop_asian,pop_AIAN,pop_NHOPI,pop_white_pe,pop_black_pe,pop_asian_pe,pop_AIAN_pe,pop_NHOPI_pe,pop_hispanic,pop_nonhispanic,pop_hispanic_pe,pop_nonhispanic_pe
700,04,85540,0485540,Yuma city,Arizona,1,2018,97908,97917,72990,15465,74.54,15.79,49808.0,48109.0,50.87,49.13,81988.0,3018.0,3077.0,850.0,0.0,83.73,3.08,3.14,0.87,0.0,58553.0,39364.0,59.8,40.2

In [32]:
wave_2_2018.fillna("-998",inplace=True)

In [ ]:
wave_2_2018.to_csv("place_pop_2018.csv", index=False)
wave_2_2018.to_excel("place_pop_2018.xlsx", index=False)